.wrap-question
    padding: 40px
    border-top: 0.5px solid #e2e2e2
    h3
        color: #111111
        font-size: 20px
        font-weight: 600
.wrap-question-buttons
    display: grid
    grid-template-columns: repeat(3,auto)
    grid-gap: 15px
    margin: 20px
    .button-question-product-detail
        color: #111111
        font-size: 18px
        background-color: #fff
        border: 1px solid #CF0A2C
        &:hover
            background: #CF0A2C
            color: white
.wrap-question-input
    color: #111111
    // display: grid
    grid-template-columns: 3fr 1fr
    grid-gap: 15px
.button-question-product-detail
    color: #111111
    font-size: 18px
    background-color: #fff
    border: 0.5px solid #111111
@media (max-width: 768px)
    .wrap-question
        display: none