.wrap-question
    padding: 40px
    border-top: 0.5px solid #C6C6C6
    h3
        color: #5A5A5A
        font-size: 20px
.wrap-question-buttons
    display: grid
    grid-template-columns: repeat(3,auto)
    grid-gap: 15px
    margin: 20px
    .button-question-product-detail
        color: #5A5A5A
        font-size: 18px
        background-color: #fff
        border: 1px solid #D11E36
        &:hover
            background: #D11E36
            color: white
.wrap-question-input
    display: grid
    grid-template-columns: 3fr 1fr
    grid-gap: 15px
.button-question-product-detail
    color: #5A5A5A
    font-size: 18px
    background-color: #fff
    border: 0.5px solid #5A5A5A
@media (max-width: 768px)
    .wrap-question
        display: none