#HelpCenter {
    border-top: 2px solid #e4e4e4;
    border-bottom: 2px solid #e4e4e4;
    background: #fff;
    transition: all 0.3s ease;
    padding: 25px;
}

#HelpCenter .closed {
    height: 72px;
}

#HelpCenter .open {
    height: 343px;
}

#HelpCenter .titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 76px;
    cursor: pointer;
}

#HelpCenter .titulo h3 {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: #000000;
}

#HelpCenter .detalles {
    padding-top: 25px;
}

#HelpCenter .detalles a {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 209px auto;
    padding: 0 54px 46px 0;
}

#HelpCenter .detalles a:visited {
    text-decoration-line: none;
}

#HelpCenter .detalles a h3 {
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0;
    text-align: left;
    color: #233ad4;
    text-decoration-line: none;
}

#HelpCenter .detalles a img {
    width: 36px !important;
}
