.help {
	position: relative;
	display: -ms-grid;
	display: grid;
	-ms-grid-rows: auto auto 1fr auto;
	grid-template-rows: auto auto 1fr auto;
	height: 100vh;
}

.help a {
	color: #111111;
	font-size: 14px;
}

.help .help-top {
	z-index: 100;
	position: relative;
	padding: 60px 0px;
	background: #fbfbfb;
	-webkit-box-shadow: 0px 3px 6px #11111129;
	box-shadow: 0px 3px 6px #11111129;
}

.help .help-top .content-help-top {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (1fr) [2];
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 15px;
	margin: 0px auto;
	width: 70%;
}

.help .help-top .content-help-top h1 {
	color: #111111;
	font-size: 26px;
	font-weight: lighter;
}

.help .help-top .content-help-top .help-search {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: auto 1fr;
	grid-template-columns: auto 1fr;
	background: #ffffff;
	-webkit-box-shadow: 0px 3px 6px #11111129;
	box-shadow: 0px 3px 6px #11111129;
	border-radius: 5px;
	color: #a8a8a8;
}

.help .help-top .content-help-top .help-search .help-search-icon {
	padding: 0px 15px;
	-ms-flex-item-align: center;
	-ms-grid-row-align: center;
	align-self: center;
}

.help .help-top .content-help-top .help-search .help-result-box {
	position: absolute;
	width: 410px;
	height: 80px;
	top: 105px;
	right: 205px;
	background-color: white;
	text-decoration: none;
	overflow: auto;
	overflow-x: hidden;
	font: 400 13.3333px Arial;
}

.help .help-top .content-help-top .help-search .help-result-box::-webkit-scrollbar {
	-webkit-appearance: none;
}

.help
	.help-top
	.content-help-top
	.help-search
	.help-result-box::-webkit-scrollbar:vertical {
	width: 10px;
}

.help
	.help-top
	.content-help-top
	.help-search
	.help-result-box::-webkit-scrollbar-button:increment,
.help
	.help-top
	.content-help-top
	.help-search
	.help-result-box::-webkit-scrollbar-button {
	display: none;
}

.help
	.help-top
	.content-help-top
	.help-search
	.help-result-box::-webkit-scrollbar:horizontal {
	height: 10px;
}

.help .help-top .content-help-top .help-search .help-result-box::-webkit-scrollbar-thumb {
	background-color: #797979;
	border-radius: 20px;
	border: 2px solid #f1f2f3;
}

.help .help-top .content-help-top .help-search .help-result-box::-webkit-scrollbar-track {
	border-radius: 10px;
}
.help .help-top .content-help-top .help-search .help-result-box::-webkit-scrollbar-track {
	/*Estilos estándar experimentales (Principalmente Firefox)*/
	scrollbar-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0);
	scrollbar-width: thin;
}

.help .help-top .content-help-top .help-search .help-result-box li {
	padding: 6px;
	width: 100%;
	cursor: pointer;
}

.help .help-top .content-help-top .help-search .help-result-box li:hover {
	background-color: #535353;
}

#noneResults {
	cursor: text;
}

#noneResults:hover {
	background-color: white;
}

.listIcon {
	margin-right: 5px;
}

.help .help-top .content-help-top .help-search input {
	border: none;
}

.help .content-help {
	z-index: 0;
	position: relative;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 3fr 2fr;
	grid-template-columns: 3fr 2fr;
	grid-gap: 80px;
	margin: 0px auto;
	width: 70%;
}

.help .content-help .help-left {
	padding: 40px 0px;
}

.help .content-help .help-left a.help-button {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: auto 1fr;
	grid-template-columns: auto 1fr;
	grid-gap: 10px;
	margin-bottom: 20px;
	padding: 15px 20px;
	background-color: #fff;
	border: 0.5px solid #9e9e9e;
	border-radius: 6px;
}

.help .content-help .help-left a.help-button .help-icon svg {
	color: #888888;
}

.help .content-help .help-right {
	padding: 40px;
	background-color: #fbfbfb;
}

.help .content-help .help-right h5 {
	margin-bottom: 20px;
	color: #cf0a2c;
}

.help .content-help .help-right p {
	cursor: pointer;
}

.help .content-help .help-right svg {
	opacity: 0.5;
	color: #111111;
}

.help .content-help .help-right .help-accordion-title {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr auto;
	grid-template-columns: 1fr auto;
	grid-gap: 10px;
	padding: 15px 10px;
	border-top: 0.5px solid #111111;
	cursor: pointer;
}

.help .content-help .help-right .help-accordion-title.active p {
	color: #cf0a2c;
}

.help .content-help .help-right .help-accordion-title.active {
	display: -ms-grid;
	display: grid;
}

.help .content-help .help-right .help-accordion-title p {
	color: #111111;
	font-size: 12px;
}

.help .content-help .help-right .help-accordion-title.fisrt-element {
	border: none;
}

.help .content-help .help-right .help-accordion {
	display: none;
	padding: 0px 20px 10px 20px;
}

.help .content-help .help-right .help-accordion.helpActive {
	display: block;
}

.help .content-help .help-right .help-accordion p {
	margin-bottom: 10px;
	color: #111111;
	font-size: 12px;
}

.help-buy-accordion,
.ask-in-post-accordion {
	display: none;
	margin-left: 15px;
}

.help-buy-accordion p,
.ask-in-post-accordion p {
	display: block;
	margin: 15px 0px;
}

.help-buy-accordion.active,
.ask-in-post-accordion.active {
	display: block;
}

.help-buy-accordion-title.active,
.ask-in-post-title.active {
	color: #cf0a2c !important;
}

@media (max-width: 700px) {
	.help .help-top {
		padding: 20px 15px;
	}
	.help .help-top .content-help-top {
		width: auto;
		-ms-grid-rows: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		-ms-grid-columns: auto;
		grid-template-columns: auto;
		grid-gap: 0;
	}
	.help .help-top .content-help-top h1 {
		font-size: 20px;
	}
	.help .content-help {
		width: auto;
		-ms-grid-columns: 2fr 1fr;
		grid-template-columns: 2fr 1fr;
		min-height: auto;
		grid-gap: 15px;
	}
	.help .content-help .off {
		display: none !important;
	}
	.help .content-help .active {
		display: block;
	}
	.help .content-help .help-left {
		padding: 40px 15px 0;
	}
	.help .content-help .help-left a.help-button {
		display: -ms-grid;
		display: grid;
		grid-gap: 7px;
		margin-bottom: 15px;
		padding: 15px;
	}
	.help .content-help .help-right {
		padding: 55px 15px 0;
		min-height: auto;
	}
}

.off {
	display: none !important;
}

.helpActive {
	display: block;
}
/*# sourceMappingURL=Help.css.map */
