.help
    position: relative
    display: grid
    grid-template-rows: auto auto 1fr auto
    height: 100vh
    a
        color: #5A5A5A
        font-size: 14px
    .help-top
        z-index: 100
        position: relative
        padding: 60px 0px
        background: #FBFBFB
        box-shadow: 0px 3px 6px #00000029
        .content-help-top
            display: grid
            grid-template-columns: repeat(2,1fr)
            grid-gap: 15px
            margin: 0px auto
            width: 70%
            h1
                color: #5A5A5A
                font-size: 26px
                font-weight: lighter
            .help-search
                display: grid
                grid-template-columns: auto 1fr
                background: #FFFFFF
                box-shadow: 0px 3px 6px #00000029
                border-radius: 5px
                color: #A8A8A8
                .help-search-icon
                    padding: 0px 15px
                    align-self: center
                input
                    border: none
    .content-help
        z-index: 0
        position: relative
        display: grid
        grid-template-columns: 3fr 2fr
        grid-gap: 80px
        margin: 0px auto
        width: 70%
        .help-left
            padding: 40px 0px
            a.help-button
                display: grid
                grid-template-columns: auto 1fr
                grid-gap: 10px
                margin-bottom: 20px
                padding: 15px 20px
                background-color: #fff
                border: 0.5px solid #9E9E9E
                border-radius: 6px
                .help-icon
                    svg
                        color: #888888
        .help-right
            padding: 40px
            background-color: #FBFBFB
            h5
                margin-bottom: 20px
                color: #D11E36
            p
                cursor: pointer
            svg
                opacity: 0.50
                color: #5A5A5A
            .help-accordion-title
                display: grid
                grid-template-columns: 1fr auto
                grid-gap: 10px
                padding: 15px 10px
                border-top: 0.5px solid #5A5A5A
                cursor: pointer
                &.active
                    p
                        color: #D11E36
                &.active
                    display: grid
                p
                    color: #5A5A5A
                    font-size: 12px
                &.fisrt-element
                    border: none
            .help-accordion
                display: none
                padding: 0px 20px 10px 20px
                &.active
                    display: block
                p
                    margin-bottom: 10px
                    color: #5A5A5A
                    font-size: 12px

.help-buy-accordion, .ask-in-post-accordion
    display: none
    margin-left: 15px
    p
        display: block
        margin: 15px 0px
    &.active
        display: block

.help-buy-accordion-title.active, .ask-in-post-title.active
    color: #CF0A2C !important

@media(max-width:700px)
    .help 
        .help-top
            padding: 20px 15px
            .content-help-top
                width: auto
                grid-template-rows: 1fr 1fr
                grid-template-columns: auto
                grid-gap: 0
                h1
                    font-size: 20px
        .content-help
            width: auto
            grid-template-columns: 2fr 1fr;
            min-height: auto
            grid-gap: 15px
            .off
                display: none !important
            .active
                display: block
            .help-left
                padding: 40px 15px 0
                a.help-button
                    display: grid
                    grid-gap: 7px
                    margin-bottom: 15px
                    padding: 15px
            .help-right
                padding: 55px 15px 0
                min-height: auto
.off
    display: none !important
.active
    display: block




