.News
    background: white
    padding: 25px
    margin-bottom: 50px;
    display: none
    .title
        display: flex
        justify-content: center
        align-items: center
        .logo
            height: 40px
    .icons
        display: flex
        margin: auto
        margin-top: 25px
        a
            margin: auto
        img
            width: 35px
            height: 35px


@media (max-width:700px)
    .News
        display: block
        justify-content: center
        align-items: center

