.main-button
    display: flex
    margin: 5px auto
    width: auto
    padding: 10px 0
    background-color: #CF0A2C
    color: white
    text-align: center
    width: 80%;
    font-size: 18px
    p
        font-size: 18px
        width: 100%;
        padding: 0px 15px;



.cancel-btn
    font-size: 18px
    background-color: white !important
    border: 1px solid #CF0A2C;
    color: #CF0A2C !important
    display: flex
    margin: auto
    width: auto
    padding: 10px 0
    color: white
    border-radius: 5px
    width: 80%;
    height: 18.5px;
    p
        font-size: 18px
        width: 100%;
        margin: 0
        padding: 0
    a
        width: 100%
        text-align: center
        color: #CF0A2C !important