.swiperSliderDetail {
  height: 100%;
  width: 100%;
  padding-bottom: 90px;
  background-color: white;
}

.swiperSliderDetail .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiperSliderDetail .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 324px;
  border-radius: 5px;
}

.swiperSliderDetail .swiper-slide div img {
  border-radius: 5px;
}

.swiperSliderDetail .swiper-container .swiper-pagination-bullets {
  position: absolute;
  bottom: 0;
  width: 300px;
  left: 0;
  right: 0;
  margin: auto;
}

.swiperSliderDetail
  .swiper-container-horizontal.HomeProduct
  > .swiper-pagination-bullets
  .swiper-pagination-bullet {
  width: calc(100% - 75%);
  border-radius: 0 !important;
  margin: 0 !important;
  height: 2px;
  background: #5d5d5d;
}
.swiperSliderDetail
  .swiper-container-horizontal.specialOfferMovil
  > .swiper-pagination-bullets
  .swiper-pagination-bullet {
  background: #5f5f5f;
}

.swiperSliderDetail .swiper-container {
  margin-bottom: auto;
  margin-top: 0;
  height: 340px;
}

.swiperSliderDetail .swiper-container .swiper-pagination-bullets {
  position: absolute;
  bottom: 5px;
  display: flex;
  justify-content: center;
}
.swiperSliderDetail .specialOfferMovil {
  width: 100vw;
  height: 512px;
}

.swiperSliderDetail .HomeProduct .swiper-slide-next,
.swiper-slide-prev {
  transform: none !important;
}

/* Para el sepecialOffer  */
.swiperSliderDetail .specialOffer {
  width: 80vw;
  height: auto;
}
