.swiperSliderDatailMobile {
  height: 100%;
  width: 100%;
}

.swiperSliderDatailMobile .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiperSliderDatailMobile .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 325px;
  border-radius: 5px;
}

.swiperSliderDatailMobile .swiper-slide div img {
  border-radius: 5px;
}

.swiperSliderDatailMobile .swiper-container .swiper-pagination-bullets {
  position: absolute;
  bottom: 0;
  width: 300px;
  left: 0;
  right: 0;
  margin: auto;
}

.swiper-container-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet {
  width: calc(100% - 75%);
  border-radius: 0 !important;
  margin: 0 !important;
  height: 2px;
  background: black;
}

.swiperSliderDatailMobile .swiper-container {
  margin-bottom: auto;
  margin-top: 0;
  height: 340px;
}

.swiperSliderDatailMobile .swiper-container .swiper-pagination-bullets {
  position: absolute;
  bottom: 5px;
  display: flex;
  justify-content: center;
}
.swiperSliderDatailMobile .mySwiper2 {
  width: 100vw;
}
