.question-component
    padding: 40px
    padding-top: 42px
    .modal
        background: #F3F3F3
        box-shadow: 0px 0px 5px 1000px rgba(0, 0, 0, 0.27)
        padding: 30px 15px;
        .modal-question
            position: relative
            .cancel-modal
                position: absolute
                top: -23px
                right: 0
                p
                    font-size: 14px;
                    font-weight: bold;
                &:hover
                    cursor: pointer
            .header-modal
                padding-bottom: 0
                .question
                    font-size: 18px
                    display: inline-block
                .question-product
                    background: white
                    border-radius: 5px
                    box-shadow: -5px 5px 6px #11111129
                    padding: 15px
                    display: grid;
                    grid-template-columns: auto 1fr;
                    grid-gap: 15px;
                    width: 40%;
                    float: right;
                    p
                        font-size: 14px
                        display: -webkit-box;
                        -webkit-line-clamp: 3
                        -webkit-box-orient: vertical  
                        overflow: hidden
                    span
                        font-size: 18px
                        font-weight: bolder
                    img
                        width: 40px
                        height: 40px
                        border-radius: 100%
                        box-shadow: -5px 5px 6px #11111129
            .name-user-question
                font-size: 13px
                font-weight: bolder
                svg
                    color: #CF0A2C
                    font-size: 18px
                    margin-right: 5px
                span
                    display: block
                    font-size: 10px;
            .wrap-question-input
                padding: 0
                input
                    border: none
                    padding-bottom: 50px
            .button-question-product-detail
                background: #CF0A2C !important;
                color: white !important
                border: none !important
                width: 180px
                float: right
                margin-top: 10px
.account-questions-wrap-title
    display: flex
    justify-content: space-between
    margin: 0px 30px
    margin-bottom: 20px
    h1
        font-size: 28px
        color: #111111
.account-questions-wrap-item
    color: #CF0A2C

.no-question
    padding: 30px 15px

.account-questions-wrap-questions
    width: auto
    margin: auto
    border-radius: 5px
    border: 0.5px solid #111111
    box-shadow: -5px 5px 6px #11111129
    border-radius: 5px
    .question-table
        display: grid
        grid-template-rows: auto 1fr
        color: #111111
        .title-head
            display: grid
            grid-template-columns: 5fr 130px 20%
            border-radius: 5px 5px 0px 0;
            font-size: 14px
            background: #EEEEEE
            border-bottom: 0.5px solid #111111
            .title
                padding: 7px 30px 7px !important;
                border-right: 0.5px solid #111111
                &:hover
                    cursor: pointer
            .fetch
                padding: 7px 0 !important;
        .question-item
            display: grid
            grid-template-columns: 5fr 130px 20%
            font-size: 13px
            background: white
            border-bottom: 0.5px solid #111111
            &:last-child
                border-radius: 0 0 5px 5px
                border: none
            .title
                padding-left: 30px;
                border-right: 0.5px solid #111111
                svg
                    margin-right: 10px
.fetch
    width: 100px
    text-align: center
    border-right: 0.5px solid #111111
    padding: 7.5px 0;
.name-user
    padding-left: 7px;
    position: relative
    .icon-action
        position: absolute
        top: auto
        right: 0px
        color: #CF0A2C
    .actions
        background: white
        border: 0.5px solid #11111129
        border-radius: 5px
        position: absolute
        right: -100px
        top: 60%
        width: 130px;
        display: grid;
        text-align: left;
        z-index: 10
        display: none
        a
            padding: 10px 0
            color: #111111
            padding-left: 15px
        .active
            display: grid     
.title, .name-user
    display: flex;
    align-items: center;
    
    

@media (max-width: 700px)
    .account-questions-wrap-questions .question-table
        .title-head, .question-item
            grid-template-columns: 2fr 70px 1fr !important
            .title
                padding-left: 7px !important
            .name-user .actions
                right: 0
    .fetch
        width: auto
    .account-questions-wrap-title
        margin: 0px 30px 30px 0
    .question-component
        padding: 7px
    .question-component .modal .modal-question .cancel-modal
        top: -10px
        right: -10px


