.summary-content
    display: grid
    grid-template-rows: auto 1fr auto
    height: 100%
    p
        color: #5A5A5A
    .user-account-container
        display: grid
        grid-template-columns: 1fr 4fr
        grid-gap: 30px
        margin: auto
        width: 80%
        height: 100%;
        .user-account-menu
            padding: 40px 20px
            h3
                color: #5A5A5A
                font-size: 17px
            .user-account-menu-text
                color: #5A5A5A
                font-size: 14px
            .user-account-menu-item
                display: grid
                grid-template-columns: auto auto auto
                grid-gap: 10px
                margin-bottom: 40px
                cursor: pointer
                .user-account-accordion
                    display: none
                    p
                        margin-top: 20px
                        font-size: 14px
                &.active
                    .user-account-menu-icon
                    .user-account-accordion
                        display: block
        .summary
            padding: 40px
            .items
                margin-top: 30px
                .title
                    padding-bottom: 15px
                    margin-bottom: 15px
                    border-bottom: 0.5px dashed #9E9E9E

.footer-social
    width: 80%
    margin: auto
    padding: 25px 0
    img
        &:last-child
            margin-left: 30px



@media(min-width:700px)
    .user-account-menu
        padding: 40px 20px !important

@media(max-width:700px)
    .summary-content
        .user-account-container
            width: 100%
            position: relative
            grid-template-columns: auto
            .user-account-content
                padding: 0
                h2
                    margin: 15px 15px 30px
                .user-acount-info
                    width: 90%
                    margin: 15px auto
                .user-accunt-info-box .user-accunt-info-tab.user-accunt-info-address 
                    p:first-child
                        padding: 30px
            .user-account-menu
                background: #F2F2F2
                position: fixed
                width: 0
                top: 0
                left: 0
                bottom: 0
                z-index: 1
                overflow-x: hidden
                transition: 0.4s
                box-sizing:border-box
                padding: 0
    .modal-actions
        grid-gap: 15px !important
    .footer-social
        width: 100%
        margin: auto
        padding: 30px 0
        display: grid
        grid-template-columns: 1fr 1fr
        img
            width: 80%
            margin: auto !important
                

                
                




                


