.comfirm-account {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
}

.comfirm-account .comfirm-account-container {
  margin: 0 auto;
  padding: 40px;
  width: 80%;
}

.comfirm-account .comfirm-account-container .back-btn a {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  grid-gap: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #CF0A2C;
}

.comfirm-account .comfirm-account-container .comfirm-account-content {
  margin: auto;
  padding: 40px;
  width: 70%;
}

.comfirm-account .comfirm-account-container .comfirm-account-content h2 {
  margin-bottom: 20px;
  color: #717171;
  font-size: 26px;
}

.comfirm-account .comfirm-account-container .comfirm-account-content .comfirm-account-box {
  padding: 20px 40px;
  color: #717171;
  background: #FBFBFB;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
}

.comfirm-account .comfirm-account-container .comfirm-account-content .comfirm-account-box p {
  margin: 20px 0px;
  font-size: 14px;
}

.comfirm-account .comfirm-account-container .comfirm-account-content .comfirm-account-box p .accent {
  color: #D11E36;
}

.comfirm-account .comfirm-account-container .comfirm-account-content .comfirm-account-box .code-input {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  grid-gap: 5px;
  width: 50%;
  margin: auto;
}

.comfirm-account .comfirm-account-container .comfirm-account-content .comfirm-account-box .code-input span {
  margin: auto;
  display: -ms-grid;
  display: grid;
}

.comfirm-account .comfirm-account-container .comfirm-account-content .comfirm-account-box .button-a {
  border-radius: 5px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #D11E36;
  border: 1px solid #D11E36;
  width: 178px;
  height: 35px;
  color: white;
  margin: auto;
  margin-top: 15px;
}

.comfirm-account .comfirm-account-container .comfirm-account-content .comfirm-account-box .button-a p {
  margin: 0;
  color: white;
}

@media (max-width: 700px) {
  .comfirm-account .comfirm-account-container {
    padding: 15px;
    width: auto;
  }
  .comfirm-account .comfirm-account-container .comfirm-account-content {
    margin: auto;
    padding: 0;
    width: auto;
  }
  .comfirm-account .comfirm-account-container .comfirm-account-content h2 {
    margin: 15px auto 15px 20px;
  }
  .comfirm-account .comfirm-account-container .comfirm-account-content .comfirm-account-box {
    width: auto;
    padding: 15px;
  }
  .comfirm-account .comfirm-account-container .comfirm-account-content .comfirm-account-box .code-input {
    width: 90%;
    margin: auto;
  }
  .comfirm-account .comfirm-account-container .comfirm-account-content .comfirm-account-box .button-a {
    margin: auto;
  }
}
/*# sourceMappingURL=ConfirmAccount.css.map */