.comfirm-account
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr
    .comfirm-account-container
        margin: 0 auto;
        padding: 40px
        width: 80%
        .back-btn
            a
                display: grid
                grid-template-columns: repeat(2,auto)
                grid-gap: 15px
                width: fit-content
                color: #CF0A2C
        .comfirm-account-content
            margin: auto
            padding: 40px
            width: 70%
            h1
                margin-bottom: 20px
                color: #5A5A5A
                font-size: 26px
            .comfirm-account-box
                padding: 20px 40px
                color: #5A5A5A
                background: #FBFBFB 
                box-shadow: 0px 3px 6px #00000029
                border-radius: 5px
                p
                    margin: 20px 0px
                    font-size: 14px
                    .accent
                        color: #D11E36
                .code-input
                    display: grid
                    grid-template-columns: auto 1fr
                    grid-gap: 5px
                    width: 50%
                    margin: auto
                    span
                        margin: auto
                        display: grid
                .button-a
                    border-radius: 5px
                    text-align: center
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #D11E36
                    border: 1px solid #D11E36
                    width: 178px;
                    height: 35px;
                    color: white
                    margin: auto
                    margin-top: 15px
                    p
                        margin: 0
                        color: white
        
@media (max-width:700px)
    .comfirm-account   
        .comfirm-account-container
            padding: 15px
            width: auto
            .comfirm-account-content
                margin: auto
                padding: 0
                width: auto
                h1
                    margin: 15px auto 15px 20px
                .comfirm-account-box
                    width: auto
                    padding: 15px
                    .code-input
                        width: 90%
                        margin: auto
                    .button-a
                        margin: auto
                    
