.category-list .content {
  padding: 0 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto;
  grid-gap: 20px;
  width: 80%;
  margin: auto;
  color: #cf0a2c;
  font-size: 15px;
}

.category-list .content .breadcrumb {
  margin: 40px 0px 20px;
}

.category-list .content .breadcrumb a {
  color: #111111;
  font-size: 15px;
  text-transform: capitalize;
}

.category-list .content .breadcrumb svg {
  margin: 0px 5px;
}

.category-list .content .banner-principal {
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -webkit-box-shadow: 0px 3px 6px #11111129 !important;
  box-shadow: 0px 3px 6px #11111129 !important;
  display: block;
}

.category-list .content .wrap-finding {
  margin-bottom: 0;
}

.category-list .content .wrap-finding .finding {
  padding: 0;
  -webkit-box-shadow: 0px 3px 6px #11111129 !important;
  box-shadow: 0px 3px 6px #11111129 !important;
}

.category-list .content .wrap-finding .finding img {
  display: block !important;
}

.category-list .content .wrap-finding .finding .no-finding {
  display: block;
  width: 100%;
}

.category-list .content .wrap-finding .finding .wrap-img,
.category-list .content .wrap-finding .finding .wrap-info {
  display: none;
}

.category-list .content .wrap-finding .home-section-title {
  display: none;
}

.category-list .content .wrap-tickets {
  margin-bottom: 0;
}
.category-list .content .wrap-tickets .tickets img {
  max-height: 290px !important;
}

.category-list .content .tickets {
  -webkit-box-shadow: 0px 3px 6px #11111129 !important;
  box-shadow: 0px 3px 6px #11111129 !important;
}

.category-list .content .tickets img {
  width: 100% !important;
  max-height: clamp(100px, 20vw, 450px) !important;
}

.category-list .footer {
  margin-top: 20px;
}

.category-list .footer-social {
  width: 80%;
  margin: auto;
  padding: 25px 0;
}

.category-list .footer-social img:last-child {
  margin-left: 20px !important;
  margin-top: 5px !important;
}

@media (max-width: 700px) {
  .category-list .content {
    width: auto;
    margin: auto;
    grid-gap: 0px;
  }
  .category-list .content .breadcrumb {
    margin: 10px 0px;
    margin-top: 17px;
    display: block;
  }
  .category-list .footer-social {
    width: 100%;
    margin: auto;
    padding: 30px 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .category-list .footer-social img {
    width: 80% !important;
    margin: auto !important;
  }
  .category-list .wrap-finding {
    margin: auto;
    margin-bottom: 0 !important;
  }
  .category-list .wrap-finding .content-finding {
    margin-bottom: 0;
  }
  .category-list .wrap-tickets {
    display: block !important;
    margin: 0;
    margin-bottom: 0 !important;
  }
  .category-list .wrap-tickets .tickets {
    margin: auto;
    margin-bottom: 20px;
  }
  .category-list .wrap-tickets .tickets:last-child {
    margin-bottom: 0;
  }
  .category-list .wrap-tickets .tickets img {
    width: 100% !important;
  }
  .category-list .content .tickets {
    margin: 0px !important;
    padding-top: 5px;
  }
}
/*# sourceMappingURL=CategoryList.css.map */
