#SellerInfo {
    background: #fff;
    transition: all 0.3s ease;
    padding-top: 10px;
    border-top: 2px solid #e4e4e4;
    border-bottom: 2px solid #e4e4e4;
}

#SellerInfo header {
    display: flex;
    align-items: center;
    justify-content: center;
}

#SellerInfo header h4 {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.03em;
    color: #000000;
    height: 22px;
}

#SellerInfo picture {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 25px 0 30px;
}

#SellerInfo picture div img {
    height: 5rem !important;
    width: 100% !important;
}

#SellerInfo picture h4 {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.03em;
    color: #5D5D5D;
    padding-left: 22px;
}

#SellerInfo .certificate {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 31px
}

#SellerInfo .certificate .anullProperties div {
    align-items: center !important;
    justify-content: center !important;
    display: flex !important;
}

#SellerInfo .certificate .anullProperties div img {
    padding-right: 7px !important;
    height: 16px !important;
    width: 16px !important;
}

#SellerInfo .certificate h6 {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #1FC2E6;
    padding-right: 28px;
}

#SellerInfo .certificate svg {
    color: #1FC2E6;
    padding-right: 3px;
    height: 8px;
    width: 8px;
}

#SellerInfo footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 25px;
    flex-direction: column;
}

#SellerInfo footer h3 {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    color: #5D5D5D;
    padding-bottom: 22px;
}

#SellerInfo footer .separator {
    position: static;
    border: 1px solid #D1D1D1;
    height: 0;
    top: 0;
    width: 74%;
}

#SellerInfo footer .info {
    display: flex;
    flex-direction: row;
    padding-top: 11px;
    height: 72px;
}

#SellerInfo footer .info .block {
    display: flex;
    flex-direction: column;
    align-content: center;
    /*justify-content: center;*/
    height: 49px;
}

#SellerInfo footer .info .block h3 {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0;
    text-align: center;
    color: #5D5D5D;
    padding-bottom: 4px;
    padding-top: 10px;
}

#SellerInfo footer .info .block p {
    font-family: Montserrat, sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #000000;
    padding-left: 12px;
    padding-right: 12px;

}

#SellerInfo footer .info .block .anullProperties div {
    align-items: center !important;
    justify-content: center !important;
    display: flex !important;
}
