.order-item
    background-color: white

.order-item-content
    display: flex
    justify-content: space-between
    align-items: center
    padding: 15px

    > *
        padding: 7px

.order
    display: flex
    align-items: center
    margin-right: 5px

    div
        padding: 5px

.order-card-img img
    width: 65px;
    height: 56px;

.order-stock
    font-size: 13px;
    opacity: 0.60;

.description
    font-size: 14px;
    color: #111111;

#order-client-data
    color: #111111;
    font-size: 14px;