.order-item
    background-color: white

.order-item-content
    display: flex
    justify-content: space-between
    align-items: center
    padding: 15px

    > *
        padding: 7px

.order
    display: flex
    align-items: center
    margin-right: 5px

    div
        padding: 5px

.order-card-img img
    width: 65px;
    height: 56px;

.order-stock
    font-size: 13px;
    opacity: 0.60;

.description
    font-size: 14px;
    color: #111111;

#order-client-data
    color: #111111;
    font-size: 14px;

.order-item-content .info svg
    color: green
    height: 30px
    width: 30px
    padding: 5px

.item-product-modal
    padding: 10px 20px 35px 15px

    .vendor-reputation
        section
            margin-bottom: 25px