.order-item
    background-color: white

.order-item-content
    display: flex
    justify-content: space-between
    align-items: center
    padding: 15px

    > *
        padding: 7px

    #info
        display: flex
        flex-direction: column
        align-items: center
        font: normal normal normal 15px/19px Montserrat

        p
            text-align: center
            letter-spacing: 0px
            color: #757575
            opacity: 1

        svg
            color: green
            height: 30px
            width: 30px
            padding: 5px


.order
    display: flex
    flex-basis: 50%
    align-items: center
    margin-right: 5px

    div
        padding: 5px

.order-card-img img
    width: 65px;
    height: 56px;

.order-stock
    font-size: 13px;
    opacity: 0.60;

.description
    font-size: 14px;
    color: #111111;

#order-client-data
    color: #111111;
    font-size: 14px;

    a
        color: red
        margin-top: 8px

    div.messages
        display: flex

        span.accent-background
            background: red
            color: white
            border-radius: 50%
            height: 17px;
            width: 17px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;

.item-product-modal
    padding: 10px 30px 20px 50px

    .vendor-reputation
        section
            margin-bottom: 15px

            p
                text-align: inherit

            svg
                width: 20px
                height: 20px
                color: #3F7FE1

    h4.sub
        color: black

    .info svg
        color: #409dee;

#verified-modal
    padding: 25px 0px 10px 0px

    h3
        font: normal normal medium 22px/24px Montserrat
        letterSpacing: 0px
        color: #040404
        opacity: 1
        margin-bottom: 8px

    .actions
        display: flex
        justify-content: space-evenly
        margin-top: 20px

        >*
            font-size: 11px