.rank-product
    display: grid
    grid-template-columns: auto 1fr
    grid-gap: 15px
    margin-bottom: 8px;
    .stars
        display: inline
        svg
            margin-left: 7.5px
            width: 30px
            height: 30px 
            color: #3F7FE1
    .values
        color: #CF0A2C
        font-size: 16px
        margin-top: 5px
        text-align: right
        margin-right: 7.5px
        .down-icon
            color: #707070
            font-size: 18px
            margin: 0 7px;
            top: 2px;
            position: relative;
        .sell
            margin-left: 10px




