.containerDiscount {
  display: flex;
  flex-direction: row;
  padding: 0 20px;
  background-color: white;
  padding-bottom: 20px;
}

.containerDiscount .wrapperDiscount {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerDiscount .wrapperPercent {
  flex-direction: column;
}

.containerDiscount .wrapperPercent .percentDiscount {
  font-size: 56px;
  font-weight: 800;
  line-height: 68.26px;
  color: #1fc2e5;
}

.containerDiscount .wrapperPercent .textDiscount {
  font-size: 18px;
  font-weight: bold;
  line-height: 21.94px;
  color: #1fc2e5;
}

.containerDiscount .wrapperImage {
  flex-direction: row;
}

.containerDiscount .wrapperImage .wrapperAnullProperties {
  height: 69px;
  width: 69px;
  border-radius: 10px;
  margin-right: 16px;
}

.containerDiscount .wrapperImage .wrapperAnullProperties .anullProperties {
  width: 100%;
  height: 100%;
}

.wrapperAnullProperties .anullProperties img {
  width: 100% !important;
  height: 100% !important;
}

.containerDiscount .cantDiscount {
  font-size: 32px;
  margin-left: 0;
  font-weight: 800;
  color: #5f5f5f;
}

@media (min-width: 768px) {
  .wrapperDiscount .cantDiscount {
    margin-right: 20px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 88px;
    letter-spacing: 0.1em;
    color: #5f5f5f;
  }

  .wrapperDiscount .wrapperImage {
    margin-right: 30px;
  }
  .wrapperDiscount .wrapperImage .wrapperAnullProperties {
    height: 200px;
    width: 200px;
    border-radius: 10px;
  }

  .wrapperDiscount .wrapperPercent .percentDiscount {
    font-family: Montserrat, sans-serif;
    font-size: 112px;
    font-style: normal;
    font-weight: 800;
    line-height: 137px;
    letter-spacing: 0;
    text-align: left;
    margin: 0;
    padding: 0;
  }
  .wrapperDiscount .wrapperPercent .textDiscount {
    font-family: Montserrat, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0.03em;
    text-align: left;
  }

  .wrapperPercent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .wrapperPercent p {
    display: inline;
  }
}
