.containerDiscount {
  display: flex;
  flex-direction: row;
  padding: 0 20px;
  background-color: white;
  padding-bottom: 20px;
  justify-content: center;
}

.containerDiscount .wrapperDiscount {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerDiscount .wrapperPercent {
  flex-direction: column;
  margin-right: clamp(10px, 2.5vw, 30px);
}

.containerDiscount .wrapperImage {
  flex-direction: row;
}

.containerDiscount .wrapperImage .wrapperAnullProperties {
  height: 100px;
  width: 100px;
  border-radius: 10px;
  margin-right: 16px;
}

.containerDiscount .wrapperImage .wrapperAnullProperties .anullProperties {
  width: 100%;
  height: 100%;
  display: flex;
}

.containerDiscount .wrapperImage .wrapperAnullProperties .anullProperties div {
  margin: 0 auto !important;
  display: flex !important;
}

.wrapperAnullProperties .anullProperties img {
  width: auto !important;
  height: 100% !important;
  max-width: 100% !important;
  max-height: 100% !important;
  margin: auto !important;
}

@media (min-width: 768px) {
  .wrapperDiscount .wrapperImage {
    margin-right: 30px;
  }
  .wrapperDiscount .wrapperImage .wrapperAnullProperties {
    height: 200px;
    width: 200px;
    border-radius: 10px;
  }

  .wrapperDiscount .wrapperPercent .percentDiscount {
    font-family: Montserrat, sans-serif;
    font-size: 112px;
    font-style: normal;
    font-weight: 800;
    line-height: 137px;
    letter-spacing: 0;
    text-align: left;
    margin: 0;
    padding: 0;
  }

  .wrapperPercent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .wrapperPercent p {
    display: inline;
  }
}
