.container-payment-way
    margin: 100px auto
    width: 70%
    min-height: 60vh
    h2
        margin-bottom: 50px
        color: #818181
        font-size: 28px
        font-weight: lighter
    .only-movil
        display: none !important

.content-payment-way
    display: grid
    grid-template-columns: 3fr 2fr
    grid-gap: 100px

.product-description
    display: grid
    grid-template-columns: auto 1fr
    grid-gap: 20px
    img
        width: 50px
        height: auto
        align-self: center
    p
        margin-bottom: 10px
        color: #6D6D6D
        font-size: 16px
    .quantity
        color: #8F8F8F
        font-size: 15px
    h3
        font-size: 20px

.payment-way-box
    margin-bottom: 40px
    padding: 20px
    background: #FBFBFB 0% 0% no-repeat padding-box
    box-shadow: 0px 3px 6px #00000029
    border-radius: 8px
    cursor: pointer
    p
        color: #6D6D6D
        font-size: 16px
    h3
        color: #818181
        font-size: 20px
        font-weight: lighter

.way-to-pay
    form
        margin: 0px
        padding: 0px
        label
            p
                color: #6D6D6D
                font-size: 15px
        input
            margin-bottom: 15px
        .input-form
            display: grid
            grid-template-columns: 3fr 1fr
            grid-gap: 20px
    img
        width: 100%
        height: auto

.accordion-payment-way
    height: 0px
    margin-top: -20px
    margin-bottom: 20px
    padding: 0px 20px
    background: #FBFBFB 0% 0% no-repeat padding-box
    box-shadow: 0px 3px 6px #00000029
    border-radius: 8px
    transition: 0.25s ease-out
    overflow: hidden
    opacity: 0
    &.active
        padding: 20px
        height: auto
        transition: 0.25s ease-in
        opacity: 1
    .content-accordion
        display: grid
        grid-template-columns: 1fr 1fr
        grid-gap: 20px
    button.main-button
        float: right

.content-accordion-form
    display: grid
    button.main-button
        float: none
        align-self: end

.shipping-address
    h3
        margin-bottom: 20px
        text-align: center
    p
        margin-bottom: 10px
        color: #6D6D6D
        font-size: 16px

.content-accordion-form
    position: relative

button.main-button
    margin-top: 20px
    p
        margin: 0px
        color: #fff
        font-size: 14px
