.user-account-menu
    padding: 40px 20px
    h3
        color: #5A5A5A
    .user-account-menu-item
        display: grid
        grid-template-columns: auto auto auto
        grid-gap: 10px
        margin-bottom: 40px
        cursor: pointer
        .user-account-menu-icon
            display: grid
            margin: auto
            margin-right: 0
            margin-top: 0;
            svg
                position: relative
                top: 1px
            img
                width: 39px;
                border-radius: 50%;
                box-shadow: 0px 3px 6px #00000029;
        .icon-profile
            background :#CF0A2C
            width: 40px
            height: 40px
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            svg
                width: 16px
                height: 16px
                color: white
        .user-account-accordion
            display: none
            p
                margin-top: 20px
                font-size: 14px
        &.active
            .user-account-menu-icon
            .user-account-accordion
                display: block !important
        

                
                




                


