
.variants{
    padding: 0em;
    display: flex;
    flex-direction: column;
}

.variants .selector{
    width: 100%;
    margin-right: 10px;
    margin-bottom: 15px
}

/*.variants select{*/
/*    width: 100%;*/
/*    padding: 8px;*/
/*    border-radius: 5px;*/
/*    outline: none !important;*/
/*    border: 0.31px solid #acacac;*/
/*    background-color: #ffff;*/
/*}*/
.variants .variant-title{
    width: 100%;
}

.variants button{
    border: 1px solid gray;
}

.variants button.active{
    border: 1px solid #16b3e2;
}

.unavailable {
    filter: blur(0.5px);
    opacity: 0.6;
}

.selected {
    border-color: orange
}