/* #HeaderProductDatailMobil * {
  box-sizing: border-box;
} */
#HeaderProductDatailMobil {
  width: 100%;
  padding: 0 0 20px 0;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
}
#HeaderProductDatailMobil .bredcumbs {
  position: absolute;
  margin-bottom: 15px;
  background-color: #cf0a2c;
  padding: 0 5%;
  width: 90%;
  height: 28px;
  overflow-x: scroll;
  display: flex;
  align-items: center;
  border-radius: 0px 0px 10px 10px;
}
#HeaderProductDatailMobil .title {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 36px;
  box-sizing: border-box;
  margin-top: 10.5%;
}
#HeaderProductDatailMobil .titleText {
  /* Header 1 */

  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.02em;

  /* Black */

  color: #000000;
}
#HeaderProductDatailMobil .bredItem {
  margin-right: 4px;
  font: normal normal 10px/13px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  white-space: nowrap;
}
#HeaderProductDatailMobil .bredItem.nextCategory {
  margin-top: 5px;
}
