/* #HeaderProductDatailMobil * {
  box-sizing: border-box;
} */
#HeaderProductDatailMobil {
  width: 100%;
  padding: 0 0 20px 0;
  box-sizing: border-box;
  position: relative;
}
#HeaderProductDatailMobil .bredcumbs {
  margin-bottom: 15px;
  background-color: #CF0A2C;
  padding: 0 20px;
  height: 28px;
  display: flex;
  align-items: center;
  border-radius: 0px 0px 10px 10px;
}
#HeaderProductDatailMobil .title {
  width: 100%;
  display: flex;
  justify-content: center;
}
#HeaderProductDatailMobil .titleText {
  /* Header 1 */

font-family: Montserrat;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 22px;
text-align: center;
letter-spacing: 0.02em;

/* Black */

color: #000000;
}
#HeaderProductDatailMobil .bredItem {
  margin-right: 4px;
  font: normal normal 10px/13px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
}
