.edit-screen .breadcrumb
  margin: 40px 0px 1em 0px;
  color: #cf0a2c;


.edit-screen .breadcrumb span,
.edit-screen .breadcrumb a
  color: #111111;
  font-size: 15px;
  text-transform: capitalize;
  cursor: pointer;


.edit-screen .breadcrumb svg
  margin: 0px 5px;
