.detail-content
    margin: auto
    width: 70%
    .advertising-movil
        margin-bottom: 15px
        .advertising
            background: gray
            width: 60%
            margin: auto
            height: 60vh
            margin-bottom: 30px;
        .product-card-finding .slider-movil .content-product-card-finding
            grid-template-columns: 1fr 1fr
            display: grid
            position: inherit
            .producto-card
                width: 100%
                margin: 0
                display: none
                &:nth-child(-n+4)
                    display: block    
.wrap-section-1
    display: flex
    justify-content: space-between
    margin-bottom: 50px
.wrap-product
    border: 0.5px solid #e2e2e2
    @media (max-width: 700px)
        border: none !important
    background: white
    flex: 2
.pay-section-pc
    flex: 1
.breadcrumb
    margin: 40px 0px
    a
        color: #111111
        font-size: 15px
    svg
        margin: 0px 5px
        color: #CF0A2C
        font-size: 15px
.wrap-slider-product-detail
    padding: 20px
    border-top: 0.5px solid #e2e2e2
    .slider
        display: none !important
    .products-slider
        margin: 0
        width: 100%
        padding: 15px !important
        .slider-movil
            height: auto
            padding-bottom: 40%
            position: relative
            .content-products-slider
                grid-template-columns: repeat(4, 1fr);
                display: grid
                overflow: auto
                grid-gap: 15px
                position: absolute;
                left: 0
                right: 0
                top: 0
                .producto-card
                    padding: 0
                    width: 100%
                    display: none
                    &:nth-child(-n+4)
                        display: block
                    .product-card-img
                        padding: 0
                    h3
                        font-size: 15px
                        font-family: 'Open Sans', sans-serif;
                    button
                        width: auto !important
                        height: auto !important
                        min-width: initial !important
        
.pay-section-responsive
    display: none

@media (max-width: 768px)
    .wrap-section-1
        flex-direction: column
        margin: 0
    .detail-content
        width: 100%
    .breadcrumb
        display: none
    .wrap-explorer-product-detail
        display: none
    .wrap-slider-product-detail
        display: none
    .pay-section-pc
        display: none
    .pay-section-responsive
        display: block

@media (max-width: 768px)
    .detail-content
        .wrap-product
            background: transparent
            .wrap-detail-info
                background: white
                h4, .item-detail-info
                    font-size: 15px
                    font-weight: 400
                .item-detail-info 
                    p
                        font-size: 15px
                        font-weight: 400
        .questions-movil
            background: #F3F3F3
            padding-bottom: 30px
            margin-bottom: 15px
            .slider
                display: none !important
            .QuestionItem-list
                border: none !important
                background: white
                padding: 15px
                .title 
                    margin: 15px 0
            .product-card-finding .slider-movil .content-product-card-finding
                grid-template-columns: 1fr 1fr
                display: grid
                position: inherit
                .producto-card
                    width: 100%
                    margin: 0
                    display: none
                    &:nth-child(-n+2)
                        display: block
    

.footer-social
    width: 80%
    margin: auto
    padding: 25px 0
    img
        &:last-child
            margin-left: 30px
    
@media(max-width:700px)
    .footer-social
        width: 100%
        margin: auto
        padding: 30px 0
        display: grid
        grid-template-columns: auto
        grid-gap: 15px
        padding-top: 0
        img
            width: auto
            margin: auto !important
    