.detail-content
    margin: auto
    width: 70%
.wrap-section-1
    display: flex
    justify-content: space-between
    margin-bottom: 50px
.wrap-product
    border: 0.5px solid #9F9F9F
    background: white
    flex: 2
.pay-section-pc
    flex: 1
.breadcrumb
    margin: 40px 0px
    a
        color: #6E6E6E
        font-size: 15px
    svg
        margin: 0px 5px
        color: #CF0A2C
        font-size: 15px
.wrap-slider-product-detail
    padding: 20px
    border-top: 0.5px solid #9F9F9F
    .products-slider
        margin: 0 
        .slider-movil
            height: 230px
            position: relative
            .content-products-slider
                grid-template-columns: repeat(4, 1fr);
                overflow: auto;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                .producto-card
                    padding: 0
                    width: 100%
                    display: none
                    &:nth-child(-n+4)
                        display: block
                    .product-card-img
                        padding: 0
                    h3
                        font-size: 15px
                        font-family: 'Open Sans', sans-serif;
                    button
                        width: auto !important
                        height: auto !important
                        min-width: initial !important
        
.pay-section-responsive
    display: none

@media (max-width: 768px)
    .wrap-section-1
        flex-direction: column
    .detail-content
        width: 100%
    .breadcrumb
        display: none
    .wrap-explorer-product-detail
        display: none
    .wrap-slider-product-detail
        display: none
    .pay-section-pc
        display: none
    .pay-section-responsive
        display: block
