.detail-content
    margin: auto
    width: 70%
.wrap-section-1
    display: flex
    justify-content: space-between
    margin-bottom: 50px
.wrap-product
    border: 1px solid #9F9F9F
    background: white
    flex: 2
.pay-section-pc
    flex: 1
.breadcrumb
    margin: 40px 0px
    a
        color: #6E6E6E
        font-size: 15px
    svg
        margin: 0px 5px
        color: #CF0A2C
        font-size: 15px
.wrap-slider-product-detail
    padding: 20px
    border-top: 1px solid #9F9F9F
.pay-section-responsive
    display: none
@media (max-width: 768px)
    .wrap-section-1
        flex-direction: column
    .detail-content
        width: 100%
    .breadcrumb
        display: none
    .wrap-explorer-product-detail
        display: none
    .wrap-slider-product-detail
        display: none
    .pay-section-pc
        display: none
    .pay-section-responsive
        display: block
