@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');


* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}


body {
    display: grid;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    background-color: #F3F3F3;
}

.accent{ color: #CF0A2C}

svg {
    max-height: 30px !important;
    max-width: 30px !important;
    display: inline !important;
}

svg:not(:root).svg-inline--fa {
    overflow: visible;
}

.svg-inline--fa.fa-w-10 {
    width: 0.625em;
}
.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}

#__next {
    display: grid;
}

a {
    /*display: block;*/
    color: #2A6EF6;
}

form {
    margin: 10px 0px;
    padding: 0px 10px;
}

input {
    margin: 5px 0px;
    outline: none;
    width: calc(100% - 20px);
    padding: 8px;
    border: 0.5px solid #707070;
    border-radius: 5px;
}

button {
    margin: 5px 0px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font: 400 'Montserrat', sans-serif !important;
}

h1, h2, h3, h4, h5 {
    font-weight: lighter;
}

.no-overflow {
    overflow : hidden;
}


@media (max-width:700px){.no-movil{display:none !important}}
@media (min-width:700px){.no-web{display:none !important}}