* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body {
    display: grid;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F2F2F2;
}

svg {
    max-height: 30px !important;
    max-width: 30px !important;
    display: inline !important;
}

#__next {
    display: grid;
}

a {
    /*display: block;*/
    color: #2A6EF6;
}

form {
    margin: 10px 0px;
    padding: 0px 10px;
}

input {
    margin: 5px 0px;
    outline: none;
    width: calc(100% - 20px);
    padding: 8px;
    border: 0.5px solid #707070;
    border-radius: 5px;
}

button {
    margin: 5px 0px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

h1, h2, h3, h4, h5 {
    font-weight: lighter;
}

@media (max-width:700px){.no-movil{display:none;}}
@media (min-width:700px){.no-web{display:none;}}