@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

body {
  display: grid;
  margin: 0px;
  padding: 0px;
  height: 100vh;
  background-color: #f3f3f3;
}

.accent {
  color: #cf0a2c;
}

svg {
  max-height: 30px !important;
  max-width: 30px !important;
  display: inline !important;
}

.container {
  position: relative;
}

.main-button {
  display: flex;
  margin: 5px auto;
  width: auto;
  padding: 10px 0;
  background-color: #cf0a2c;
  color: white;
  text-align: center;
  width: 80%;
  font-size: 18px;
}
svg:not(:root).svg-inline--fa {
  overflow: visible;
}

.svg-inline--fa.fa-w-10 {
  width: 0.625em;
}
.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}

#__next {
  display: grid;
}

a {
  /*display: block;*/
  color: #2a6ef6;
}

form {
  margin: 10px 0px;
  padding: 0px 10px;
}

input {
  margin: 5px 0px;
  outline: none;
  width: calc(100% - 20px);
  padding: 8px;
  border: 0.5px solid #b8b8b8;
  border-radius: 5px;
}

button {
  margin: 5px 0px;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  -webkit-text-size-adjust: none;
  font: 400 "Montserrat", sans-serif !important;
}

.previousButton svg {
  fill: #cf0a2c !important;
}
.nextButton svg {
  fill: #cf0a2c !important;
}

.anullProperties div {
  display: unset !important;
  overflow: unset !important;
  position: unset !important;
  inset: unset !important;
  box-sizing: unset !important;
  margin: unset !important;
}
.anullProperties div img {
  position: unset !important;
  inset: unset !important;
  box-sizing: unset !important;
  margin: unset !important;
  padding: unset !important;
  border: unset !important;
  display: unset !important;
  width: unset !important;
  height: unset !important;
  min-width: unset !important;
  max-width: unset !important;
  min-height: unset !important;
  max-height: unset !important;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: lighter;
}

.no-overflow {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
  background-color: #eee;
}

::-webkit-scrollbar-thumb {
  background-color: #8f8e8e;
  background-clip: padding-box;
  border-radius: 5px;
  border: 2px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(112, 112, 112);
}

::-webkit-scrollbar-thumb:active {
  background-color: rgb(128, 128, 128);
}

/* Buttons */
::-webkit-scrollbar-button:single-button {
  background-color: #eee;
  display: block;
  background-size: 10px;
  background-repeat: no-repeat;
}

/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
  height: 12px;
  width: 16px;
  background-position: center 4px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(73, 73, 73)'><polygon points='50,00 0,50 100,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='50,00 0,50 100,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:decrement:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='50,00 0,50 100,50'/></svg>");
}

/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
  height: 12px;
  width: 16px;
  background-position: center 2px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(73, 73, 73)'><polygon points='0,0 100,0 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='0,0 100,0 50,50'/></svg>");
}

@media (max-width: 768px) {
  .no-movil {
    display: none !important;
  }
}
@media (max-width: 699px) {
  ::-webkit-scrollbar {
    display: none !important;
  }
}
@media (min-width: 769px) {
  .no-web {
    display: none !important;
  }
}
