.wrap-info-block
    margin-bottom: 50px
    background: white
    .content-info-block
        display: flex
        justify-content: space-between
        margin: 0px auto
        width: 70%
        padding: 20px 0px

.info-item
    text-align: center
    width: 100%
    color: #707070
    h3
        margin: 10px 0px
        font-size: 18px
        font-weight: lighter
    p
        font-size: 15px
    .info-icon
        color: #CF0A2C
        font-size: 40px
    &:nth-child(2)
        margin: 0px 20px

@media(max-width:700px)
    .wrap-info-block
        .content-info-block
            width: auto
    .info-item
        margin: 0px 5px
    
    .only-desktop
        display: none

