.notification-item
    display: grid
    grid-template-columns: auto 1fr
    padding: 15px;
    padding-left: 0
    border-bottom: 0.5px solid #BEBEBE
    color: #5A5A5A;
    img
        width: 80px
        height: 80px
    .description
        text-align: left;
        padding-left: 5px
        h4
            margin: 2px 0
        .small-text
            font-size: 12px
            line-height: 1;
            display: block;
        .product-title
            font-size: 14px
            font-weight: bold
            line-height: 1;
        .question
            font-size: 12px
            opacity: 0.7
            line-height: 1;
        .response
            font-size: 12px
            line-height: 1;
        .actions
            float: right
            padding-top: 7px;
            a
                color: #CF0A2C
                margin: auto
                &:hover
                    cursor: pointer
            .last-bottom
                margin-left: 30px
    