#PayMethod {
  border-bottom: 2px solid #e4e4e4;
  background: #fff;
  padding: 36px 10px 0px 10px;
  box-sizing: border-box;
}

.noBorder {
  border: none !important;
}

#PayMethod .titulo {
  padding-left: 3.5%;
}

#PayMethod .titulo h3 {
  text-align: left;
  font: normal normal bold 18px Montserrat;
  letter-spacing: 0;
  color: #000000;
  opacity: 1;
  margin-right: auto;
}

#PayMethod .link {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 20px;
  margin: 24px 0px;
  justify-content: center;
  box-sizing: border-box;
}
#PayMethod,
.isTablet .link {
  grid-template-columns: repeat(2, 1fr) !important;
  grid-template-rows: repeat(3, 1fr) !important;
}

#PayMethod .link .imgContainer img {
  width: 100% !important;
  height: auto !important;
  margin: auto !important;
  max-width: 93px !important;
}

@media (min-width: 768px) {
  #PayMethod {
    padding: 36px 0 20px;
  }
  #PayMethod,
  .isTablet {
    border-radius: 10px;
    padding: 36px 10px 0px 30px;
  }

  #PayMethod .link .imgContainer {
    display: flex;
    justify-content: start;
  }
}
@media (max-width: 350px) {
  #PayMethod {
    padding: 0px 0px;
  }
  #PayMethod .link {
    display: grid;
    grid-template-columns: repeat(3, 97px);
    grid-template-rows: repeat(2, 72px);
    padding: 0px 0px;
    margin: 24px 0px;
  }
}
