#PayMethod {
  border-bottom: 2px solid #e4e4e4;
  background: #fff;
  padding: 36px 10px 0 10px;
}
.noBorder{
  border: none !important;
}

#PayMethod .titulo {
  padding-left: 3.5%;
}

#PayMethod .titulo h3 {
  text-align: left;
  font: normal normal bold 18px Montserrat;
  letter-spacing: 0;
  color: #000000;
  opacity: 1;
  margin-right: auto;
}

#PayMethod .link {
  display: grid;
  grid-template-columns: repeat(3, 107px);
  grid-template-rows: repeat(2, 72px);
  padding: 0px 0px;
  margin: 24px 0px;
  justify-content: center;
}

#PayMethod .link .imgContainer img {
  width: 100% !important;
  height: auto !important;
  margin: auto !important;
  max-width: 93px !important;
}


@media (max-width: 350px) {
  #PayMethod {
    padding: 0px 10px;
  }
  #PayMethod .link {
    display: grid;
    grid-template-columns: repeat(3, 97px);
    grid-template-rows: repeat(2, 72px);
    padding: 0px 0px;
    margin: 24px 0px;
  }
}
