.purchases-detail {
  padding: 40px;
  padding-top: 42px;
}

.purchases-detail .breadcrumb {
  margin: 40px 0px 20px;
  color: #cf0a2c;
  margin-bottom: 3em;
}

.purchases-detail .breadcrumb a {
  color: #111111;
  font-size: 15px;
  text-transform: capitalize;
  cursor: pointer;
}

.purchases-detail .breadcrumb svg {
  margin: 0px 5px;
}

.purchases-detail h1 {
  color: #111111;
  font-size: 22px;
}

.purchases-detail .status {
  margin-top: 30px;
}

.purchases-detail .item-product,
.purchases-detail .detail-info,
.purchases-detail .vendor-reputation,
.purchases-detail .payment-status,
.purchases-detail .vendor-info,
.purchases-detail .product-valoration {
  -webkit-box-shadow: 0px 3px 6px #11111129;
  box-shadow: 0px 3px 6px #11111129;
  border-radius: 8px;
  background: white;
  color: #111111;
}

.purchases-detail .twins {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 1fr;
  grid-template-columns: 1.5fr 1fr;
  grid-gap: 30px;
}

.purchases-detail .item-product {
  display: flex !important;
  padding: 30px;
  padding-left: 15px;
  margin-top: 30px;
  border-radius: 8px;
  height: 90px;
}

.purchases-detail .item-product img {
  border-radius: 50%;
  width: 80px !important;
  height: 60px !important;
  box-shadow: 0px 3px 6px #11111129;
  margin-top: 12px;
}

.purchases-detail .item-product .info {
  margin-left: 2rem;
}

.purchases-detail .item-product .info .t1,
.purchases-detail .item-product .info .title {
  font-size: 14px !important;
  margin-bottom: 10px;
}

.purchases-detail .item-product .info .price,
.purchases-detail .item-product .info .Unit {
  font-size: 14px !important;
  font-weight: 400 !important;
  margin-bottom: 5px;
}

.purchases-detail .item-product .info .description {
  font-weight: 15px;
  margin-bottom: 10px;
}

.purchases-detail .detail-info {
  padding: 30px;
  margin-top: 30px;
  font-size: 20px;
}

.purchases-detail .detail-info .title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
}

.purchases-detail .detail-info .info-1,
.purchases-detail .detail-info .info-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
  grid-template-columns: 3fr 1fr;
  padding: 0 30px;
  padding-bottom: 15px;
}

.purchases-detail .detail-info .info-1 .right,
.purchases-detail .detail-info .info-2 .right {
  font-weight: 600;
}

.purchases-detail .detail-info .info-2 {
  border-top: 1px solid #707070;
  padding-top: 15px;
}

.purchases-detail .vendor-reputation {
  padding: 30px;
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
  grid-template-columns: 2fr 1fr;
}

.purchases-detail .vendor-reputation h4.title {
  font-size: 16px !important;
  font-weight: 500;
  margin-bottom: 30px;
  width: 150%;
  margin-left: 0;
}

.purchases-detail .vendor-reputation .sub {
  font-size: 13px;
  margin-top: 5px;
  width: 150%;
}

.purchases-detail .vendor-reputation .stars {
  display: block;
  margin-top: -15px;
}

.purchases-detail .vendor-reputation .stars svg {
  margin-right: 7.5px;
  width: 20px;
  height: 20px;
  color: #3f7fe1;
}

.purchases-detail .vendor-reputation img {
  width: 100%;
  border-radius: 100%;
  max-width: 125px;
  width: 60px;
  height: 60px;
  box-shadow: 0px 3px 6px #11111129;
  margin-top: 22px;
  margin-left: 15px;
}

.purchases-detail .payment-status {
  padding: 30px;
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
  grid-template-columns: 1fr 4fr;
  grid-gap: 15px;
  border-radius: 8px;
}

.purchases-detail .payment-status .title {
  font-size: 16px !important;
  font-weight: 500;
  margin-bottom: 25px;
}

.purchases-detail .payment-status .sub-1 {
  font-size: 14px !important;
  margin: 0 0;
}

.purchases-detail .payment-status .sub-title {
  font-weight: 600;
  margin-top: -15px;
}

.purchases-detail .payment-status .info {
  width: 120%;
  margin-left: -5px;
}

.purchases-detail .payment-status svg {
  color: #cf0a2c;
  height: 30px;
  width: 30px;
  -webkit-box-shadow: 0px 3px 6px #11111129;
  box-shadow: 0px 3px 6px #11111129;
  padding: 15px;
  border-radius: 50%;
  margin: auto;
  margin-left: -10px;
}

.purchases-detail .vendor-info {
  padding: 30px;
  padding-left: 15px;
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.purchases-detail .vendor-info .info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

.purchases-detail .vendor-info .info img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  max-width: 125px;
  -webkit-box-shadow: 0px 3px 6px #11111129;
  box-shadow: 0px 3px 6px #11111129;
  margin-top: 12px;
}

.purchases-detail .vendor-info .info-text {
  margin-left: -15px;
}

.purchases-detail .vendor-info .info-text .title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.purchases-detail .vendor-info .info-text .sub-1 {
  font-size: 14px !important;
  margin-bottom: 5px;
}

.purchases-detail .vendor-info .link-msg {
  position: relative;
  margin: auto;
  margin-right: 30px;
}

.purchases-detail .vendor-info .link-msg a {
  color: #cf0a2c85;
  font-size: 18px;
  font-weight: 500;
}

.purchases-detail .vendor-info .link-msg a:hover {
  cursor: pointer;
}

.purchases-detail .vendor-info .link-msg a .contador {
  background: #cf0a2c;
  padding: 5px 10px;
  border-radius: 50%;
  font-size: 12px;
  color: white;
  position: absolute;
  right: -20px;
  top: -20px;
}

.purchases-detail .product-valoration {
  padding: 30px;
  margin-top: 30px;
  height: auto !important;
}

.purchases-detail .product-valoration .info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
  grid-template-columns: 1fr 4fr;
  grid-gap: 15px;
}

.purchases-detail .product-valoration .info .info-text {
  margin-left: -45px;
}

.purchases-detail .product-valoration .info img {
  width: 100%;
  border-radius: 100%;
  max-width: 125px;
  -webkit-box-shadow: 0px 3px 6px #11111129;
  box-shadow: 0px 3px 6px #11111129;
  width: 80px;
  height: 80px;
}

.purchases-detail .product-valoration .info-text .title {
  font-size: 16px !important;
  font-weight: 600;
  margin-bottom: 15px;
}

.purchases-detail .product-valoration .info-text h4.title {
  font-size: 16px !important;
  font-weight: 600;
  margin-bottom: 5px !important;
}

.purchases-detail .product-valoration .info-text .sub-1 {
  font-size: 14px !important;
  margin-bottom: 15px;
}

.purchases-detail .product-valoration p {
  /*margin-top: 15px;*/
  font-size: 14px !important;
}

.purchases-detail .product-valoration .thumbnails {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  padding: 0 100px;
  margin-top: 25px;
  margin-left: 10px;
}

.purchases-detail .product-valoration .thumbnails img {
  width: 100%;
}

.purchase-evaluation-link {
  -webkit-box-shadow: 0px 3px 6px #11111129;
  box-shadow: 0px 3px 6px #11111129;
  border-radius: 5px;
  background: white;
  margin-top: 30px;
}
.purchase-evaluation-link .link-content {
  text-align: center;
}

.purchase-evaluation-link a {
  position: relative;
  top: 3.3em !important;
}

@media (max-width: 700px) {
  .purchases-detail {
    padding: 15px;
    padding-top: 15px;
  }
  .purchases-detail h1 {
    color: #111111;
    font-size: 15px;
  }
  .purchases-detail .status {
    margin-top: 15px;
  }
  .purchases-detail .twins {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
  }

  .purchases-detail .item-product img {
    height: initial;
    width: 90%;
  }
  .purchases-detail .item-product .info .t1,
  .purchases-detail .item-product .info .title {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .purchases-detail .item-product .info .price,
  .purchases-detail .item-product .info .unit {
    font-size: 14px;
  }

  .purchases-detail .item-product .info .description {
    font-weight: 15px;
    margin-bottom: 10px;
  }
  .purchases-detail .detail-info {
    padding: 15px;
    margin-top: 15px;
    font-size: 15px;
  }
  .purchases-detail .detail-info .title {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  .purchases-detail .detail-info .info-1,
  .purchases-detail .detail-info .info-2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3fr 1fr;
    grid-template-columns: 3fr 1fr;
    padding: 0 15px;
    padding-bottom: 15px;
  }
  .purchases-detail .detail-info .info-1 .right,
  .purchases-detail .detail-info .info-2 .right {
    font-weight: 600;
  }
  .purchases-detail .detail-info .info-2 {
    border-top: 1px solid #707070;
    padding-top: 15px;
  }
  .purchases-detail .vendor-reputation {
    padding: 15px;
    margin-top: 15px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
    grid-template-columns: 2fr 1fr;
  }
  .purchases-detail .vendor-reputation h4.title {
    font-size: 16px;
  }
  .purchases-detail .vendor-reputation .sub {
    font-size: 10px;
  }
  .purchases-detail .vendor-reputation .stars {
    display: block;
    width: 150%;
  }
  .purchases-detail .vendor-reputation .stars svg {
    margin-right: 7.5px;
    width: 20px;
    height: 20px;
    color: #3f7fe1;
  }
  .purchases-detail .vendor-reputation img {
    max-width: 90px;
  }
  .purchases-detail .payment-status {
    padding: 15px;
    margin-top: 15px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 4fr;
    grid-template-columns: 1fr 4fr;
    grid-gap: 7px;
  }
  .purchases-detail .payment-status .title {
    font-size: 16px !important;
  }
  .purchases-detail .payment-status .sub-1 {
    font-size: 12px;
  }
  .purchases-detail .payment-status svg {
    color: #cf0a2c;
    height: 30px;
    width: 30px;
    -webkit-box-shadow: 0px 3px 6px #11111129;
    box-shadow: 0px 3px 6px #11111129;
    padding: 15px;
    border-radius: 50%;
    margin: auto;
  }
  .purchases-detail .vendor-info {
    padding: 15px;
    margin-top: 15px;
    -ms-grid-columns: 2fr 1fr;
    grid-template-columns: 2fr 1fr;
    grid-gap: 7px;
  }
  .purchases-detail .vendor-info .info {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  .purchases-detail .vendor-info .info img {
    max-width: 90px;
  }
  .purchases-detail .vendor-info .info-text .title {
    font-size: 15px;
    margin-bottom: 15px;
  }
  .purchases-detail .vendor-info .info-text .sub-1 {
    font-size: 10px;
    margin-bottom: 15px;
  }
  .purchases-detail .vendor-info .link-msg {
    position: relative;
    margin: auto;
    margin-right: 15px;
  }
  .purchases-detail .vendor-info .link-msg a {
    font-size: 12px;
  }
  .purchases-detail .vendor-info .link-msg a .contador {
    font-size: 7px;
    position: absolute;
    right: -20px;
    top: -20px;
  }
  .purchases-detail .product-valoration {
    padding: 15px;
    margin-top: 15px;
  }
  .purchases-detail .product-valoration .info {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 4fr;
    grid-template-columns: 1fr 4fr;
    grid-gap: 15px;
  }
  .purchases-detail .product-valoration .info img {
    max-width: 90px;
  }
  .purchases-detail .product-valoration .info-text .title {
    font-size: 15px;
  }
  .purchases-detail .product-valoration .info-text .sub-1 {
    font-size: 12px;
  }
  .purchases-detail .product-valoration p {
    font-size: 12px;
  }
  .purchases-detail .product-valoration .thumbnails {
    grid-gap: 7px;
    padding: 0 40px;
  }
  .purchases-detail .product-valoration .thumbnails img {
    width: 100%;
  }
}

/*# sourceMappingURL=PurchasesDetail.css.map */
