#RecommendedProductsCard {
  position: relative;
  width: 240px !important;
  cursor: pointer;
}

#RecommendedProductsCard .skeletonProductDetail {
  background-color: rgba(0, 0, 0, 0.7) !important;
  border-radius: 5px;
}

#RecommendedProductsCard .product {
  display: flex;
  flex-direction: column;
  height: 290px;
}

#RecommendedProductsCard .product .anullProperties div {
  width: 100% !important;
  display: flex !important;
  justify-content: center;
  height: 270px;
}

#RecommendedProductsCard .product img {
  border-radius: 5px;
  position: relative;
}
#RecommendedProductsCard .product .productImg {
  max-width: 100% !important;
  max-height: 100% !important;
  height: auto !important;
  width: auto !important;
}

#RecommendedProductsCard .product .irImg {
  height: 42px !important;
  width: 53px !important;
}

#RecommendedProductsCard .product h4 {
  margin-top: 10px;
  /* Body 2 */

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  /* or 133% */

  /* Dark Gray */

  color: #5d5d5d;
}

#RecommendedProductsCard .product .priceSection {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
#RecommendedProductsCard .product .priceSection .price {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #000000;
}
#RecommendedProductsCard .product .priceSection .discount {
  /* Subheader 1 */

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  text-align: right;
  letter-spacing: 0.03em;

  /* Discount Blue */

  color: #1fc2e6;
}

#RecommendedProductsCard .product .price:before {
  content: "$";
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin-right: 5px;
}

#RecommendedProductsCard .product .stock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: auto;
  padding-top: 21px;
}

#RecommendedProductsCard .product .stock h3 {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0;
  text-align: center;
  color: #969696;
  padding-right: 17px;
}
