#RecommendedProducts {
  position: static;
  width: 100%;
  background-color: white;
}

#RecommendedProducts .cabecera {
  position: relative;
  padding-bottom: 35px;
}

#RecommendedProducts .cabecera h3 {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #cf0a2c;
}

#RecommendedProducts .swiper-slide {
  background-size: cover;
  border-radius: 5px;
  background: #ffffff center;
  width: 240px !important;
  height: 337px !important;
  /* width: 155px !important; */
}

#RecommendedProducts .swiper-slide div img {
  border-radius: 5px;
}

#RecommendedProducts .swiper-slide {
  margin-right: 400px;
}

#RecommendedProducts .swiper-container .swiper-pagination-bullets {
  position: absolute;
  bottom: 0;
  width: 300px;
  left: 0;
  right: 0;
  margin: auto;
  padding-top: 35px;
  display: flex;
  justify-content: center;
}

#RecommendedProducts
  .swiper-container-horizontal.recomendedSwiper
  > .swiper-pagination-bullets
  .swiper-pagination-bullet {
  width: calc(100% - 75%);
  border-radius: 0 !important;
  margin: 0 !important;
  height: 2px;
  background: #000000;
}

#RecommendedProducts .swiper-container {
  margin-bottom: auto;
  margin-top: 0;
  max-width: 100vw;
  width: 100vw;
  box-sizing: border-box;
  padding-left: 25px;
  height: 100% !important;
}

@media (min-width: 768px) {
  #RecommendedProducts {
    margin-top: 80px;
  }

  #RecommendedProducts .divindingLine {
    grid-area: divindingLine;
  }

  #RecommendedProducts .divindingLine {
    grid-area: divindingLine;
  }

  #RecommendedProducts .cabecera h3:first-of-type {
    grid-area: h3_1;
    margin-right: 1rem;
  }

  #RecommendedProducts .cabecera h3:last-of-type {
    grid-area: h3_2;
  }

  #RecommendedProducts .cabecera {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }

  #RecommendedProducts .divindingLine {
    width: 419px !important;
    margin-top: 122px !important;
  }

  #RecommendedProducts .cabecera h3 {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 42px;
    line-height: 51px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #cf0a2c;
  }
  #RecommendedProducts .swiper-container {
    margin-bottom: auto;
    margin-top: 0;
    max-width: 98vw;
    width: 98vw;
    box-sizing: border-box;
    padding-left: 25px;
    height: 100% !important;
  }
}

#RecommendedProducts .swiper-container .swiper-pagination-bullets {
  width: 96%;
}
