.categories-img-menu
    margin-bottom: 50px
    .slider
        .previousButton, .nextButton
            svg polygon
                fill: #CF0A2C !important;
        .nextButton
            right: 0
        .previousButton
            left: 0
    .content-categories-img-menu
        display: grid
        grid-template-columns: repeat(7,1fr)
        grid-template-rows: repeat(2,1fr)
        font-size: 12px
        text-align: center
        background-color: #fff
        a.categories-img
            padding: 40px 20px
            color: #111111
            border-right: 1px solid #F2F2F2
            border-bottom:  1px solid #F2F2F2
            p.categories-menu-icon
                margin-bottom: 20px
                color: #CF0A2C
                font-size: 50px
                svg, img
                    width: 45px !important
                    max-width: 45px !important
                    height: 45px !important
                    max-height: 45px !important
    .diferent-numbers
        grid-template-columns: repeat(4,1fr)
    .main-button
        display: none


@media (max-width: 999px)
    .categories-img-menu
        margin: 15px
        .content-categories-img-menu
            grid-template-columns: repeat(2,1fr)
            grid-template-rows: repeat(7,1fr)
            grid-gap: 20px
            background: #EAF0F0 0% 0%
            a.categories-img
                box-shadow: 0px 3px 6px #11111129;
                background: white
                p
                    font-size: 20px
                .categories-menu-icon      
        .main-button
            background: white !important
            color: #CF0A2C !important
            display: block
            margin-top: 20px
            width: auto
            box-shadow: 0px 3px 6px #11111129;
            font-size: 15px
            p
                margin: 0
                padding: 0
                font-size: 15px

@media (max-width: 777px)
    .categories-img-menu
        margin: 15px
        .slider
            display: none !important
        .home-section-title
            font-size: 18ox !important
            color: #111111
            margin-bottom: 15px
            font-weight: 400
        .content-categories-img-menu
            grid-template-columns: repeat(2,1fr)
            grid-template-rows: unset;
    .no-movil
        display: none
    .categories-menu-icon
        svg
            width: 75px !important
            max-width: 75px !important
            height: 75px !important
            max-height: 75px !important
 
@media (max-width: 400px)
    .categories-img-menu
        .content-categories-img-menu
            grid-gap: 10px
            .categories-img
                display: flex
                align-items: center
                padding: 20px 10px !important;
                .item
                    margin: auto
