.chat-msg-in
    background: #F5F5F5
    padding: 20px
    margin: 0px 20px
    margin-right: 250px
    position: relative
    border-radius: 5px
    font-weight: bold
    padding-bottom: 25px
    .hours
        left: 18px
.chat-msg-in::before
    content: ""
    width: 0px
    height: 0px
    border-top: 15px solid #F5F5F5
    border-right: 15px solid transparent
    position: absolute
    left: 0px
    bottom: -10px
.chat-msg-out
    background: #FFD6D6
    padding: 20px
    margin: 0px 20px
    margin-left: 250px
    border-radius: 5px
    position: relative
    text-align: right
    font-weight: bold
    padding-bottom: 25px
    .hours
        right: 18px
.chat-msg-out::after
    content: ""
    width: 0px
    height: 0px
    border-top: 15px solid #FFD6D6
    border-left: 15px solid transparent
    position: absolute
    right: 0px
    bottom: -10px
.chat-wrap-in,.chat-wrap-out
    display: flex
    justify-content: flex-start
    align-items: flex-estart
    width: 100%
    margin-bottom: 30px
.chat-wrap-out
    justify-content: flex-end
.chat-wrap
    background: white
    border-radius: 5px
    border: 1px solid #c5c5c5
    margin: 20px auto !important
    display: -ms-grid
    display: grid
    -ms-grid-rows: auto 1fr auto
        grid-template-rows: auto 1fr auto
    height: 65vh
    h5
        padding: 15px
        font-weight: bold
        background: #CF0A2C 
        color: white
        border-radius: 5px 5px 0px 0px
.msg
    overflow-y: scroll;
.chat-wrap-none
        text-align: center
        margin: 15px
        font-size: 15px
        color: #565555
.chat-input
    background: white
    display: flex
    justify-content: space-between
    border-top: 1px solid #c5c5c5
    padding: 20px
    border-radius: 0 0 5px 
    input
        margin: 0px
        border: 1px solid #c5c5c5
.chat-wrap-button
    display: flex
    label
        width: 100%
        display: flex
        justify-content: center
        align-items: center
        padding: 10px
        border-radius: 5px
        margin: 0px 10px
        color: #CF0A2C
        border: 1px solid #c5c5c5
        cursor: pointer
    button
        background: #E9E8E8
        border: 1px solid #c5c5c5
        margin: 0px

.chat-msg-none
    .hours
        display: none

.hours
        position: absolute
        bottom: -17px
        font-size: 12px
        font-weight: bold
        color: #565555

@media (max-width:550px)
    .chat-wrap
        width: 90%
        margin: auto
        height: auto
        overflow: inherit
        margin: 15px auto
        height: auto
    .chat-msg-in
        margin-right: 50px
    .chat-msg-out
            margin-left: 50px