.message-warning {
  color: orange;
  margin-top: -10px;
  margin-left: 10px;
}

.message-ok {
  color: green;
  margin-top: -10px;
  margin-left: 10px;
}

.message-danger {
  color: red;
  margin-top: -10px;
  margin-left: 10px;
}

.message {
  color: gray;
  margin-top: -10px;
  margin-left: 10px;
}
