.login-component
    display: grid
    grid-template-rows: auto 1fr auto
    height: 100vh
    .main-button
        display: flex
        margin: 5px auto
        width: auto
        padding: 10px 0
        background-color: #CF0A2C
        color: white
        text-align: center
        width: 80%;
        font-size: 18px
        p
            font-size: 18px
            width: 100%;
            padding: 0px 15px;


.login
    margin: auto
    padding: 6vh 5vw
    width: 15vw
    min-width: 320px
    color: #5A5A5A
    background-color: #fff
    border-radius: 20px
    box-shadow: 0px 3px 6px #00000029
    p.login-text
        font-size: 15px
        a.link
            display: block
    h1
        font-size: 28px
        text-align: center
        font-weight: lighter
    .social-buttons
        margin: 20px 0px 30px
        padding: 0px 10px

.login-text
    margin-top: 20px
    line-height: 20px
    text-align: center

.input
    max-width: 95%
    &::placeholder
        color: #5A5A5A
        text-align: center

p.forgot-pass-link
    margin-bottom: 30px
    padding: 0px 10px
    font-size: 12px
    text-align: right

@media(max-width:700px)
    .login-component
        background-color: transparent !important
        height: auto
        .login
            border-radius:inherit !important
            padding: 15px !important
            box-shadow:none !important
            margin: 7vh auto 7vh auto !important
            min-width: 280px
            background: transparent
            h1
                width: 80%
                margin: auto
            .login-text
                a.link
                    display: inline
        .footer
            display: none

@media (min-width: 700px) and (max-height: 900px)
    .login-component
        .login
            margin : 80px auto 80px auto
