.header
    position: relative
    top: 0px
    right: 0px
    padding: 20px
    width: calc(100% - 40px)
    background-color: #D11E36

.header-content
    display: grid
    grid-template-columns: 1fr 1fr
    margin: 0px auto
    width: 80%

.help-link-content
    display: grid
    .help-link
        text-align: right
        align-self: end
        p
            color: #fff