.footer
    padding: 20px
    width: calc(100% - 40px)
    background-color: #D11E36

.footer-content
    display: grid
    grid-template-columns: 3fr 1fr
    margin: 0px auto
    width: 80%

.footer-tex
    color: #F59D9D
    font-size: 14px
    align-self: center
    ul
        display: flex
        //justify-content: space-between
        margin-top: 20px
        a
            margin-right: 20px
            color: #fff

.footer-download
    align-self: center
    .download-app
        display: grid
        grid-template-columns: 1fr 5fr
        grid-gap: 10px
        float: right
        padding: 10px
        background-color: #fff
        border-radius: 12px
        img.phone-img
            float: left
        p
            color: #D11E36
            font-size: 20px
            align-self: center