.footer
    padding: 20px
    width: calc(100% - 40px)
    background-color: #CF0A2C
    .footer-movil
            display: none


.footer-content
    display: grid
    grid-template-columns: 3fr 1fr
    margin: 0px auto
    width: 80%

.footer-tex
    color: #F59D9D
    font-size: 14px
    align-self: center
    p
        color: #F59D9D !important
    ul
        display: flex
        margin-top: 20px
        a
            margin-right: 20px
            color: #fff

.footer-download
    align-self: center
    .download-app
        display: grid
        grid-template-columns: 1fr 5fr
        grid-gap: 10px
        float: right
        padding: 10px
        background-color: #fff
        border-radius: 12px
        img.phone-img
            float: left
            height: 30px
        p
            color: #CF0A2C
            font-size: 20px
            align-self: center

@media(max-width:700px)
    .footer
        padding: 0px 20px 20px 20px !important
        .footer-content
            display: none
        .footer-movil
            display: grid !important
            grid-template-columns: auto
            /*grid-template-rows: 1fr 1fr*/
            width: auto
            .footer-download
                margin: auto
            .footer-tex ul
                margin-top: 15px
                display: grid
                grid-template-columns: 1fr 1fr
                a
                    font-size: 15px
                    margin-bottom: 15px
                p                    
                    font-size: 15px




