#footerWrapper {
  padding: 42px 0 0 0;
}
.footer {
  width: 100%;
  padding: 30px 0 60px 0;
  position: relative;
  border: 1px solid #dadada;
  background-color: #ececec;
}

.footer .footerContentWrapper {
  width: 75%;
  margin: 0 auto;
}
.footer .footerContentWrapper .rigths {
  margin-bottom: 35px;
  color: #9a9a9a;
}
.footer .footerContentWrapper .footerContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer .footerContent .footerElement {
  margin: 0 30px 20px 0;
}
.noMargin {
  margin: 0 !important;
}
.footer .footerContent .footerElement h3 {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 16px;
}
.footer .footerContent .footerElement .footerLinks {
  display: flex;
  flex-direction: column;
}
.footer .footerContent .footerElement .footerLinks .footerLink {
  color: gray;
  margin-bottom: 7px;
  font-size: 14px;
}

@media only screen and (max-width: 875px) {
  .footer .footerContent {
    width: 85%;
  }
}
@media only screen and (max-width: 600px) {
  .footer .footerContent .footerElement {
    width: 150px;
  }
}
