#CheckoutButton {
  background: #cf0a2c 0% 0% no-repeat padding-box;
  border-radius: 5px;
  width: 100%;
  color: white;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  position: relative;
  cursor: pointer;
}
#CheckoutButton .button-text {
  /* Buttons Label */

  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 21px;
  line-height: 26px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;

  /* White */

  color: #ffffff;
}
#CheckoutButton .icon-shoping-cart {
  position: absolute;
  right: 30px;
  font-size: 25px;
}

#CheckoutButton.disableButton {
  background: #d6d6d6 !important;
  cursor: not-allowed;
}
#CheckoutButton.roundedButton {
  border-radius: 40px;
}
#CheckoutButton.secundaryColor {
  background-color: #74c1d2 !important;
}

#CheckoutButton.secundaryHeight {
  height: 48px;
}
