.cancel-account    
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    height: 100%;
    .cancel-account-top
        padding: 30px 0px
        color: #717171
        background: #FFFFFF
        box-shadow: 0px 3px 6px #00000029
        .cancel-account-bar
            margin: auto
            width: 80%
            .back-btn
                a
                    display: grid
                    grid-template-columns: repeat(2,auto)
                    grid-gap: 15px
                    width: fit-content
                    color: #CF0A2C
            h2
                margin: 40px auto 0px auto
                width: 70%
            
.cancel-account-content
    margin: auto
    padding: 40px
    width: 50%
    min-height: 50vh
    .cancel-account-box
        padding: 20px 40px
        color: #717171
        background: #FFFFFF
        border: 1px solid #717171
        border-radius: 5px
        h3
            margin-bottom: 20px
        .cancel-account-checkbox
            margin: 20px auto
            width: 80%
            label
                display: grid
                grid-template-columns: auto 1fr
                grid-gap: 15px
                margin: 5px 0px
                input
                    margin: 0px
                    width: fit-content
        .cancel-account-textarea
            margin: auto
            width: 70%
            textarea
                margin-top: 15px
                max-width: 100%
                min-width: 100%
                min-height: 100px
        .cancel-account-box-btn
            margin-top: 20px
            button
                color: #fff


@media (max-width:700px)
    .cancel-account-top
        padding: 15px
        .cancel-account-bar
            width:  auto
            h2
                margin: 15px auto 0px 27px
                width: auto
    .cancel-account-content
        margin: auto
        padding: 15px
        width: auto
        .cancel-account-box
            padding: 15px
