#Benefits {
  border-bottom: 4px solid #e4e4e4;
  background: #fff;
  transition: all 0.3s ease;
  min-width: 320px;
  display: grid;
  align-items: center;
  justify-content: center;
}

#Benefits h2 {
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-style: normal;
  line-height: 29px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.05em;
  display: inline-block;
  margin-bottom: 25px;
  margin-top: 35px;
}

#Benefits h2 .red {
  color: #cf0a2c;
  display: inline;
}
#Benefits .beneficio {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#Benefits .beneficio .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#Benefits .beneficio img {
  margin: 36px 0 0px 0 !important;
  width: 245px !important;
  height: 227px !important;
}

#Benefits .beneficio h3 {
  font-family: Montserrat, sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0;
  text-align: center;
  margin: 0 3px 18px 3px;
  color: #000000;
}

#Benefits .beneficio p {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #5d5d5d;
  width: 90%;
}

@media (min-width: 768px) {
  #Benefits h2 {
    margin-top: 110px;
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 68px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #000000;
  }
  #Benefits .beneficio {
    flex-flow: row;
    flex-wrap: wrap;
  }
  #Benefits .beneficio .box {
    width: 562px;
    height: 478px;
    margin-top: 40px;
  }

  #Benefits .beneficio .box h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.03em;
  }

  #Benefits .beneficio .box p {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
  }

  #Benefits .beneficio .box img {
    width: 305px !important;
    height: 248px !important;
  }

  #Benefits .beneficio .box:nth-of-type(4) {
    margin-top: 178px;
    margin-bottom: 178px;
  }
  #Benefits .beneficio .box:nth-of-type(5) {
    margin-top: 178px;
    margin-bottom: 178px;
  }
}
