#Benefits {
  border-bottom: 4px solid #e4e4e4;
  background: #fff;
  transition: all 0.3s ease;
}

#Benefits .benefit {
  padding: 0 2%;
}
#Benefits h2 {
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-style: normal;
  line-height: 29px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.05em;
  display: inline-block;
  margin-bottom: 25px;
  margin-top: 35px;
}

#Benefits h2 .red {
  color: #cf0a2c;
  display: inline;
}

#Benefits img {
  width: 230px !important;
  height: 200px !important;
}

#Benefits h3 {
  font-family: Montserrat, sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0;
  text-align: center;
  margin: 0 3px 18px 3px;
  color: #000000;
}

#Benefits p {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #5d5d5d;
  /* width: 90%; */
}

#Benefits .benefit > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 1% 0;
}

@media (min-width: 768px) {
  #Benefits {
    border: none;
  }
  #Benefits h2 {
    margin-top: 110px;
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 68px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #000000;
    white-space: nowrap;
  }

  #Benefits h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.03rem;
    margin-bottom: 25px;
  }

  #Benefits p {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    margin-right: 2%;
  }

  #Benefits .benefit {
    margin-bottom: 90px;
  }
}
