.search
    position: absolute
    left: 0
    right: 0
    bottom: 0
    top: 0
    display: grid
    grid-template-rows: auto 1fr auto
    font-family: 'Montserrat', sans-serif;
.search-content
    display: flex
    width: 80%
    margin: 30px auto

@media (max-width: 768px)
    .search-content
        flex-direction: column
        margin: auto
        margin-top: 0;
        margin-bottom: 30px
        width: 100%