.explorer {
  margin-bottom: 50px;
}

.wrapImgExplorer{
  display:contents
}

.explorer .home-section-title {
  color: #111111;
  margin-bottom: 10px;
}

.explorer .home-section-title .accent {
  margin-left: 5px;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 500;
}

.explorer .content-explorer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
}


.explorer .content-explorer .main-img  {
  width: 100%;
  background: #ffffff;
  height: 100%;
  max-height: 400px;
  min-height: 250px
}

.explorer .content-explorer .main-img div{
  height: 100%;
  display: flex;
}

.explorer .content-explorer .main-img div img {
  width: 100%;
  max-height: 400px;
}

.explorer .content-explorer .group-img {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
}

.explorer .content-explorer .group-img .wrapImgExplorer .loaderSkeleton {
  width: 100%;
  height: 100%;
  max-height: 187px;
}

.explorer .content-explorer .group-img .wrapImgExplorer a{
  display:flex;
  background: white;
}

.explorer .content-explorer .group-img .wrapImgExplorer div{
  display:contents;
}
.explorer .content-explorer .group-img .wrapImgExplorer img {
  width: auto !important;
  min-width: 50px;
  height: 100%;
  max-height: 187px;
  max-width: 100%;
  margin: 0 auto;
}

@media (max-width: 1025px) {
  .explorer .home-section-title {
    font-size: 16px !important;
    color: #111111;
    margin-bottom: 15px;
    font-weight: 400;
  }
  .explorer .home-section-title .accent {
    margin-left: 10px;
    white-space: nowrap;
    font-size: 13px !important;
  }
  .explorer .content-explorer .main-img img {
    width: 100%;
    height: 100%;
    max-height: 340px;
  }

   .explorer .content-explorer .group-img .wrapImgExplorer .loaderSkeleton{
    width: 100%;
    height: 100%;
    max-height: 150px;
   }

  .explorer .content-explorer .group-img .wrapImgExplorer img {
    width: 100%;
    height: 100%;
    max-height: 150px;
  }
}

@media (max-width: 800px) {
  .explorer .content-explorer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 0fr 1fr;
        grid-template-rows: 0fr 1fr;
    grid-gap: 10px;
  }
  .explorer .content-explorer .main-img {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 0px;
  }
  .explorer .content-explorer .main-img img {
    max-height: inherit;
  }
  .explorer .content-explorer .group-img {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
 
   .explorer .content-explorer .group-img .wrapImgExplorer .loaderSkeleton{
     max-height: inherit;
   }
  
  .explorer .content-explorer .group-img .wrapImgExplorer img {
    max-height: inherit;
  }
  .wrapImgExplorer:nth-child(n+5) {
    display: none;
  }
}

@media (max-width: 700px) {
  .explorer {
    margin: 15px 15px 50px 15px;
  }
  .explorer .home-section-title {
    display: none;
    color: #111111;
    margin-bottom: 15px;
    font-weight: 400;
  }
  .explorer .home-section-title .accent {
    margin-left: 10px;
    white-space: nowrap;
    font-size: 13px !important;
  }
}
/*# sourceMappingURL=Explorer.css.map */