.privacity-wrap-content
    margin: 100px 20%
    color: #111111
    p, li, h3
        text-align: justify
        margin-bottom: 20px

.privacy_title
    font-size: 26px
    font-weight: 600
    margin-bottom: 20px