.wrap-menu-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 32px;
  left: -12px;
  right: 0;
  width: 100%;
  height: calc(100vh - 90px);
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 100;
  color: #6D6D6D;
}

.menu-categories {
  border-radius: 5px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: transparent;
  background: white;
  width: auto;
  position: absolute;
  top: 0;
  left: 10%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 3fr;
      grid-template-columns: 300px 3fr;
}

.menu-categories.active {
  width: 70%;
}

.menu-categories:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  -webkit-filter: drop-shadow(1px 1px 2px black);
          filter: drop-shadow(1px 1px 2px black);
  border-radius: 5px;
}

.menu-categories a {
  color: #292929 !important;
}

.title-categories {
  background: #CF0A2C;
  z-index: 1000;
  border-radius: 0 0px 0 5px;
}

.title-categories svg {
  float: right;
}

.title-categories span {
  font-size: 20px;
  display: block;
  padding: 2px 15px;
}

.title-categories span a {
  color: white !important;
}

.title-categories .active-link:hover {
  background: white;
}

.title-categories .active-link:hover a {
  color: #CF0A2C !important;
}

.sub-categories {
  background: #FFFFFF;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  padding: 15px 30px;
  -ms-grid-rows: (1fr)[10];
      grid-template-rows: repeat(10, 1fr);
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  border-radius: 0  0 5px 0;
  width: 220%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 300px;
}

@media (max-width: 1024px) {
  .sub-categories {
    max-width: 600px;
  }
}

.sub-categories.show-all span {
  display: -ms-grid !important;
  display: grid !important;
}

.sub-categories span {
  display: -ms-grid;
  display: grid;
  margin: auto;
  margin-left: 0;
  margin-top: 0;
  margin-right: 5px;
  display: none;
}

.sub-categories span .accent {
  color: #CF0A2C !important;
}

.sub-categories span:nth-child(-n+15) {
  display: -ms-grid;
  display: grid;
}

.sub-categories span a {
  display: -ms-grid;
  display: grid;
  font-size: 12px;
  margin: auto;
  margin-left: 0;
  padding: 0 !important;
}

.sub-categories .load-more {
  position: absolute;
  right: 30px;
  bottom: 20px;
}

.close {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.header-menu-categories {
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.header-menu-categories h3 {
  font-size: 24px;
}

@media (max-width: 700px) {
  .wrap-menu-categories .menu-categories {
    max-width: initial;
    width: 80%;
    padding: 20px !important;
  }
}
/*# sourceMappingURL=MenuCategories.css.map */