.data-sheet-wrap-form
    display: flex
    justify-content: space-between
    margin: 0px
    padding: 0px
.data-sheet-wrap-section-form
    width: 49%
.data-sheet-item-form
    display: flex
    margin-bottom: 15px
    justify-content: space-between
    button
        width: 49%
        margin: 0px
        color: white
        background: #d11e36
    input
        margin: 0px
    select
        min-width: 15%
        border-radius: 5px
        margin-left: 5px
        outline: none
.data-sheet-wrap-title
    margin: 20px 0px