.data-sheet-wrap-form
    display: flex
    justify-content: space-between
    margin: 0px
    padding: 0px
.data-sheet-wrap-section-form
    width: 49%
.data-sheet-item-form
    display: flex
    margin-bottom: 15px
    justify-content: space-between
    button
        width: 49%
        margin: 0px
        color: white
        background: #CF0A2C
    input
        margin: 0px
    select
        border-radius: 5px
        outline: none
        background: #CF0A2C
        color: white
        width: 70px;
        margin: auto;
        padding: 9px 10px;
        margin-left: 5px;
.data-sheet-wrap-title
    margin: 20px 0px