#ProductDetailDesktop {
  background-color: #e5e5e5;
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}

#ProductDetailDesktop .containerspecialOffer .specialOffer {
  width: 80% !important;
}
#footerWrapper {
  padding: 0 !important;
  padding-top: 34px !important;
  background-color: #fff !important;
}

.footer {
  border-top: unset !important;
}
