#ProductDetailDesktop {
  background-color: #e5e5e5;
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}

#ProductDetailDesktop .container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#ProductDetailDesktop .container .containerspecialOffer {
  padding: 0;
  margin-top: 16px;
  width: 80vw !important;
}

#ProductDetailDesktop .container .containerspecialOffer .swiperSliderDetail {
  padding: 0;
  border-radius: 20px !important;
}
#footerWrapper {
  padding: 0 !important;
  padding-top: 34px !important;
  background-color: #fff !important;
}

.footer {
  border-top: unset !important;
}
