#ProductDetailDesktop {
  background-color: #e5e5e5;
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}

#ProductDetailDesktop .container {
  width: 80vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#ProductDetailDesktop .container .specialOffer {
}

#footerWrapper {
  padding: 0 !important;
  padding-top: 34px !important;
  background-color: #fff !important;
}

.footer {
  border-top: unset !important;
}
