/* #ProductDetailDesktop {
  background-color: #e5e5e5;
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
} */

#footerWrapper {
  padding: 0 !important;
  background-color: #fff !important;
}

.footer {
  border-top: unset !important;
}

.containerSellerInfo {
  display: flex;
  min-width: 768px;
}
