#ProductDetailDesktop {
  position: relative;
}

#footerWrapper {
  padding: 0 !important;
  background-color: #fff !important;
}

.footer {
  border-top: unset !important;
}

.containerSellerInfo {
  display: flex;
  min-width: 768px;
  border-radius: 20px;
  overflow: hidden;
}

.containerspecialOffer {
  border-radius: 20px;
  overflow: hidden;
}

.containerRecommentProducts {
  overflow: hidden;
}

.containerInfo {
}
.Nav-mt {
  margin-top: 50.4px;
}
