#ProductDetailDesktop {
  position: relative;
}

#footerWrapper {
  padding: 0 !important;
  background-color: #fff !important;
}

.footer {
  border-top: unset !important;
}

.containerSellerInfo {
  display: flex;
  min-width: 768px;
}
.Nav-mt {
  margin-top: 50.4px;
}
