#ProductDetailDesktop {
  background-color: #e5e5e5;
  overflow-x: hidden;
}

#ProductDetailDesktop .container {
  margin: 18px 100px 80px 100px;
}

#ProductDetailDesktop .container .specialOffer {
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  margin: 16px 100px 0 100px;
}

#ProductDetailDesktop #RecommendedProducts {
  /*margin-top: 80px;*/
}
