#InfoProductDetail {
    background: #fff;
    display: grid;
    grid-template-areas:
    "titulo"
    "envios"
    "compras"
    "garantia";
}

/*Definiciones de los areas*/
#InfoProductDetail .envios {
    grid-area: envios;
}

#InfoProductDetail .compras {
    grid-area: compras;
}

#InfoProductDetail .garantia {
    grid-area: garantia;
}

#InfoProductDetail .title {
    grid-area: titulo;
}


#InfoProductDetail .title {
    margin: 24px 0px;
    width: 100%;
    padding: 0px 25px !important;
}

#InfoProductDetail .title h4 {
    display: flex;
    font-size: 18px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
}

#InfoProductDetail .title h4 .company {
    margin-left: 4px;
    color: #cf0a2c;
}

#InfoProductDetail .info {
    display: flex;
    align-items: center;
    margin-bottom: 28px;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    padding: 0px 30px;
}

#InfoProductDetail .info .car {
    margin-left: -4px;
}

#InfoProductDetail .info .icon {
    align-items: center;
    margin-right: 27px;
}

.texte {
    margin-left: -10px;
}

#InfoProductDetail .info .icon img {
    padding-bottom: 12px;
    height: 38px;
}

#InfoProductDetail .info .text {
    flex: 1;
    padding-right: 80px;
}

#InfoProductDetail .text h3 {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 4px 0;
}

#InfoProductDetail .text p {
    /* Body 2 */
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #5d5d5d;
}

/*Modo tablet*/
@media (min-width: 750px) {
    #InfoProductDetail {
        grid-template-areas:
                "titulo titulo titulo"
                "envios compras garantia";
        height: auto;
        border-radius: 20px 20px 0 0;
    }


    #InfoProductDetail .text {
        margin-right: 50px;
    }

    #InfoProductDetail .info .icon {
        margin-left: 50px;
    }

    #InfoProductDetail .info {
        display: inline-block;
        margin-bottom: 15px;
    }

    #InfoProductDetail .title h4 {
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 70px;
    }

    #InfoProductDetail .info .icon img {
        margin-left: 0;
        margin-right: 110px;
    }


}
