#productDetailMobil #InfoProductDetail .icon {
  width: 40px;
  display: flex;
  justify-content: center;
}

#InfoProductDetail .envios {
  display: flex;
  align-items: center;
  margin-bottom: 28px;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
}

#InfoProductDetail .envios:first-of-type {
  margin-left: -1%;
}

#InfoProductDetail .envios .icon {
  margin-right: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

#InfoProductDetail .envios .icon img {
  padding-bottom: 12px !important;
  height: 38px !important;
}

#InfoProductDetail .text {
  flex: 1;
  margin-right: 1%;
}

#InfoProductDetail .text h3 {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 4vw;
  color: #000000;
  margin: 4px 0;
}

#InfoProductDetail .text p {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5vw;
  color: #5d5d5d;
}

/* Modo Tablet*/
@media (min-width: 768px) and (max-width: 1024px) {
  #InfoProductDetail .title {
    margin-bottom: 4vw;
  }
  #InfoProductDetail .title h4 {
    font-size: 4.5vw;
  }

  #InfoProductDetail .envios {
    flex-direction: column;
  }

  #InfoProductDetail .envios .text {
    margin-right: 1vw;
  }
  #InfoProductDetail .envios .text h3 {
    font-size: 2.9vw;
  }

  #InfoProductDetail .envios .text p {
    font-size: 2vw;
  }

  #InfoProductDetail {
    padding-bottom: 5vw;
  }

  #InfoProductDetail .envios .icon img {
    height: 6vw !important;
    width: auto !important;
  }
}

/* Modo Table*/
@media (min-width: 768px) and (max-width: 1024px) {
  #InfoProductDetail {
    border-radius: 10px;
  }
}

/* Modo Desktop*/
@media (min-width: 1025px) {
  #InfoProductDetail .title {
    padding-top: 2.5vw;
    justify-content: center;
  }
  #InfoProductDetail {
    padding-bottom: 5vw;
  }
  #InfoProductDetail .title h4 {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 2.5vw;
    line-height: unset;
    letter-spacing: unset;
    color: #000000;
  }

  #InfoProductDetail .envios h3 {
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 2%;
  }

  #InfoProductDetail .envios p {
    font-size: 1vw;
    font-style: normal;
    font-weight: 500;
    line-height: unset;
    letter-spacing: 0;
    text-align: left;
  }

  #InfoProductDetail .envios .icon img {
    height: 5vw !important;
    width: auto !important;
  }

  #InfoProductDetail .envios:first-of-type {
    margin-left: unset;
  }
}
