#InfoProductDetail {
  background: #fff;
  padding: 24px 25px 0;
  display: flex;
  flex-direction: column;
}
#InfoProductDetail .title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 0 25px 25px 25px;
}

#InfoProductDetail .title h4 {
  font-size: 5vw;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
}

#InfoProductDetail .title h4 .company {
  margin-left: 4px;
  color: #cf0a2c;
  display: inline;
}

#InfoProductDetail .info {
  align-items: center;
  justify-content: center;
  margin-left: 30px;
}

#InfoProductDetail .info .envios {
  display: flex;
  align-items: center;
  margin-bottom: 28px;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
}

#InfoProductDetail .info .envios:first-of-type {
  margin-left: -1%;
}

#InfoProductDetail .info .envios .icon {
  margin-right: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#InfoProductDetail .info .envios .icon img {
  padding-bottom: 12px !important;
  height: 38px !important;
}

#InfoProductDetail .info .text {
  flex: 1;
  margin-right: 1%;
}

#InfoProductDetail .text h3 {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 4vw;
  /*line-height: 17px;*/
  color: #000000;
  margin: 4px 0;
}

#InfoProductDetail .text p {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5vw;
  /*line-height: 16px;*/
  color: #5d5d5d;
}

@media (min-width: 768px) {
  #InfoProductDetail {
    border-radius: 20px;
  }
  #InfoProductDetail .title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6% 0;
  }
  #InfoProductDetail .title h4 {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 2.5vw;
    line-height: unset;
    letter-spacing: unset;
    color: #000000;
  }
  #InfoProductDetail .info {
    margin: 0 2% 7.5% 2%;
  }
  #InfoProductDetail .info .envios {
    align-items: center;
    justify-content: space-evenly;
    height: 20% !important;
    width: auto;
  }
  #InfoProductDetail .info .envios h3 {
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 2%;
  }
  #InfoProductDetail .info .envios p {
    font-size: 1vw;
    font-style: normal;
    font-weight: 500;
    line-height: unset;
    letter-spacing: 0;
    text-align: left;
  }
  #InfoProductDetail .info .envios .icon img {
    height: 5vw !important;
    width: auto !important;
  }

  #InfoProductDetail .info .envios:first-of-type {
    margin-left: unset;
  }
}
