$light: #818181;
$base: #D4D4D4;

.pagination-component
    display: flex
    justify-content: center
    align-items: center
    .pagination 
        display: flex
        align-items: center
        margin-bottom: 20px 
        padding: 0
        font-size: 18px;
        font-weight: 700
        list-style: none
        user-select: none
        span
            color: $light
        .next-step
            font-size: 15px
        .icon
            font-size: 24px
            margin-left: 4px
        .page-item 
            min-width: 25px
            min-height: 25px
            display: flex
            align-items: center
            justify-content: center
            margin: 0 2px
            transition: all 0.3s
            color: $light
            font-size: 15px
            &.active 
                padding: 0;
                background: $base
            &.arrow-icon 
                position: relative
                z-index: 1
                font-size: 35px
                transform: translateY(-2px)
                transition: all 0.3s
                &:after 
                    content: ""
                    width: 25px
                    height: 25px
                    position: absolute
                    z-index: -1;
                    top: 56%
                    left: 50%
                    transform: translate(-50%, -50%)
            &.disabled 
                display: none
            &:hover 
                background: transparent
  

