$light: #5A5A5A;
$base: #D4D4D4;
$primarily: #9b9b9b;
$light-gray: lighten($primarily, 35);
$gray: rgba($primarily, 0.3);

.pagination-component
    .pagination 
        display: flex;
        align-items: center;
        margin-top: 40px;
        padding: 0;
        font-size: 18px;
        font-weight: 700;
        list-style: none;
        user-select: none;
        .page-item 
            min-width: 25px;
            min-height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 2px;
            transition: all 0.3s;
            &.active 
            padding: 0;
            color: $light;
            background: $base;
            &.arrow-icon 
            position: relative;
            z-index: 1;
            font-size: 35px;
            transform: translateY(-2px);
            transition: all 0.3s;
            &:after 
                content: "";
                width: 25px;
                height: 25px;
                position: absolute;
                z-index: -1;
                top: 56%;
                left: 50%;
                transform: translate(-50%, -50%);
                &.disabled 
                    display: none;
                &:hover 
                    background: transparent;
        .card 
            width: 400px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 20px;
            padding-bottom: 40px;
            background: $light;
        .fa-instagram 
        position: absolute;
        top: 3%;
        right: 2%;
        color: $light;
        font-size: 38px;
        cursor: pointer;
        transition: all 0.1s;
        &:hover 
            font-size: 42px;
  

