.pagination-component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination-component .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  list-style: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.pagination-component .pagination span {
  color: #818181;
}

.pagination-component .pagination .page-item {
  min-width: 25px;
  min-height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #818181;
  font-size: 15px;
}

.pagination-component .pagination .page-item.active {
  padding: 0;
  background: #D4D4D4;
}

.pagination-component .pagination .page-item.arrow-icon {
  position: relative;
  z-index: 1;
  font-size: 35px;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.pagination-component .pagination .page-item.arrow-icon:after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  z-index: -1;
  top: 56%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.pagination-component .pagination .page-item.arrow-icon .next-step {
  font-size: 15px;
  margin-right: 10px;
}

.pagination-component .pagination .page-item.arrow-icon .icon {
  font-size: 24px;
}

.pagination-component .pagination .page-item.arrow-icon:last-child .icon {
  position: relative;
  top: -2px;
  margin-left: 7px;
}

.pagination-component .pagination .page-item.disabled {
  display: none;
}

.pagination-component .pagination .page-item:hover {
  background: transparent;
}

@media (max-width: 700px) {
  .pagination-component {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pagination-component .pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    list-style: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
}
/*# sourceMappingURL=Pagination.css.map */