#WhatsappBanner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 20px;
  background: #3ada96;
  color: white;
  display: flex;
  z-index: 999;
  align-items: center;
  font-size: clamp(14px, 3.5vw, 20px);
  height: 50px;
}

#WhatsappBanner .linkToWhatsapp {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
}

#WhatsappBanner .closeIcon {
  margin-left: 10px;
  font-size: 20px;
}
#WhatsappBanner .info {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#WhatsappBanner .info a {
  color: white;
}
#WhatsappBanner .info .whatsappIcon {
  margin: 0 15px;
  font-size: 6vw;
}
#WhatsappBanner .info .number {
  display: flex;
}
#WhatsappBanner .info .number span {
  display: flex;
  align-items: center;
}

@media (min-width: 1001px) {
  #WhatsappBanner {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: unset;
    padding: 0 20px;
    justify-content: space-between;
    font-size: 14px;

    border-radius: 0 0 10px 10px;
  }

  #WhatsappBanner .info {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #WhatsappBanner .info .whatsappIcon {
    font-size: 22px;
  }

  #WhatsappBanner .info .number .tel {
    text-decoration: underline;
  }
}
