.add-addess
    position: relative
    .add-direction
        display: grid !important;
        grid-template-columns: 1fr 1fr 1fr 1fr !important;
        grid-gap: 5px !important
    .add-adress-container
        margin: 80px auto 0px auto
        width: 50%
        background: red
        h2
            margin-bottom: 20px
        .add-address-box
            margin-bottom: 60px
            padding: 30px
            background: #FFFFFF
            box-shadow: 0px 3px 6px #11111129
            border-radius: 20px
            .add-address-input
                display: grid
                grid-template-columns: 1fr 1fr
                grid-gap: 30px
            label
                color: #111111
                font-size: 14px
                p
                    margin-bottom: 10px
                input
                    margin-bottom: 20px
            form
                margin-bottom: 50px
            .add-address-actions
                display: grid
                grid-template-columns: repeat(2,1fr)
                grid-gap: 40px
                .save-btn
                    margin: auto
                    width: 100%
                    button
                        margin: inherit
                        p
                            color: #fff
                .cancel-btn
                    align-self: center
                    height: 18.1px;

@media(max-width:700px)
    .add-addess 
        .add-adress-container
            width: 90%
            margin: 15px auto
            .add-address-box
                padding: 15px
                margin-bottom: 15px
                .add-address-actions
                    grid-gap: 10px
                    .cancel-btn
                        margin: auto
