#RecommendedProducts {
  position: static;
  width: 100%;
  background-color: white;
}

#RecommendedProducts .cabecera {
  position: relative;
  padding-bottom: 34.5px;
}

#RecommendedProducts .cabecera h3 {
  box-sizing: border-box;
  /* Header 3 */

  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  /* Kiero Brand Red Color */

  color: #cf0a2c;
}

#RecommendedProducts .swiper-slide {
  background-size: cover;
  border-radius: 5px;
  background: #ffffff center;
  width: 240px !important;
  height: 337px !important;
  /* width: 155px !important; */
}

#RecommendedProducts .swiper-slide div img {
  border-radius: 5px;
}

#RecommendedProducts .swiper-container .swiper-pagination-bullets {
  position: absolute;
  bottom: 5px;
  width: 300px;
  left: 0;
  right: 0;
  margin: auto;
  padding-top: 35px;
  display: flex;
  justify-content: center;
}

#RecommendedProducts
  .swiper-container-horizontal.recomendedSwiper
  > .swiper-pagination-bullets
  .swiper-pagination-bullet {
  width: calc(100% - 75%);
  border-radius: 0 !important;
  margin: 0 !important;
  height: 2px;
  background: #000000;
}

#RecommendedProducts .swiper-container {
  margin-bottom: auto;
  margin-top: 0;

  max-width: 100vw;
  width: 100vw;
  box-sizing: border-box;
  padding-left: 25px;
  height: 100% !important;
}
