#RecommendedProducts {
    position: static;
    width: 100%;
    border-top: 2px solid #e4e4e4;
    border-bottom: 2px solid #e4e4e4;

}

#RecommendedProducts img {
    position: absolute;
    width: 100%;
}

#RecommendedProducts .cabecera {
    position: relative;
    padding: 30px 83px 35px 83px;
}

#RecommendedProducts .cabecera h3 {
    box-sizing: border-box;
    position: relative;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}

#RecommendedProducts .slider {
    position: relative;
    padding: 35px 25px 0 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
}