#RecommendedProducts {
  position: static;
  width: 100%;
  border-top: 2px solid #e4e4e4;
  border-bottom: 2px solid #e4e4e4;
}

#RecommendedProducts img {
  position: absolute;
  width: 100%;
}

#RecommendedProducts .cabecera {
  position: relative;
  padding: 30px 0;
}

#RecommendedProducts .cabecera h3 {
  box-sizing: border-box;
  position: relative;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
}

#RecommendedProducts .swiper-slide {
  background-size: cover;
  border-radius: 5px;
  background: #ffffff center;
  /* width: 155px !important; */
}

#RecommendedProducts .swiper-slide div img {
  border-radius: 5px;
}

#RecommendedProducts .swiper-container .swiper-pagination-bullets {
  position: absolute;
  bottom: 0;
  width: 300px;
  left: 0;
  right: 0;
  margin: auto;
}

.swiper-container-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet {
  width: calc(100% - 75%);
  border-radius: 0 !important;
  margin: 0 !important;
  height: 2px;
  background: #000000;
}

#RecommendedProducts .swiper-container {
  margin-bottom: auto;
  margin-top: 0;

  max-width: 100vw;
  width: 100vw;
  box-sizing: border-box;
  padding: 0 25px;
  height: 100% !important;
}

#RecommendedProducts .swiper-container .swiper-pagination-bullets {
  position: absolute;
  bottom: 5px;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
