.account-store-product-wrap {
  margin: 0px 40px;
  color: #5A5A5A;
}

.account-store-product-wrap .back-btn {
  margin-bottom: 30px;
}

.account-store-product-wrap .back-btn a {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  grid-gap: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #CF0A2C;
}

.account-store-product-header {
  margin-bottom: 20px;
}

.account-store-product-header h1 {
  font-size: 25px;
}

.account-store-product-header p {
  font-size: .8rem;
}

.account-store-product-info-1, .account-store-product-info-2 {
  margin-bottom: 20px;
}

.account-store-product-info-1 label, .account-store-product-info-2 label {
  margin-bottom: 17.6px;
  display: block;
}

.account-store-product-info-1 input, .account-store-product-info-2 input {
  border: none;
  margin: 0;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
}

.account-store-product-info-2 {
  width: 35%;
  margin-top: 15px;
}

.account-store-product-info-2 select {
  border-radius: 5px;
  outline: none;
  background: #CF0A2C;
  color: white;
  margin: auto;
  padding: 9px 16px;
  margin-left: 0;
  margin-top: 15px;
  width: auto;
  display: block;
}

.account-store-product-wrap-add-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

.account-store-product-wrap-add-info div > h3 {
  margin-bottom: 15px;
}

.account-store-product-wrap-add-info .main-button {
  color: #fff;
  width: auto !important;
}

.account-store-product-wrap-add-info .account-store-product-photos-features {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
}

.account-store-product-wrap-add-info .account-store-product-photos-features .account-store-product-wrap-add-photo {
  background: white;
  border-radius: 5px;
  padding: 20px;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.account-store-product-wrap-add-info .account-store-product-photos-features .account-store-product-wrap-add-photo .account-store-product-wrap-gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  margin-bottom: 20px;
}

.account-store-product-wrap-add-info .account-store-product-photos-features .account-store-product-wrap-add-photo .account-store-product-wrap-gallery .img-uploaded {
  position: relative;
}

.account-store-product-wrap-add-info .account-store-product-photos-features .account-store-product-wrap-add-photo .account-store-product-wrap-gallery .img-uploaded svg {
  position: absolute;
  top: 1px;
  right: -9px;
  width: 40px;
  color: #CF0A2C;
  height: 20px;
  cursor: pointer;
}

.account-store-product-wrap-add-info .account-store-product-photos-features .account-store-product-wrap-add-photo .account-store-product-wrap-gallery .img-uploaded img {
  width: 100%;
}

.account-store-product-wrap-add-info .account-store-product-photos-features .account-store-product-wrap-add-photo .upload-file input {
  border: none !important;
  cursor: pointer;
}

.account-store-product-wrap-add-info .account-store-product-photos-features .account-store-product-wrap-button {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
}

.account-store-product-wrap-section-2 {
  margin-top: 30px;
}

@media (max-width: 700px) {
  .account-store-product-wrap-add-info {
    display: block !important;
  }
  .account-store-product-photos-features {
    display: block !important;
  }
  .account-store-product-wrap-gallery {
    -ms-grid-columns: (1fr)[3] !important;
        grid-template-columns: repeat(3, 1fr) !important;
  }
}

#menu {
  display: -ms-grid;
  display: grid;
  height: 100px;
}

#menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#menu ul li {
  background: #CF0A2C;
}

#menu ul a {
  display: block;
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#menu ul li {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
}

#menu ul ul {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  background: #eee;
  padding: 0;
}

#menu ul ul li {
  float: none;
  width: 150px;
}

#menu ul ul a {
  line-height: 120%;
  padding: 10px 15px;
}

#menu ul li:hover > ul {
  display: block;
}
/*# sourceMappingURL=AccountStoreProduct.css.map */