.nav-botton .modal-account .wrap-modal
    .modal
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 70%;
        .user-account-menu
            position: absolute;
            right: 0


        


