.menu {
  color: white;
  font-size: 16px;
  margin-top: -3px;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu ul li {
  background: #CF0A2C;
}

.menu ul a {
  display: block;
  color: #FFCCCC;
  text-decoration: none;
  padding: 7px;
}

.menu ul li {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
}

.menu ul li:last-child {
  border-radius: 0px 0px 5px 5px;
}

.menu ul ul {
  display: none !important;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
  white-space: pre;
}

.menu ul ul li {
  float: none;
}

.menu ul ul a {
  padding: 7px;
}

.menu ul li:hover > ul {
  display: block !important;
  z-index: 1000;
}

.nav {
  position: relative;
  top: 0px;
  right: 0px;
  padding: 0 20px;
  width: calc(100% - 40px);
  background-color: #CF0A2C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
}

.nav-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr auto;
      grid-template-rows: 1fr auto;
  grid-gap: 0;
  margin: 0px auto;
  width: 80%;
}

.mobil-nav {
  display: none;
}

.nav-top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 2fr;
      grid-template-columns: 1fr 3fr 2fr;
}

.nav-top .user-menu {
  text-align: right;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  margin-top: 12px;
  position: relative;
}

.nav-top .user-menu .bell:hover {
  cursor: pointer;
}

.nav-top .user-menu .bell svg {
  margin-right: 5px;
  position: relative;
  top: 1px;
}

.nav-top .user-menu .user-icon {
  position: relative;
  top: 4px;
}

.nav-top .user-menu .user-icon:hover {
  cursor: pointer;
}

.nav-top .user-menu .user-icon svg {
  background: white;
  padding: 15px;
  color: #CF0A2C;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  padding: 5px;
  margin-right: 15px;
}

.nav-top .user-menu .user-icon svg:last-child {
  padding: initial;
  width: initial;
  height: 1em;
  border-radius: unset;
  background: transparent;
  color: white;
  margin-left: 5px;
  position: relative;
  top: 1px;
  margin-right: 3px;
}

.nav-top .user-menu a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 20px;
  color: #fff;
  font-size: 14px;
}

.nav-top .user-menu .menu-off {
  position: absolute;
  top: 30px;
  background: white;
  width: 240px;
  border-radius: 5px;
  border: 0.5px solid #BEBEBE;
  z-index: 20;
  right: -5px;
  padding: 30px 0 0;
  text-align: center;
  color: #5A5A5A;
  display: none;
}

.nav-top .user-menu .menu-off h5 {
  margin-left: 87px;
  text-align: left;
}

.nav-top .user-menu .menu-off .name {
  display: block;
}

.nav-top .user-menu .menu-off svg.icon {
  color: #CF0A2C;
  border-radius: 50%;
  border: 0.5px solid;
  padding: 10px;
  position: absolute;
  left: 50px;
  top: 27px;
}

.nav-top .user-menu .menu-off .main-button {
  margin: 15px auto !important;
  border-radius: 5px;
  padding: 5px 0;
}

.nav-top .user-menu .menu-off .main-button p {
  color: white;
  font-size: 16px;
}

.nav-top .user-menu .menu-off .options {
  text-align: left;
}

.nav-top .user-menu .menu-off .options a {
  color: #5A5A5A;
  margin: 15px;
  display: block;
}

.nav-top .user-menu .menu-off .options svg {
  margin-right: 10px;
}

.nav-top .user-menu .menu-on {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: block;
}

.nav-botton {
  display: -ms-grid;
  display: grid;
  color: white;
}

.nav-botton svg {
  margin-top: 3px;
}

.nav-botton .main-menu {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.nav-botton .main-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-botton .main-menu a {
  color: #FFCCCC;
  font-size: 14px;
  padding: 1px 7px;
}

.nav-botton .main-menu a.drop-select {
  font-size: 16px;
}

#cerrar {
  display: none;
}

.search-bar {
  position: relative;
}

.search-bar input {
  border: none  !important;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
}

.search-bar .icon {
  position: absolute;
  right: 0;
  top: 6px;
  width: 40px;
  height: 30px;
  border-left: 1px solid #6F6F6F;
}

.search-bar .icon svg {
  position: absolute;
  right: 13px;
  top: 8px;
  color: #6F6F6F;
}

@media (max-width: 700px) {
  .desktop-nav {
    display: none;
  }
  .nav {
    height: 62px;
  }
  .mobil-nav {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr auto;
        grid-template-columns: 1fr auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    width: 100%;
    grid-gap: 5px;
  }
  .mobil-nav .nav-top {
    -ms-grid-columns: auto 1fr;
        grid-template-columns: auto 1fr;
    grid-gap: 10px;
  }
  .mobil-nav .nav-top input {
    margin-top: 0;
  }
  .mobil-nav .nav-botton {
    font-size: 25px;
  }
  .mobil-nav .nav-botton a {
    color: white;
  }
  .search-bar .icon {
    top: 0;
    height: 32px;
  }
  .search-bar .icon svg {
    top: 8px;
  }
}
/*# sourceMappingURL=Nav.css.map */