.home-content
    margin: 0px auto
    width: 70%
    //height: 100vh

.home-section-title
    margin-bottom: 20px
    color: #757575
    font-size: 20px
    font-weight: lighter
    a
        margin-left: 20px
        color: #CF0A2C
        font-size: 16px