.secundary-slider
    .slider
        height: auto
        padding-bottom: 25%
        margin: auto
        .previousButton, .nextButton
            display: none !important
        .slide
            height: auto
            overflow: hidden
            text-align: center
            img
                width: 100% !important

.secundary-spinnerWrapper
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0

        



