.secundary-slider
    .slider
        height: auto
        padding-bottom: 25%
        margin: auto
        .previousButton, .nextButton
            display: none !important
        .slide
            height: auto
            overflow: hidden
            text-align: center
            img
                width: 100% !important

        



