.containerOffer {
  width: 100%;
  height: auto;
  background: white;
}

.containerOffer .headerOffer {
  height: 34px;
  padding: 48px 25px 28px 25px;
}

.containerOffer .headerOffer .titleOffer {
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  font-weight: bold;
  font-size: 28px;
  line-height: 34.13px;
  color: #cf0a2c;
  flex: none;
  order: 0;
  flex-grow: 0;
  width: 100%;
  text-align: center;
}

.containerOffer .contentOffer {
  margin: 0px auto;
  padding: 0 29px 43px 29px;
}

.containerOffer .contentOffer p {
  max-width: 320px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #969696;
  order: 0;
  flex-grow: 0;
  margin: 0px auto;
}

.containerOffer span {
  color: black;
}

@media (min-width: 768px) {
  .containerOffer {
    width: 100%;
    height: auto;
    margin-top: 60px;
  }
  .contentOffer {
    margin-bottom: 40px;
  }
  .containerOffer .headerOffer {
    height: unset;
    padding: unset;
  }
  .containerOffer .headerOffer .titleOffer {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 88px;
    letter-spacing: 0.1em;
    color: #cf0a2c;
  }

  .containerOffer .contentOffer {
    padding: 0;
    margin: 0;
  }

  .containerOffer .contentOffer p {
    max-width: unset;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #969696;
    margin: 0;
  }

  .containerOffer .contentOffer p span {
    display: block;
  }
}
