/* Modo Mobile */
@media (max-width: 767px) {
  .SellerInfo .certificateSeller_image {
    height: 3vw !important;
    width: 100% !important;
  }

  .SellerInfo .starSellerIcon {
    margin-right: 0.2rem;
    height: 0.5rem;
    width: auto;
  }
  .SellerInfo .pictureSeller_image {
    width: 9rem !important;
    height: auto !important;
  }

  .SellerInfo .pictureSeller_ok {
    width: 100% !important;
    height: auto !important;
  }
}
/* Modo Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  .SellerInfo .pictureSeller_image {
    width: 10rem !important;
    height: auto !important;
  }

  .SellerInfo .certificateSeller_image {
    height: 2vw !important;
    width: auto !important;
  }

  .SellerInfo .starSellerIcon {
    height: 2vw;
    width: auto;
  }

  .SellerInfo .pictureSeller_ok {
    width: 120% !important;
    height: auto !important;
  }
}
/* Modo Desktop*/
@media (min-width: 1025px) {
  .SellerInfo .starSellerIcon {
    margin-right: 0.5vw;
    height: 1.5vw;
    width: auto;
  }
  .SellerInfo .certificateSeller_image {
    height: 2vw !important;
    width: auto !important;
  }

  .SellerInfo .pictureSeller_ok {
    width: 120% !important;
    height: auto !important;
  }

  .SellerInfo .pictureSeller_image {
    width: 15rem !important;
    height: auto !important;
  }
}

/* Correciones*/

@media (max-width: 306px) {
  .SellerInfo_pictureSelect_text {
    margin: 0 !important;
    white-space: nowrap;
    font-size: 1rem !important;
  }
}
