.SellerInfo .certificateSeller_image {
  height: 4vw !important;
  width: 100% !important;
}

.SellerInfo .starSellerIcon {
  margin-right: 1vw;
  height: 4vw;
  width: auto;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .SellerInfo .pictureSeller_image {
    width: 100% !important;
    height: 100% !important;
  }

  .SellerInfo .certificateSeller_image {
    height: 3vw !important;
    width: auto !important;
  }
  .SellerInfo .block .anullProperties img {
    height: 4.5vw !important;
    width: auto !important;
  }

  .SellerInfo .starSellerIcon {
    height: 3vw;
    width: auto;
  }
}

@media (min-width: 1025px) {
  .SellerInfo .pictureSeller_image {
    width: 100% !important;
    height: 10vw !important;
  }
  .SellerInfo .starSellerIcon {
    margin-right: 0.5vw;
    height: 1.5vw;
    width: auto;
  }
  .SellerInfo .certificateSeller_image {
    height: 2vw !important;
    width: auto !important;
  }
}
