.sellProductContainer {
	margin-left: 200px;
	width: 800px;
}

.backOption {
	font-size: 13px;
	color: #cf0a2c;
	margin: 40px 0;
}

#backOptionArrow {
	height: 12px;
}

.productTitle {
	font-size: 14px;
	margin-bottom: 10px;
}

.productTitleInput {
	background-color: white;
	box-shadow: 0px 3px 6px #00000029;
	border-radius: 5px;
	opacity: 1;
	width: 611px;
	height: 39px;
	margin-bottom: 5px;
	padding-right: 15px;
}

.charCount {
	text-align: end;
	width: 626px;
}

.productPrice {
	font-size: 14px;
	margin-bottom: 10px;
}

.productPriceInput {
	background-color: white;
	box-shadow: 0px 3px 6px #00000029;
	border-radius: 5px;
	opacity: 1;
	width: 182px;
	height: 39px;
	margin-bottom: 30px;
	padding-right: 15px;
}
.productCharacteristicsContainer {
	display: flex;
}

.productCharacteristicstTitle {
	font-size: 14px;
	margin-bottom: 10px;
}

.picturesContainer {
	box-shadow: 0px 3px 6px #00000029;
	background-color: white;
	width: fit-content;
	border-radius: 5px;
	opacity: 1;
	width: 322px;
	height: 160px;
	padding: 10px;
	margin-right: 50px;
}

.picturesTitle {
	font-size: 13px;
	display: flex;
	align-content: center;
}

#picturesTitleInfo {
	height: 18px;
	color: #cf0a2c;
}

.picturesInstruction {
	margin-top: 20px;
	font-size: 13px;
	text-align: center;
	margin-bottom: 10px;
}

.picturesButtonContainer {
	display: flex;
	justify-content: center;
}

.picturesAddButton {
	display: flex;
	font-size: 15px;
	color: white;
	background-color: #cf0a2c;
	border-radius: 6px;
	text-align: center;
	width: 180px;
	padding: 8px 0;
	justify-content: center;
	align-content: center;
}

#picturesCameraIcon {
	height: 15px;
	margin-left: 5px;
	margin-top: 3px;
	align-items: center;
}

.productColorTitle {
	font-size: 14px;
	margin-bottom: 10px;
}

.productColorInput {
	background-color: white;
	box-shadow: 0px 3px 6px #00000029;
	border-radius: 5px;
	opacity: 1;
	width: 225px;
	height: 39px;
	margin-bottom: 30px;
	text-align: center;
	padding-right: 15px;
}

.productQuantityTitle {
	font-size: 14px;
	margin-bottom: 10px;
}

.productQuantityInput {
	background-color: white;
	box-shadow: 0px 3px 6px #00000029;
	border-radius: 5px;
	opacity: 1;
	height: 39px;
	width: 64px;
	margin-bottom: 30px;
	text-align: center;
}

.productQuantityInput input {
	text-align: center;
	margin-top: 6px;
}

#picturesCodeInfo {
	height: 18px;
	color: #cf0a2c;
}

.picturesInfo {
	background-color: white;
	position: absolute;
	top: 260px;
	left: 270px;
	box-shadow: 0px 3px 6px #00000029;
	border-radius: 5px;
	width: 402px;
	height: 140px;
	z-index: 1;
	display: flex;
	align-items: center;
}

.picturesInfoContainer {
	padding: 0 20px;
}

.picturesInfoTitle {
	font-size: 12px;
	font-weight: 600;
	margin-bottom: 10px;
}

.picturesInfoParagraph {
	font-size: 10px;
}

.productCodeOptContainer {
	display: flex;
}

.productCodeTitle {
	display: flex;
	font-size: 14px;
	align-content: center;
	margin-bottom: 10px;
}

.codeInfo {
	background-color: white;
	position: absolute;
	top: 410px;
	left: 350px;
	box-shadow: 0px 3px 6px #00000029;
	border-radius: 5px;
	width: 471px;
	height: 141px;
	z-index: 1;
	display: flex;
	align-items: center;
}

.codeInfoContainer {
	padding: 0 20px;
}

.codeInfoTitle {
	font-size: 12px;
	font-weight: 600;
	margin-bottom: 10px;
}

.codeInfoParagraph {
	display: flex;
	align-items: flex-start;
	font-size: 10px;
}

.codeInfoBarCode {
	width: 157px;
	height: 71px;
}

.productCodeInput {
	background-color: white;
	box-shadow: 0px 3px 6px #00000029;
	border-radius: 5px;
	opacity: 1;
	height: 39px;
	width: 236px;
	margin-bottom: 30px;
	padding-right: 15px;
}

.productCodeCheckBoxContainer {
	height: 20px;
	margin-top: 10px;
	display: flex;
	align-items: center;
}

.productCodeCheckBoxText {
	font-size: 12px;
	margin-left: -5px;
}

.productConfirmAndCancelButtons {
	display: flex;
	width: 230px;
	height: 35px;
	margin-bottom: 40px;
}

#productConfirmButton {
	color: white;
	background-color: #cf0a2c;
	font-size: 11px;
}

#productCancelButton {
	color: #cf0a2c;
	margin-left: 20px;
	font-size: 11px;
}

.productAcordeonsContainer {
	margin-bottom: 80px;
}

.productAcordeonContainer {
	background-color: white;
	box-shadow: 0px 3px 6px #00000029;
	border-radius: 5px;
	padding: 10px 15px;
	font-size: 12px;
	width: 625px;
	margin-bottom: 20px;
}

.productAcordeon {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.descriptionFullContainer {
	text-align: start;
	font-size: 13px;
	font-weight: 500;
}

.dataSheetContainer {
	width: 500px;
}

.dataSheetInfo {
	background-color: white;
	position: absolute;
	top: 630px;
	left: 315px;
	box-shadow: 0px 3px 6px #00000029;
	border-radius: 5px;
	width: 431px;
	height: 129px;
	z-index: 1;
	display: flex;
	align-items: center;
}

.dataSheetInfoContainer {
	padding: 0 20px;
}

.dataSheetInfoTitle {
	font-size: 12px;
	font-weight: 600;
	margin-bottom: 10px;
}

.dataSheetInfoParagraph {
	display: flex;
	align-items: flex-start;
	font-size: 10px;
}

.dataSheetText {
	font-size: 12px;
	margin-bottom: 20px;
}

.dataSheetBrandAndModel {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.dataSheetInput {
	border: 0.01px solid #a8a8a8;
	border-radius: 5px;
	width: 185px;
	height: 39px;
	padding-right: 15px;
}

.dataSheetLongContainer {
	display: flex;
}
.dataSheetLongInput {
	border: 0.01px solid #a8a8a8;
	border-radius: 5px;
	width: 101px;
	height: 39px;
	padding-right: 15px;
	margin-right: 10px;
}

select option {
	color: black;
}

.dataSheetShortContainer {
	width: 528px;
	display: flex;
	justify-content: space-between;
	height: 60px;
}

#dataSheetConfirmButton {
	color: black;
	background-color: #d9d9d9;
	font-size: 11px;
	border: none;
}

#dataSheetCancelButton {
	color: #cf0a2c;
	font-size: 11px;
}

.withdrawText {
	font-size: 12px;
}

.withdrawInfo {
	background-color: white;
	position: absolute;
	top: 760px;
	left: 345px;
	box-shadow: 0px 3px 6px #00000029;
	border-radius: 5px;
	width: 437px;
	height: 61px;
	z-index: 1;
	display: flex;
	align-items: center;
}

.withdrawInfoContainer {
	padding: 0 20px;
}

.withdrawInfoParagraph {
	display: flex;
	align-items: flex-start;
	font-size: 10px;
}

.withdrawSwitch {
	margin: 15px;
}

.withdrawButtonsContainer {
	display: flex;
	justify-content: flex-end;
}

.withdrawConfirmAndCancelButtons {
	display: flex;
	justify-content: flex;
	width: 230px;
	height: 35px;
	margin-bottom: 20px;
}

.typeOfAddInfo {
	background-color: white;
	position: absolute;
	top: 775px;
	left: 350px;
	box-shadow: 0px 3px 6px #00000029;
	border-radius: 5px;
	width: 470px;
	height: 115px;
	z-index: 1;
	display: flex;
	align-items: center;
}

.typeOfAddInfoContainer {
	padding: 0 20px;
}

.typeOfAddInfoTitle {
	font-size: 13px;
	font-weight: 500;
	margin-bottom: 10px;
}

.typeOfAddInfoParagraph {
	display: flex;
	align-items: flex-start;
	font-size: 10px;
}

.typeOfAddP {
	margin-bottom: 20px;
	font-size: 12px;
}

.typeOfAddText {
	margin-bottom: 20px;
	font-size: 10px;
	padding: 0 10px;
}

.typeOfAddOptions {
	text-align: center;
	display: flex;
	justify-content: space-around;
	margin-bottom: 30px;
}

.typeOfAddOpt {
	width: 183px;
	box-shadow: 0px 3px 6px #00000029;
	border-radius: 5px;
}

.typeOfAddOptTitle {
	height: 26px;
	font-size: 15px;
	color: white;
	background-color: #757575;
	align-items: center;
	padding-top: 10px;
}

.typeOfAddOptImg {
	margin: 10px 0;
	font-size: 12px;
	font-weight: 500;
	justify-content: center;
	text-align: center;
}

.descriptionInfo {
	background-color: white;
	position: absolute;
	top: 840px;
	left: 305px;
	box-shadow: 0px 3px 6px #00000029;
	border-radius: 5px;
	width: 470px;
	height: 115px;
	z-index: 1;
	display: flex;
	align-items: center;
}

.descriptionInfoContainer {
	padding: 0 20px;
}

.descriptionInfoTitle {
	font-size: 13px;
	font-weight: 500;
	margin-bottom: 10px;
}

.descriptionInfoParagraph {
	display: flex;
	align-items: flex-start;
	font-size: 10px;
}

.descriptionCharCount {
	text-align: end;
	width: 626px;
	margin-bottom: 30px;
}

.videoInfo {
	background-color: white;
	position: absolute;
	top: 920px;
	left: 270px;
	box-shadow: 0px 3px 6px #00000029;
	border-radius: 5px;
	width: 598px;
	height: 101px;
	z-index: 1;
	display: flex;
	align-items: center;
}

.videoInfoContainer {
	padding: 0 20px;
}

.videoInfoTitle {
	font-size: 13px;
	font-weight: 500;
	margin-bottom: 10px;
}

.videoInfoParagraph {
	display: flex;
	align-items: flex-start;
	font-size: 10px;
}

.videoInput {
	width: 320px;
	margin: 0 0 30px 20px;
}

.availabilityInfo {
	background-color: white;
	position: absolute;
	top: 980px;
	left: 375px;
	box-shadow: 0px 3px 6px #00000029;
	border-radius: 5px;
	width: 598px;
	height: 101px;
	z-index: 1;
	display: flex;
	align-items: center;
}

.availabilityInfoContainer {
	padding: 0 20px;
}

.availabilityInfoTitle {
	font-size: 13px;
	font-weight: 500;
	margin-bottom: 10px;
}

.availabilityInfoParagraph {
	display: flex;
	align-items: flex-start;
	font-size: 10px;
}

.availabilityInput {
	width: 120px;
	margin: 0 0 30px 20px;
}

.warrantyInfo {
	background-color: white;
	position: absolute;
	top: 1045px;
	left: 285px;
	box-shadow: 0px 3px 6px #00000029;
	border-radius: 5px;
	width: 598px;
	height: 101px;
	z-index: 1;
	display: flex;
	align-items: center;
}

.warrantyInfoContainer {
	padding: 0 20px;
}

.warrantyInfoTitle {
	font-size: 13px;
	font-weight: 500;
	margin-bottom: 10px;
}

.warrantyInfoParagraph {
	display: flex;
	align-items: flex-start;
	font-size: 10px;
}

.categoryInfo {
	background-color: white;
	position: absolute;
	top: 1105px;
	left: 290px;
	box-shadow: 0px 3px 6px #00000029;
	border-radius: 5px;
	width: 598px;
	height: 101px;
	z-index: 1;
	display: flex;
	align-items: center;
}

.categoryInfoContainer {
	padding: 0 20px;
}

.categoryInfoTitle {
	font-size: 13px;
	font-weight: 500;
	margin-bottom: 10px;
}

.categoryInfoParagraph {
	display: flex;
	align-items: flex-start;
	font-size: 10px;
}

.MuiAutocomplete-endAdornment {
	top: 10px ;
	left: 320px;
	width: 24px ;
	display: flex;
}
