.products-slider
    margin-bottom: 50px
    width: 100%
    .content-products-slider
        display: grid
        grid-template-columns: repeat(8,1fr)
        grid-gap: 20px
        //background-color: red
        overflow: auto