.home-content
    .products-slider
        padding: 0
        width: auto;
        .slider-movil
            position: relative
            padding-bottom: 34%
            width: 100%
            @media (min-width: 700px)
                display: none !important
            .content-products-slider
                overflow-y: hidden
                grid-template-columns: auto
                display: -webkit-inline-box
                position: absolute
                top: 0
                left: 0
                right: 0
                bottom: 0
                height: min-content;
                padding: 5px 0
                overflow-x: auto;
                .producto-card
                    width: 18%
                    display: block
                    margin: 0% 1%;
                    padding: 10px 0px 0
                    &:nth-child(-n+1)
                        margin: 0 !important
        .slider
            height: auto
            padding-bottom: 34%
            @media (max-width: 700px)
                display: none !important
            .nextButton
                right: 0
                top: 40%
                transform: translateY(-40%)
            .previousButton
                left: 0
                top: 40%
                transform: translateY(-40%)
            .nextButton, .previousButton
                svg
                    fill: #D11E36 !important
                    polygon
                        fill: #D11E36 !important
            .test
                grid-template-columns: auto
                display: -webkit-inline-box
                height: min-content;
                padding: 5px 0
                .producto-card
                    width: 18%
                    display: block
                    margin: 0% 1%;
                    padding: 10px 0px 0


@media(max-width:700px)
    .home-content , .detail-content
        .products-slider
            padding: 15px;
            width: auto;
            .home-section-title
                font-size: 16px !important
                color: #5A5A5A
                margin-bottom: 15px
                font-weight: normal
                .accent
                    margin-left: 10px;
                    white-space: nowrap;
                    font-size: 13px !important
            .slider-movil
                position: relative
                padding-bottom: 65%
                width: 100%
                .content-products-slider
                    grid-template-columns: auto
                    display: -webkit-inline-box
                    position: absolute
                    top: 0
                    left: 0
                    right: 0
                    bottom: 0
                    height: min-content;
                    padding: 5px 0
                    overflow-x: auto;
                    .producto-card
                        width: 33%
                        display: block
                        margin: 0% 1%;
                        padding: 10px 0px 0
    .detail-content
        .producto-card
            width: 37% !important
                            
@media(max-width:325px)
    .home-content , .detail-content
        .products-slider
            padding: 15px 7px;
            width: auto;
            .home-section-title
                font-size: 16px !important
                color: #5A5A5A
                margin-bottom: 15px
                font-weight: normal
                .accent
                    margin-left: 10px;
                    white-space: nowrap;
                    font-size: 13px !important
            .slider-movil
                position: relative
                padding-bottom: 82%
                width: 100%
                .content-products-slider
                    grid-template-columns: auto
                    display: -webkit-inline-box
                    position: absolute
                    top: 0
                    left: 0
                    right: 0
                    bottom: 0
                    height: min-content;
                    padding: 5px 0
                    overflow-x: auto;
                    .producto-card
                        width: 33%
                        display: block
                        margin: 0% 1%;
                        padding: 10px 0px 0
                        button
                            padding: 5px
    .detail-content
        .producto-card
            width: 37% !important
                    
                            

    
