.payment
    display: flex
    justify-content: space-around
    background: white
    width: 100%
    margin-bottom: 30px
    padding: 25px
    box-sizing: border-box 
    height: 110px
    margin-top: 20px
    .modal
        font-family: 'Montserrat', sans-serif;
        .header-modal h3
            font-size: 26px
            font-weight: 500

.payment-block
    cursor: pointer
.payments-item-block
    color: #606060
    text-align: center
.sub
    color: #CF0A2C
    font-size: 13px
.payments-icon
    svg
        font-size: 25px
        color: #CF0A2C

.payment-way-content
    text-align: center
    h4
        margin-top: 20px
        font-size: 24px
    .sub-title
        font-size: 20px
    .payment-way-img
        width: 60%
        margin-bottom: 20px

.bank-transfer-content
    h4
        margin-bottom: 20px
        font-size: 20px
        text-align: center
    p
        margin: 20px 0px

.cash-transfer-content
    h4
        margin-bottom: 20px
        font-size: 20px
        text-align: center
    p
        margin: 20px 0px
        line-height: 40px

.payment-movil
    font-size: 14px
    font-weight: regular
    .payments-item-block
    font-size: 14px !important
    font-weight: regular !important
    .slider
        height: auto !important
        .nextButton, .previousButton
            display: none !important
