.payment
    display: flex
    justify-content: space-around
<<<<<<< HEAD
    margin-bottom: 50px
    background: white
    padding: 20px
    box-sizing: border-box
=======
    background: white
    width: 100%
    margin-bottom: 50px
    padding: 30px
    box-sizing: border-box 
>>>>>>> Jorge
.payment-block
    cursor: pointer
.payments-item-block
    color: #d11e36
<<<<<<< HEAD
    font-size: 13px
    text-align: center
    &:nth-child(2)
        color: #606060
        font-size: 16px
=======
    text-align: center
    &:nth-child(1)
        font-size: 2rem
    &:nth-child(2)
        color: black
.payments-icon
    svg
        font-size: 25px
>>>>>>> Jorge
