.account-billing-title
    margin-bottom: 20px
.account-billing-content
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    background: #F2F2F2
    height: 55vh
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
    p
        font-size: 1.2rem
    p > span
        color: red