.account-billing-title
    margin-bottom: 30px
    font-size: 28px
    color: #5A5A5A
.account-billing-content
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    background: #F2F2F2
    height: 55vh
    box-shadow: 0px 3px 6px #00000029;
    background: white
    color: #5A5A5A
    h2
        font-size: 20px
        margin-bottom: 15px
    p
        font-size: 16px
    span
        color: #CF0A2C
        margin-left: 5px
        &:hover 
            cursor: pointer