.QuestionItem-list
    border-top: 0.5px solid #9F9F9F
    .title
        color: #707070
        font-size: 20px
        margin: 15px 30px
    .question-item
        padding: 0 30px 
        font-size: 17px
        padding-bottom: 20px;
        .question-title
            color: black
        .responses-title
            color: #707070
            margin-left: 15px
            margin-top: 10px

