.QuestionItem-list
    border-top: 0.5px solid #C6C6C6
    @media(min-width: 700px)
        padding: 0 25px 
    .title
        color: #5A5A5A
        font-size: 20px
        margin: 15px
        font-weight: 600
    .empty-question
        color: #4E4E4E
        font-size: 17px
        padding-bottom: 20px;
        padding-left: 15px
        display: block
    .question-item
        padding: 0 15px 
        font-size: 17px
        padding-bottom: 20px;
        .question-title
            color: #5A5A5A
        .responses-title
            color: #5A5A5A
            margin-left: 15px
            margin-top: 10px
    h5.accent
        color: #CF0A2C
        margin-top: 10px
    .footer-question
        display: grid
        grid-template-columns: 1fr 1fr
        margin-top: 40px
        span
            color: #BEBEBE
            font-size: 12px
        a 
            color: #4E8EFE
            font-size: 12px

