.QuestionItem-list
    border-top: 0.5px solid #C6C6C6
    .title
        color: #4E4E4E
        font-size: 20px
        margin: 15px 30px
    .question-item
        padding: 0 30px 
        font-size: 17px
        padding-bottom: 20px;
        .question-title
            color: black
        .responses-title
            color: #4E4E4E
            margin-left: 15px
            margin-top: 10px

