.how-to-pay-container
    margin: auto
    padding: 40px 20px
    width: 80%
    word-break: break-word;
    .back-btn
        a
            display: grid
            grid-template-columns: repeat(2,auto)
            grid-gap: 15px
            width: fit-content
            color: #CF0A2C
    .how-to-pay-content
        margin: auto
        padding: 40px
        width: 70%
        h2
            margin-bottom: 20px
            color: #4E4E4E
            font-size: 26px
        .how-to-pay-box
            padding: 40px
            color: #4E4E4E
            background: #FBFBFB 
            box-shadow: 0px 3px 6px #00000029
            border-radius: 5px
            .how-to-pay-box-content
                p
                    margin: 20px 0px
                    font-size: 14px
                    span
                        font-weight: bold
                        margin-right: 5px
                h4
                    font-weight: 600
                .how-to-pay-ways
                    display: grid
                    grid-template-columns: repeat(2,1fr)
                    grid-template-rows: repeat(3,1fr)
                    grid-gap: 15px
                    margin: 20px auto
                    width: 90%
                    text-align: center
                    border: 0.5px solid #A1A1A1
                    position: relative
                    hr
                        position: absolute
                        top: 32%
                        left: 0
                        right: 0
                        border-width: 0.5px
                        margin-block-start: 0
                        margin-block-end: 0
                        border-color: #A1A1A1
                        border-top: 0
                    .last-element
                        top: 62%
                    p 
                        margin: auto
                        font-size: 16px
                    img
                        width: 100%
            button
                margin-top: 40px
                color: #fff
                width: 268px
                height: 35px
                border-radius: 8px
                margin-left: 0;
                p
                    font-size: 14px
                    margin: auto
                    padding: 0

@media (max-width:700px)
    .how-to-pay-container
        padding: 15px
        width: auto
        .how-to-pay-content
            width: auto
            padding: 0
            h2
                margin-left: 23px
            .how-to-pay-box
                padding: 15px
                .how-to-pay-ways
                    width: auto !important
                    grid-template-columns: auto !important  

