.how-to-pay-container {
  margin: auto;
  padding: 40px 20px;
  width: 80%;
  word-break: break-word;
}

.how-to-pay-container .back-btn a {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  grid-gap: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #CF0A2C;
}

.how-to-pay-container .how-to-pay-content {
  margin: auto;
  padding: 40px;
  width: 70%;
}

.how-to-pay-container .how-to-pay-content h1 {
  margin-bottom: 20px;
  color: #5A5A5A;
  font-size: 26px;
}

.how-to-pay-container .how-to-pay-content .how-to-pay-box {
  padding: 40px;
  color: #5A5A5A;
  background: #FBFBFB;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
}

.how-to-pay-container .how-to-pay-content .how-to-pay-box .how-to-pay-box-content p {
  margin: 20px 0px;
  font-size: 14px;
}

.how-to-pay-container .how-to-pay-content .how-to-pay-box .how-to-pay-box-content p span {
  font-weight: bold;
  margin-right: 5px;
}

.how-to-pay-container .how-to-pay-content .how-to-pay-box .how-to-pay-box-content h4 {
  font-weight: 600;
}

.how-to-pay-container .how-to-pay-content .how-to-pay-box .how-to-pay-box-content .how-to-pay-ways {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  grid-gap: 15px;
  margin: 20px auto;
  width: 90%;
  text-align: center;
  border: 0.5px solid #A1A1A1;
  position: relative;
}

.how-to-pay-container .how-to-pay-content .how-to-pay-box .how-to-pay-box-content .how-to-pay-ways hr {
  position: absolute;
  top: 32%;
  left: 0;
  right: 0;
  border-width: 0.5px;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  border-color: #A1A1A1;
  border-top: 0;
}

.how-to-pay-container .how-to-pay-content .how-to-pay-box .how-to-pay-box-content .how-to-pay-ways .last-element {
  top: 62%;
}

.how-to-pay-container .how-to-pay-content .how-to-pay-box .how-to-pay-box-content .how-to-pay-ways p {
  margin: auto;
  font-size: 16px;
}

.how-to-pay-container .how-to-pay-content .how-to-pay-box .how-to-pay-box-content .how-to-pay-ways img {
  width: 100%;
}

.how-to-pay-container .how-to-pay-content .how-to-pay-box button {
  margin-top: 40px;
  color: #fff;
  width: 268px;
  height: 35px;
  border-radius: 8px;
  margin-left: 0;
}

.how-to-pay-container .how-to-pay-content .how-to-pay-box button p {
  font-size: 14px;
  margin: auto;
  padding: 0;
}

@media (max-width: 700px) {
  .how-to-pay-container {
    padding: 15px;
    width: auto;
  }
  .how-to-pay-container .how-to-pay-content {
    width: auto;
    padding: 0;
  }
  .how-to-pay-container .how-to-pay-content h1 {
    margin-left: 23px;
  }
  .how-to-pay-container .how-to-pay-content .how-to-pay-box {
    padding: 15px;
  }
  .how-to-pay-container .how-to-pay-content .how-to-pay-box .how-to-pay-ways {
    width: auto !important;
    -ms-grid-columns: auto !important;
        grid-template-columns: auto !important;
  }
}
/*# sourceMappingURL=HowToPay.css.map */