#Information {
  border-top: 2px solid #e4e4e4;
  border-bottom: 2px solid #e4e4e4;
  background: #fff;
  transition: all 0.3s ease;
  padding: 10px 25px;
}

#Information .closed {
  height: 76px;
  width: auto;
}

#Information .open {
  height: 601px;
  width: auto;
}

#Information .detalles {
  margin-top: 20px;
}

#Information .titulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 76px;
  cursor: pointer;
}

#Information .titulo h3 {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

#Information .detalles .texto {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #5f5f5f;
  word-break: break-word;
  text-align: justify;
}

#Information footer {
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-areas: "arrow";
  width: 100%;
  height: 79px;
}

#Information footer img {
  cursor: pointer;
}

@media (min-width: 768px) {
  #Information {
    border-radius: 10px;
    margin-bottom: 12px;
    border: none;
  }
}
