.wrap-gallery
    display: flex
    justify-content: space-between
.list-gallery
    flex: 1
    display: flex
    flex-direction: column
.main-image
    flex: 8
    display: flex
    justify-content: center
    align-items: center
    //padding: 5px
    height: 400px
.size-img-list
    width: 70px
    max-height: 70px
    border-right: 0.5px solid #9F9F9F
    border-bottom: 0.5px solid #9F9F9F
.size-img-main
    max-width: 100%
    max-height: 390px
    z-index: 100;
    
.gallery-responsive
    display: none
    padding: 20px
    .principal-slider
        margin-bottom: 0
        .slider 
            .previousButton, .nextButton
                display: block !important
                background: transparent !important;
                box-shadow: none !important;
        
@media (max-width: 768px)
    .list-gallery
        flex-direction: row
    .wrap-gallery
        display: none
    .size-img-list
        width: 100px
        heigth: 100px
        overflow: hidden
    .size-img-main
        max-width: 100%
        max-height: 300px
    .gallery-responsive
        display: block
        padding: 0