.SliderDetail
    margin-botton: 50px
    .mobil
        display: none
        

@media(max-width:700px)
    .SliderDetail
        .mobil
            display: block !important 
            .slider
                height: auto
                padding-bottom: 100%
                display: block !important
                img
                    width: 100% !important
                .previousButton, .nextButton
                    display: none
                    

