.SliderDetail
    margin-botton: 50px
    .mobil
        display: none
        

@media(max-width:500px)
    .SliderDetail
        .mobil
            display: block !important 
            .slider
                height: 300px
                display: block !important
                img
                    width: 100% !important
                    height: 100% !important
                .previousButton
                    left: 0px
                .nextButton
                    right: 0px

