.pay-bar
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    margin: 50px auto
    padding: 20px
    width: calc(90% - 40px)
    background-color: #fff
    .payment-methods
        text-align: center
        p.payment-methods-text
            color: #606060
            font-size: 16px
        a.more-link
            color: #CF0A2C
            font-size: 13px