.logo
    a
        float: left
    img.logo-img
        width: auto
        height: 45px
        margin-right: 45px


@media(max-width:700px)
    .logo
        img.logo-img
            width: 42px !important
            height: 32px !important
            margin: 0


