.wrap-tickets
    margin-bottom: 50px
    display: flex
    justify-content: space-between
    width: 100%
    height: auto
.tickets
    display: flex
    justify-content: center
    aling-items: center
    width: 100%
    &:nth-child(2)
        margin: 0px 10px
    img
        max-width: 100%
        max-height: 100%
@media (max-width: 767px)
    .wrap-tickets
        display: none