.seller-protection
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr
    .seller-protection-container
        margin: 0 auto;
        padding: 40px
        width: 80%
        .back-btn
            a
                display: grid
                grid-template-columns: repeat(2,auto)
                grid-gap: 15px
                width: fit-content
                color: #CF0A2C
        .seller-protection-content
            margin: auto
            padding: 40px
            width: 70%
            h2
                margin-bottom: 20px
                color: #5A5A5A
                font-size: 26px
            .seller-protection-box
                padding: 20px 40px
                color: #5A5A5A
                background: #FBFBFB 
                box-shadow: 0px 3px 6px #00000029
                border-radius: 5px
                p
                    margin: 20px 0px
                    font-size: 14px
                    position: relative
                    margin-left: 20px;
                    .accent
                        color: #D11E36
                    svg
                        color: #CF0A2C
                        position: absolute
                        left: -18px
                .button-a
                    border-radius: 5px
                    text-align: center
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #D11E36
                    border: 1px solid #D11E36
                    width: 178px;
                    height: 35px;
                    color: white
                    margin-top: 15px
                    p
                        margin: 0
                        color: white
        
@media (max-width:700px)
    .seller-protection   
        .seller-protection-container
            padding: 15px
            width: auto
            .seller-protection-content
                margin: auto
                padding: 0
                width: auto
                h2
                    margin: 15px auto 15px 20px
                .seller-protection-box
                    width: auto
                    padding: 15px
                    .button-a
                        margin: auto
                    
