.containerDiscountPrice {
  padding-bottom: 30px;
}
.containerDiscountPrice .widthButton {
  padding: 0 20px;
  background-color: white;
  padding-bottom: 100px;
}

@media (min-width: 768px) {
  .containerDiscountPrice {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
    height: auto;
  }
}
