.containerDiscountPrice {
  padding-bottom: 30px;
}
.containerDiscountPrice .widthButton {
  padding: 0 20px;
  background-color: white;
  padding-bottom: 100px;
}

@media (min-width: 768px) {
  .containerDiscountPrice .containerDiscount {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .containerDiscountPrice .containerBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
  }
  .containerDiscountPrice .widthButton {
    padding: 0;
    width: 100%;
  }
}
