.white-box
  border: 1px solid #f3f3f3
  box-shadow: 0px 3px 6px #11111129
  background-color: white
  padding: 25px 40px

section.edit-domain
  margin-bottom: 25px
  font-size: 14px

  .push-right
    margin-left: auto

  header
    h4
      font-weight: bolder
      margin-bottom: 15px
      font-size: 16px

  main.form
    display: flex
    align-items: center

    label
      color: #111111;
      font-size: 15px;

    input
      border: none
      border-bottom: 1px solid blue
      border-radius: 0px
      // flex: 0

  main
    margin-bottom: 15px

    div
      h4
        font-weight: bolder

      div.white-box
        display: flex
        align-items: center
        margin-top: 10px
        margin-bottom: 30px

        img
          margin-right: 15px

        a
          color: red;
          font-size: 13px;
          text-align: right;
          cursor: pointer;

  footer
    display: flex;
    justify-content: end
    font-size: 13px;

    &>*
      margin-left: 5px;
      flex: 0 1 0;
