@media(max-width:700px)
    .user-account
        .user-account-container
            width: auto
            position: relative
            grid-template-columns: auto
            .user-account-content
                padding: 0
                h2
                    margin: 15px 15px 30px
                .user-acount-info
                    width: 90%
                    margin: 15px auto
                .user-accunt-info-box .user-accunt-info-tab .user-accunt-info-address 
                    p:first-child
                        padding: 30px
            .user-account-menu
                background: #F2F2F2
                position: fixed
                width: 0
                top: 0
                left: 0
                bottom: 0
                z-index: 1
                overflow-x: hidden
                transition: 0.4s
                box-sizing:border-box
                padding: 0
                

                
                




                


