@media (min-width: 700px){


.right-panel {
  /*flex: 0 1 28%;*/
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  
  position: absolute;
  width: 200px;
  margin-left: 74%;
  padding: 25px 10px 0px 0px;
  height: 100%;
  

  .hide {
    display: none;
  }

  ul.options, ul.design {
    list-style: none;
  }

  ul.options {
    li {
      display: inline;
      margin-right: 20px;
      font-size: 15px;
      font-weight: 600;
      cursor: pointer;

      a {
        color: #111;
        cursor: pointer;
      }
    }

    li.active a {
      color: #2a6ef6;
    }

   
  }

  

  ul.design, ul.config {
    margin-top: 10px;
  }

  ul.design li,
  ul.config li {
    display: block;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: normal;
    cursor: pointer;
  }

  p.right-panel-help {
    color: red;
    font-size: 13px;
    text-align: right;

    a {
      color: red;
    }
  }

  button{
    margin-top: 15px;
    background-color: #cf0a2c;

  }
  button:disabled{
    cursor: unset;
    background-color: #cccccc;
   }


  // This content is for the select color section
  header{
    display: flex;
    margin-bottom: 15px;

    &>* {
      padding-right: 5px;
    }

    h4 {
      margin-left: 7px;
    }
  }

  main {
      font-size: 12px;

      div{
        margin-top: 0px;
      }

      .error{
        color: red;
        margin-bottom: 10px;
        padding-bottom: 10px;
      }

      .block{
        margin-top: 10px;
        cursor: pointer;
        padding:5px;
      }



      .block-image {
        
        
        height: 105%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
        img{
          width: 90%;
          margin-top: 5px;
        }

        img:hover{
          width: 100%;
        }
      
      .block-footer {
        padding:5px;
        margin-top: 5px;
        font-size: 15px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        
      }
      

  }
    
  p {
    margin-top: 5px;
  }
  select {
    margin:5px 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    height: 35px;
    border: 0.5px solid #b8b8b8;
    border-radius: 5px;
    // border-color: black;
    background: #ffffff;
    color:black;
    text-decoration-color: black;
    background-image: none;
  }
  /* Remove IE arrow */
  select::-ms-expand {
    display: none;
  }
  /* Custom Select */
  .select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    // background: #2c3e50;
    overflow: hidden;
    border-radius: .25em;
  }
  select {
    flex: 1;
    padding: 0 .5em;
    // color: #fff;
    cursor: pointer;
  }
  /* Arrow */
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    // background: #34495e;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
  /* Transition */
  .select:hover::after {
    color: #f39c12;
  }

  .wrapperColorSelect{
    width: 100%;
  }
  .colorSelect{
    width: 80px;
    height: 30px;
    border: 1px solid ;
  }

}
}
