.chat-menu
    flex: 1.5
    padding-top: 20px
.chat-menu-help
    text-align: right
    color: #D11E36
    margin-bottom: 20px
.chat-menu-wrap-subtitle
    padding: 0px 15px
.chat-menu-wrap-img
    display: flex
    justify-content: center
    align-items: center
    border-radius: 50%
    overflow: hidden
    margin-right: 10px
    width: 60px
    height: 60px
.chat-menu-item
    display: flex
    justify-content: space_between
    padding: 15px
.chat-menu-wrap-info
    display: flex
    justify-content: center
    align-items: flex-start
    flex-direction: column