.widthButton{
    padding: 0 20px;
    background-color: white;
    padding-bottom: 22px;
}

.wrapperButtons{
    display: flex;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.wrapperButtons div{
    width: 8px;
    height: 8px;
    border-radius: 50px;
    background-color: #D6D6D6; 
    margin: 0px 10px;
}


