.activate-page
    background-color: transparent
    display: flex;
    justify-content: center;
    align-items: center;
    .msg
        padding: 15px;
        font-size: 20px;
        color: white;
        background-color: #db291c;
        text-align: center;
        border-radius: 6px;
        opacity: 0.7;
        margin: 15px 0;
        font-weight: 500
        span
            display: block
            font-size: 24px
    

@media(max-width:700px)
    .activate-page
        background-color: transparent

    