@media(max-width:700px)
    .menu_page
        display: flex
        align-items: center
        position: relative
        h2
            background: #CF0A2C
            position: absolute
            top: 0
            left: 0
            right: 0
            padding: 15px;
            color: white
            z-index: 100
            overflow:
        .menu-list
            TEXT-ALIGN: left
            position: absolute
            top: 50px
            left: 30px
            right: 30px
            bottom: 30px
            overflow: scroll;
            .item
                background: white
                box-shadow: 0px 3px 6px #00000029
                padding: 15px 0px
                display: flex;
                align-items: center
                min-width: 230px;
                margin: auto;
                text-align: center
                border-radius: 6px
                margin-bottom: 15px
                &:first-child
                    margin-top: 30px
                p
                    color: #CF0A2C
                    width: 100%
                        

    