.order-page
    position: absolute
    left: 0
    right: 0
    bottom: 0
    top: 0
    display: grid
    grid-template-rows: auto 1fr auto
    font-family: 'Montserrat', sans-serif;
    .order-content
        display: flex
        justify-content: center
        align-items: center
        .info
            width: 50%
            box-shadow: 1px 5px 6px #00000029
            padding: 30px
            padding-top: 70px
            background: white
            border-radius: 5px
            position: relative
            .title
                position: absolute
                top: 0
                left: 0
                font-size: 20px
                background: #CF0A2C
                right: 0
                padding: 15px 30px
                color: white
                border-radius: 5px 5px 0 0
            span
                display: block
                color: #818181
                display: grid;
                grid-template-columns: 160px 1fr;
                grid-gap: 15px
                border-top: 0.5px solid #818181;
                border-left: 0.5px solid #818181;
                border-right: 0.5px solid #818181;
                padding: 7px    
                strong
                    text-align: left
                &.name-product
                    border-bottom: 0.5px solid #818181 !important
                    border-radius: 0 0 5px 5px 
                    strong
                        display: -webkit-box;
                        -webkit-line-clamp: 3
                        -webkit-box-orient: vertical  
                        overflow: hidden
                &.user-id
                    border-radius: 5px 5px 0 0

@media (max-width:700px)
    .order-page
        .order-content
            .info
                width: auto
                padding: 7px
                margin: 7px
                padding-top: 70px
                .title
                    padding: 15px 30px
                span
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 7px
                    padding: 7px    






    


    

    