#notfound {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d00a2d;
  padding-top: 100px;
}
#notfound .notfoundWrapper {
  height: 500px;
  display: flex;
}
#notfound .notfoundWrapper .notfoundImg {
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}
#notfound .notfoundWrapper .notfoundImg img {
  width: 350px;
}

#notfound .notfoundInfo {
  display: flex;
  flex-direction: column;
  height: 60%;

  padding: 20px 0 20px 40px;
  width: 500px;
}
#notfound .notfoundInfo .notfoundTitle {
  color: white;
  font-size: 60px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  margin-bottom: 20px;
}

#notfound .notfoundInfo .notfoundDescription {
  color: white;
  font-size: 18px;
  font-weight: medium;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 40px;
}

#notfound .notfoundInfo .notfoundLinks {
  display: flex;
  justify-content: start;
}

#notfound .notfoundLinks .notfoundLink button {
  font-size: 14px;
  width: 150px;
  margin: 0 70px 0 0;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  background-color: #d00a2d;
  border: white solid 1.5px;
  color: white;
}

#notfound .notfoundLinks .notfoundLink button:hover {
  color: #d00a2d;
  background-color: white;
  transition: 0.5s;
}

/* Responsive */

@media only screen and (max-width: 1000px) {
  #notfound {
    padding-top: 0px;
  }
  #notfound .notfoundWrapper {
    flex-direction: column;
    height: auto;
  }
  #notfound .notfoundWrapper .notfoundImg {
    position: relative;
  }
  #notfound .notfoundWrapper .notfoundImg .imgContent {
    top: -60px;
    position: absolute;
  }
  #notfound .notfoundWrapper .notfoundImg img {
    height: 500px;
  }
  #notfound .notfoundInfo {
    text-align: center;
    padding: 280px 0 0px 0px;
    align-items: center;
  }
  #notfound .notfoundInfo .notfoundTitle {
    font-size: 40px;
  }
}
@media only screen and (max-width: 540px) {
  #notfound {
    padding-top: 30px;
  }
  #notfound .notfoundWrapper {
    align-items: center;
  }
  #notfound .notfoundWrapper .notfoundImg {
    position: relative;
    height: 200px;
    margin-right: 0;
  }
  #notfound .notfoundWrapper .notfoundImg .imgContent {
    width: 100%;
    justify-content: center;
    display: flex;
  }
  #notfound .notfoundWrapper .notfoundImg img {
    height: 400px;
  }
  #notfound .notfoundInfo {
    padding: 50px 0 0px 0px;

    width: 90%;
  }
  #notfound .notfoundInfo .notfoundTitle {
    font-size: 30px;
  }

  #notfound .notfoundInfo .notfoundLinks {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
  }
  #notfound .notfoundLinks .notfoundLink button {
    margin: 10px 10px;
  }
}
