#notfound {
  position: relative;
  height: 100vh;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
}
#notfound .notfoundWrapper {
  height: 500px;
  display: flex;
  width: 100%;
  justify-content: center;
}
#notfound .notfoundImg {
  height: 100%;
  width: 300px;
}
#notfound .notfoundInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0 20px 40px;
}
#notfound .notfoundInfo .notfoundTitle {
  font-size: 60px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}
