#productDetailMobil .content-curve-shape {
  height: 300px;
  width: 100%;
  background: #d00a2d;
  position: relative;
}

#productDetailMobil .content-curve-shape::after {
  content: "";
  position: relative;
  left: -3rem;
  /* padding * -1 */

  /* padding - height/2 */
  float: left;
  display: block;
  height: 4rem;
  width: 100vw;
  background: hsla(0, 0%, 100%, 0.5);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 70 500 60' preserveAspectRatio='none'%3E%3Crect x='0' y='0' width='500' height='500' style='stroke: none; fill: white;' /%3E%3Cpath d='M0,100 C150,200 350,0 500,100 L500,00 L0,0 Z' style='stroke: none; fill: RGB(208,10,45);'%3E%3C/path%3E%3C/svg%3E");
  background-size: 100% 100%;
  bottom: -1px;
  position: absolute;
  left: 0;
}
#productDetailMobil .content-images {
  position: relative;

  width: 100%;
  padding: 1px;
  background: #fff;
  padding-top: 130px;
}
#productDetailMobil .slider {
  position: absolute;
  bottom: 0;
  height: 300px;

  width: 100%;

  display: flex;
  justify-content: center;
}

.mb {
  margin-bottom: 4px;
}
