#productDetailMobil .Nav {
  position: relative;
  z-index: 2;
}
#productDetailMobil .content-curve-shape {
  /* height: 300px; */
  width: 100%;
  background: #fff;
  position: relative;
}
#productDetailMobil .content-curve-shape .curve-shape {
  position: relative;
}
#productDetailMobil .content-curve-shape .curve-shape img {
  position: absolute;
  top: -140px;
  left: 0;
  width: 100%;
}
#productDetailMobil .header-detail {
  box-sizing: border-box;
}

#productDetailMobil .content-images {
  position: relative;
  width: 100%;
  padding-top: 300px;
}
#productDetailMobil .slider {
  position: absolute;
  bottom: 0;
  height: 300px;

  width: 100%;

  display: flex;
  justify-content: center;
}

.mb {
  margin-bottom: 4px;
}

@media only screen and (min-width: 450px) {
  #productDetailMobil .content-curve-shape .curve-shape img {
    top: -200px;
  }
}
@media only screen and (min-width: 540px) {
  #productDetailMobil .content-curve-shape .curve-shape img {
    top: -300px;
  }
}
@media only screen and (min-width: 620px) {
  #productDetailMobil .content-curve-shape .curve-shape img {
    top: -420px;
  }
}
