#productDetailMobil {
  overflow-x: hidden;
}

#productDetailMobil .Nav {
  position: relative;
  z-index: 2;
}
#productDetailMobil .Nav-mt {
  margin-top: 50.4px;
}

#productDetailMobil .content-curve-shape {
  /* height: 300px; */
  width: 100%;
  background: #fff;
  position: relative;
}


#productDetailMobil .header-detail {
  box-sizing: border-box;
}

#productDetailMobil .content-images {
 
  width: 100vw;
  padding: 1px;
  background: #fff;
  /* padding-top: 130px; */
 
}
#productDetailMobil .content-images .slider {
  height: 345px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 24px;
  box-sizing: border-box;
}

.caca{
  background-color: white;
  border: none;
  margin-top: -10px;
}

#productDetailMobil .footer-social {
  width: 80%;
  margin: auto;
  padding: 25px 0;
}

#productDetailMobil .footer-social img:last-child {
  margin-left: 20px !important;
  margin-top: 5px !important;
}

@media (max-width: 700px) {
  #productDetailMobil .footer-social {
    width: 100%;
    margin: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    grid-gap: 15px;
    padding: 0 0 30px;
  }
  #productDetailMobil .footer-social img {
    width: auto !important;
    margin: auto !important;
  }
}

.skeletonProductDetail {
  background-color: rgba(0, 0, 0, 0.7) !important;
  border-radius: 5px;
}

.mb {
  margin-bottom: 4px;
}

@media only screen and (min-width: 450px) {
  #productDetailMobil .content-curve-shape .curve-shape img {
    top: -200px !important;
  }
}
@media only screen and (min-width: 540px) {
  #productDetailMobil .content-curve-shape .curve-shape img {
    top: -300px !important;
  }
}
@media only screen and (min-width: 620px) {
  #productDetailMobil .content-curve-shape .curve-shape img {
    top: -420px !important;
  }
}
