#productDetailMobil .content-curve-shape {
  height: 300px;
  width: 100%;
  background: #d00a2d;
}
#productDetailMobil .content {
  position: relative;
  margin-top: 150px;
  width: 100%;
  padding: 1px;
}
#productDetailMobil .wrapper {
  position: absolute;
  bottom: 0;
  height: 300px;

  width: 100%;

  display: flex;
  justify-content: center;
}
#productDetailMobil .product-img {
  height: 100%;
  width: 80%;
  max-width: 324px;
  border-radius: 5px;
}

.mb {
  margin-bottom: 4px;
}
