// Duplicating

section.edit-menu-analytics
  margin-bottom: 25px;
  font-size: 14px;

  .help
    color: red;
    font-size: 13px;
    text-align: right;
    cursor: pointer;

  header
    h4
      font-weight: bolder;
      margin-bottom: 15px;
      font-size: 16px

  main
    border: 1px solid #f3f3f3;
    box-shadow: 0px 3px 6px #11111129;
    background-color: white;
    padding: 25px 50px;
    margin: 16px 0px;

    .encabezado
      display: flex
      justify-content: space-between;
      margin-bottom: 8px;

    div
      justify-content: space-between;
      margin-bottom: 8px;
      
    
      input
        margin: 10px
        width: 20px
      
      .codigo
        width: 60%
      
      .error
        color: red
        align-items: center
        display: flex
        justify-content: center
    p
      margin-top: 8px;

  footer
    display: flex;
    justify-content: end
    font-size: 13px;

    &>*
      margin-left: 5px;
      flex: 0 1 0;

