button
    p
    color: #fff

.buttonGoogle
    background-color: #0086F8

.buttonFacebook
    background-color: #1B4981

.buttonGoogle, .buttonFacebook
    position: relative
    img
        position: absolute
        left: 15px
        height: 20px
        width: 20px
        top: 8px

@media (max-width: 700px)
    .buttonGoogle, .buttonFacebook
        font-size: 16px
        img
            position: absolute
            left: 10px
            height: 17px
            width: 17px
            top: 10px
