#Subscription {
  background: #f3f3f3;
  font-family: Montserrat, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#Subscription .title h4 {
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 29px;
  letter-spacing: 0;
  text-align: center;
  padding-top: 18px;
  color: #5f5f5f;
}

#Subscription .title p {
  padding-top: 24px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
  color: #5f5f5f;
}

#Subscription .anullProperties img {
  padding-top: 10px !important;
  width: 100% !important;
  height: 211px !important;
}

#Subscription .button input {
  height: 15px;
  border-radius: 0;
  font-size: 16px;
  padding: 17px 0px 18px 18px;
  color: #555151;
  border: none;
  margin-top: 31px;
}

#Subscription .button button {
  background-color: #cf0a2c;
  margin-top: 25px;
  height: 68px;
  font-size: 21px;
  font-style: normal;
  font-weight: 800;
  line-height: 26px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #ffffff;
  border-radius: 40px;
}

@media (min-width: 768px) {
  #Subscription {
    display: grid;
    margin-bottom: 0;
    height: 879px;
    max-width: 90vm;
    width: 90vm;
    grid-auto-rows: 1fr;
    grid-template-areas:
      "imagen titulo"
      "imagen boton";
  }

  #Subscription .anullProperties {
    grid-area: imagen;
    width: 50vw;
  }

  #Subscription .anullProperties img {
    padding-top: 10px !important;
    width: 100% !important;
    height: 400px !important;
  }

  #Subscription .title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    grid-area: titulo;
  }

  #Subscription .title h3 {
    font-style: normal;
    font-weight: 800;
    font-size: 42px;
    line-height: 51px;
    letter-spacing: 0.02em;
    margin-right: 250px;
  }

  #Subscription .title p {
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 36px;
    margin-right: 250px;
  }

  #Subscription .button {
    grid-area: boton;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    align-content: flex-end;
  }

  #Subscription .button input {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    border-radius: 25px;
    width: 599px;
    height: 76px;
    margin-right: 250px;
  }

  #Subscription .button button {
    width: 599px;
    height: 76px;
    margin-bottom: 185px;
    margin-right: 250px;
  }
}
