.wrap-search-bar
    width: 80%
    padding: 20px 10%;
    background: white
    display: flex
    justify-content: space-between
    align-items: center
.search-bar
    width: 40%
    display: flex
    border-radius: 5px
    overflow: hidden
    input
        border: none  !important
        margin: 0px
        border-radius: 0px
        padding: 10px
.search-help-icon
    display: flex
    justify-content: center
    align-items: center
    padding: 5px 0px 5px 10px
    cursor: pointer
    color: grey