.ripple-effect-detail-mobile {
  width: 100%;
}

#CheckoutProductMobil {
  width: 100%;
  background: #fff;
  padding: 25px 25px 0 25px;
  box-sizing: border-box;
}

#CheckoutProductMobil .productPrice {
  display: flex;
  justify-content: space-between;
  margin-bottom: 17.5px;
}

#CheckoutProductMobil .price span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.05em;

  /* Black */

  color: #000000;

  display: flex;
  flex-direction: row;
}

#CheckoutProductMobil .price span p {
  font-family: Montserrat, sans-serif;
  font-weight: 950;
  font-size: 20px;
  padding-top: 3px;
  padding-left: 2px;
  color: #000;
}

#CheckoutProductMobil .discount {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#CheckoutProductMobil .discount .old-price {
  font: normal normal normal 14px/18px Montserrat;
  letter-spacing: 1px;
  color: #5f5f5f;
  text-decoration: line-through;
}
#CheckoutProductMobil .discount .percent {
  /* Header 1 */

  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  letter-spacing: 0.02em;

  /* Discount Blue */

  color: #1fc2e6;

  text-transform: uppercase;
}
#CheckoutProductMobil .buyButton {
  margin-bottom: 20px;
}
#CheckoutProductMobil .count {
  display: flex;
  justify-content: space-between;
  margin-bottom: 31px;
}
#CheckoutProductMobil .count .count-text {
  border-left: 2px solid #5d5d5d;
  padding-left: 17px;
  flex: 1;
}
#CheckoutProductMobil .count .count-text .no-avilable {
  color: #cf0a2c;
  font-weight: 700;
  margin-top: 1px;
  min-height: 17px;
}
#CheckoutProductMobil .count .count-text h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;

  /* Dark Gray */

  color: #5d5d5d;
}
#CheckoutProductMobil .count .count-text p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;

  /* Dark Gray */

  color: #5d5d5d;
}
#CheckoutProductMobil .count .count-counter {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
#CheckoutProductMobil .purchased {
  /* Breadcrumbs */

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;

  /* Discount Blue */

  color: #5d5d5d;

  text-align: center;
}

#CheckoutProductMobil .purchased .number {
  color: #1fc2e6;
  font-weight: 800;
}
