.forgot-component
    display: grid
    grid-template-rows: auto 1fr auto
    height: 100vh

.forgot-pass
    margin: auto
    padding: 6vh 3vw
    width: 17vw
    min-width: 320px
    color: #5A5A5A
    background-color: #fff
    border-radius: 20px
    box-shadow: 0px 3px 6px #00000029
    p.forgot-pass-text
        font-size: 14px
        margin-bottom: 30px
    h1
        font-size: 26px
        text-align: center
        font-weight: lighter
    .main-button
        p
            padding: 0 !important


.forgot-pass-content
    margin-bottom: 20px
    padding: 0px 60px

.forgot-pass-text
    margin-top: 30px
    line-height: 20px
    text-align: center

.input
    max-width: 95%
    &::placeholder
        color: #5A5A5A
        text-align: center

@media(max-width:700px)
    .forgot-component
        background: transparent
        .forgot-pass
            border-radius:inherit !important
            padding: 15px !important
            background: transparent
            box-shadow: none !important
            margin: 7vh auto 7vh auto !important
            min-width: 280px
            width: auto
            .main-button
                max-width: 200px
            h1
                margin: auto
        .footer
            display: none

@media(max-height:700px) and (min-width:700px)
    .forgot-pass
        margin: 80px auto 80px auto
