.register-component
    display: grid
    grid-template-rows: auto 1fr auto
    height: 100vh

.register
    margin: 80px auto 80px auto
    padding: 6vh 5vw
    width: 15vw
    min-width: 320px
    color: #111111
    background-color: #fff
    border-radius: 20px
    box-shadow: 0px 3px 6px #11111129
    p.register-text
        font-size: 14px
    h1
        font-size: 28px
        text-align: center
        font-weight: lighter
    .social-buttons
        margin: 60px 0px 30px
        padding: 0px 10px
    .main-button
        width: auto
.password
    position: relative;
    display: grid 
    grid-template-columns: 1fr auto
    grid-gap: 10px
    a
        margin: auto
        &:hover
            cursor: pointer
    


.register-text
    font-size: 14px
    text-align: center

.input
    max-width: 95%
    &::placeholder
        color: #111111
        text-align: center

p.terms
    margin-bottom: 30px
    font-size: 12px


@media(max-width:700px)
    .register-component
        background-color: transparent !important
        height: auto !important
        .register
            border-radius:inherit !important
            background-color: transparent !important
            padding: 15px !important
            box-shadow:none !important
            margin: 7vh auto 7vh auto !important
            min-width: 280px
            h1
                width: 80%
                margin: auto
        .footer
            display: none

@media (min-width: 700px) and (min-height: 1000px)
    .register
        margin: auto

