.edit {
  width: 85% !important;
  margin-left: 3%;
}


.edit h3 {
  font-weight: 500;
}

.breadcrumb {
  margin: 40px 0px 1em 0px;
  color: #cf0a2c;
}

.breadcrumb span,
.breadcrumb a {
  color: #111111;
  font-size: 15px;
  
  cursor: pointer;
}

.breadcrumb svg {
  margin: 0px 5px;
}

.edit ul.icons {
  list-style: none;
}

.edit ul.icons li {
  display: inline;
}

.edit .shop-icons {
  text-align: center;
  margin-top: -10px;
  margin-bottom: 10px;
}

.edit .shop-icons svg {
  color: #111;
  font-size: 15px;
  margin-right: 15px;
  margin-left: 15px;
  cursor: pointer;
}

.edit .shop-icons svg.active {
  color: #2a6ef6;
}

