.account-data-content
    width: 100%
.account-data-title
    margin-bottom: 20px
.account-data-sub-title
    display: flex
    justify-content: space-between
    span
        color: #d11e36
.account-data-section
    background: white
    padding: 10px
    border-radius: 5px
    width: 95%
    margin: 15px auto
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
.account-data-section-row
    border-bottom: 1px solid #adadad
    display: flex
    justify-content: space-between  
    margin-bottom: 10px
    padding-bottom: 10px
.account-data-section-row:nth-last-child(1)
    border: 0px
    margin: 0px
    padding: 0px
.account-data-section-column
    flex: 1
    display: flex
.account-data-section-column:nth-last-child(1)
    justify-content: flex-end
    span
        cursor: pointer
.account-data-form-modals
    padding: 10px 30px
.account-data-form-wrap-button
    display: flex
    justify-content: space-between
    button
        width: 49%
        background: #D11E36
        color: white
.account-data-form-group
    margin-bottom: 20px
    select
        width: 100%
        padding: 6px 10px
        border-radius: 5px
        border: 1px solid #707070
    h3
        text-align: center