.download
    background: #CF0A2C
    padding: 20px 0;
    margin-bottom: 15px
    display: grid
    grid-template-columns: auto 1fr
    span
        color: #F6F8FB
        font-size: 17px
        color: #F6F8FB;
        margin: auto
    img
        width: 70px
        height: 70px
        box-shadow: 0px 3px 6px #11111129
        border-radius: 5px
        margin-left: 30px
.menu-items
    display: grid
    grid-template-columns: 1fr 1fr
    padding: 20px 15px
    font-size: 12px
    a
        color: #565555
        margin: 7px
        
.login-menu
    border-top: 0.2px solid #111111
    border-bottom: 0.2px solid #111111
    padding: 30px 15px
    padding-bottom: 50px
    margin-bottom: 30px
    position: relative
    a
        color: #4E8EFE
    span
        color: #111111
        white-space: nowrap
        margin-top: 15px
        position: absolute
        bottom: 15px
        left: 20px
    .main-button
        width: auto
        border-radius: 5px
        p
            color: white !important
