.download
    background: #D11E36
    padding: 20px 0;
    margin-bottom: 15px
    span
        color: #F6F8FB
        font-size: 17px
        margin-top: -15px
        color: #F6F8FB;
        top: -30px;
        position: relative;
        margin-left: 35px;
    img
        width: 70px
        height: 70px
        box-shadow: 0px 3px 6px #00000029
        border-radius: 5px
        margin-left: 50px;

.menu-items
    display: grid
    grid-template-columns: 1fr 1fr
    padding: 20px 15px
    font-size: 12px
    a
        color: #565555
        margin: 7px
        
.login-menu
    border-top: 0.2px solid #4E4E4E
    border-bottom: 0.2px solid #4E4E4E
    padding: 30px 15px
    margin-bottom: 30px
    a
        color: #4E8EFE
    span
        color: #4E4E4E
        white-space: nowrap
        margin-top: 15px
