.ProductImageDesk .deskImages {
  width: 30%;
  display: inline-flex;
  flex-wrap: wrap;
  min-width: 150px;
  padding: 30px 0;
  height: 350px;
}
.ProductImageDesk .deskImages .content {
  flex: 0 0 44%;
  margin: 0 3% 4% 3%;
  cursor: pointer;
}

.ProductImageDesk .deskImages .content img {
  width: 100% !important;
  border-radius: 10px;
  max-height: 120px !important;
}
.ProductImageDesk .deskImages .selectedContent img {
  border: 2px solid #cf0a2c !important;
}

.ProductImageDesk .actualImageWrapper {
  width: 400px;
  border-radius: 20px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}
.ProductImageDesk .actualImageWrapper div {
  box-shadow: unset;
  width: auto;
}

.ProductImageDesk .actualImageWrapper img {
  width: auto !important;
  height: auto !important;
  max-width: 100% !important;
  max-height: 100% !important;
  border-radius: 10px;
  margin: auto !important;
  min-width: 40% !important;
  min-height: 80% !important;
}

.ProductImageDesk .actualImageWrapper .anullProperties div {
  height: clamp(200px, 450px, 500px);
  display: flex !important;
}

#RecommendedProducts
  .swiper-container-horizontal.recomendedSwiper
  > .swiper-pagination-bullets
  .swiper-pagination-bullet {
  border-radius: 10px !important;
  height: 4px;
  background: #5d5d5d;
}
