.ProductImageDesk {
  box-sizing: border-box;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 50px 1.5vw 50px 4.5vw;
  margin-bottom: 12px;
}
.ProductImageDesk .deskImages {
  width: 30%;
  display: inline-flex;
  flex-wrap: wrap;
  min-width: 150px;
  padding: 30px 0;
  min-height: 320px;
}
.ProductImageDesk .deskImages .content {
  flex: 0 0 44%;
  margin: 0 3% 4% 3%;
  cursor: pointer;
}

.ProductImageDesk .deskImages .content img {
  width: 100% !important;
  border-radius: 10px;
  max-height: 90px !important;
}
.ProductImageDesk .deskImages .selectedContent img {
  border: 2px solid #cf0a2c !important;
}

.ProductImageDesk .actualImageWrapper {
  width: 400px;
  border-radius: 20px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ProductImageDesk img {
  width: 100% !important;
  border-radius: 10px;
}

#RecommendedProducts
  .swiper-container-horizontal.recomendedSwiper
  > .swiper-pagination-bullets
  .swiper-pagination-bullet {
  border-radius: 10px !important;
  height: 4px;
  background: #5d5d5d;
}
