#CheckoutProductDesk{
  padding: 30px 20px;
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  position: relative;
}
#CheckoutProductDesk .title{
  margin-bottom: 40px;
}
#CheckoutProductDesk .title h1{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 28px;
 
  letter-spacing: 0.02em;
  color: #000000;
}

#CheckoutProductDesk .oldPrice{
  font: normal normal normal 14px/18px Montserrat;
  letter-spacing: 1px;
  color: #5D5D5D;
  text-decoration: line-through;
  margin-bottom: 10px;
}

#CheckoutProductDesk .price{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

#CheckoutProductDesk .price .realPrice {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.05em;

  /* Black */

  color: #000000;

  display: flex;
  flex-direction: row;
}
#CheckoutProductDesk .price .percent {
   /* Header 1 */

   font-family: Montserrat;
   font-style: normal;
   font-weight: 800;
   font-size: 18px;
   line-height: 22px;
   /* identical to box height */
 
   letter-spacing: 0.02em;
 
   /* Discount Blue */
 
   color: #1fc2e6;
 
   text-transform: uppercase;
}

#CheckoutProductDesk .count {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
#CheckoutProductDesk .count .countText {
  border-left: 2px solid #5d5d5d;
  padding-left: 17px;
  flex: 1;
}
#CheckoutProductDesk .count .count-text .noAvilable {
  color: #cf0a2c;
  font-weight: 700;
  margin-top: 1px;
  min-height: 17px;
}
#CheckoutProductDesk .count .countText h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;

  /* Dark Gray */

  color: #5d5d5d;
}
#CheckoutProductDesk .count .countText p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;

  /* Dark Gray */

  color: #5d5d5d;
}
#CheckoutProductDesk .count .countCounter {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

#CheckoutProductDesk .buyButton {
  margin-bottom: 30px;
}

#CheckoutProductDesk .purchased {
  /* Breadcrumbs */

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;

  /* Discount Blue */

  color: #5d5d5d;

  text-align: center;
}

#CheckoutProductDesk .purchased .number {
  color: #1fc2e6;
  font-weight: 800;
}
