#counter-detail-mobile {
  border: 1px solid #000000;
  border-radius: 30px;
  width: 154px;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  padding: 0 15px;
  box-sizing: border-box;
}
#counter-detail-mobile .text {
  font: normal normal normal 18px/22px Montserrat;
  letter-spacing: 0px;
  color: #5f5f5f;
}
#counter-detail-mobile .number {
  font: normal normal bold 16px/19px Montserrat;
  letter-spacing: 0.8px;
  color: #000000;
  flex: 1;
  text-align: center;
}
#counter-detail-mobile .plus-icon {
  font-size: 12px;
}
#counter-detail-mobile .sub-icon {
  margin-left: 7px;
}
