#PayMethod {
  opacity: 1;
  border-top: 2px solid #e4e4e4;
  border-bottom: 2px solid #e4e4e4;
  background: #fff;
}

#PayMethod .titulo h3 {
  text-align: left;
  font: normal normal bold 18px/22px Montserrat;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

#PayMethod .link {
  display: block;
  align-items: center;
  justify-items: center;
  padding-bottom: 15px;
}

#PayMethod .link .PayCredit {
  display: inline-block;
  padding-bottom: 5px;
}
#PayMethod .link .PayCredit img {
  width: 100%;
}

#PayMethod .link .PayOnline {
  display: flex;
  align-items: center;
  justify-items: center;
}

#PayMethod .link .PayOnline .payonline {
  width: 100%;
  height: 100%;
  flex: 1;
}

#PayMethod .link .PayOnline .pse {
  width: 50%;
  flex: 0.5;
  position: relative;
  margin-right: 18px;
}
