#PayMethod {
    border-top: 2px solid #e4e4e4;
    border-bottom: 2px solid #e4e4e4;
    background: #fff;
    height: 222px;
    min-width: 375px;
    padding: 36px 25px;
}

#PayMethod .titulo h3 {
    text-align: left;
    font: normal normal bold 18px/22px Montserrat;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
}

#PayMethod .link {
    display: grid;
    grid-template-columns: repeat(3, 92px);
    grid-template-rows: repeat(2, 92px);
    margin: 24px 0px;
}

#PayMethod .link img {
    width: 100%;
    height: auto;
    margin: 24px 24px;
    max-width: 93px;
}

@media (min-width: 750px) {
    #PayMethod .link {
        grid-template-columns: repeat(6, 92px);
    }

    #PayMethod {
        height: 130px;
    }
}
