#FormProductDetail .fromProductDetail-wrapper-textfields {
  display: flex;
  justify-content: space-between;
}

#FormProductDetail .formProductDetail-title {
  font-size: 18px;
  width: 80%;
  margin: 0px auto;
  padding: 16px 0px;
  font-weight: 400;
}

#FormProductDetail .form-wrapper {
  width: 80%;
  margin: 0px auto;
}

#FormProductDetail .fromProductDetail-textfields {
  width: 48%;
}

#FormProductDetail .wrapper-checkbox {
  margin-left: -15px;
  display: flex;
  margin-top: 25px;
}

#FormProductDetail .FormDialog-button {
  margin: 20px auto;
}

#FormProductDetail .font-size {
  font-size: 10px;
}
#FormProductDetail .MuiFormControlLabel-root {
  margin-left: 0px;
  margin-right: 0px;
}
#FormProductDetail .agreePolicy {
  font-size: 13px;
}
#FormProductDetail .MuiCheckbox-colorSecondary.Mui-checked {
  color: #cf0a2c;
}
#FormProductDetail .MuiButton-containedSecondary {
  background-color: #cf0a2c;
}
#FormProductDetail .MuiButton-contained.Mui-disabled {
  color: rgba(0, 0, 0, 0.56) !important;
  box-shadow: none !important;
  background-color: rgba(0, 0, 0, 0.12) !important;
}

@media (max-width: 460px) {
  #FormProductDetail .formProductDetail-title {
    width: 100%;
    text-align: center;
  }

  #FormProductDetail .form-wrapper {
    width: 100%;
  }
}
@media (max-width: 360px) {
  #FormProductDetail .fromProductDetail-wrapper-textfields {
    flex-direction: column;
  }
  #FormProductDetail .fromProductDetail-textfields {
    width: 100%;
  }
}
