.terms-wrap-content
    margin: 40px 20%
.terms-paragraph, .terms-title
    margin-bottom: 20px

.terms-wrap-content
    margin: 40px 20%
    color: #111111
.terms-paragraph, .terms-title
    margin-bottom: 20px

.terms-title
    font-size: 26px
    font-weight: 600
    margin-bottom: 20px