.containerOffer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background: white;
    margin-top: 3.2px;
}

.containerOffer .headerOffer{
    position: relative;
}

.containerOffer .headerOffer .backgroundOffer{
    position: absolute;
    left: -22%;
    right: -23.73%;
    top: 34.62%;
    bottom: 0%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 56px;
    line-height: 68px;
    /* Background Gray */
    color: #F3F3F3;
}

.titleOffer{
    position: absolute;
    left: 18.67%;
    right: 18.67%;
    top: -80.62%;
    bottom: -2.58%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 29px;
    color: #CF0A2C;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 20px 10px;
}

.contentOffer{
    margin:60px auto auto
}

.contentOffer p{
    width: calc(100% - 24%);
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #969696;
    order: 0;
    flex-grow: 0;
    margin: 0px auto;
}

.containerOffer strong{
    color: black;
}