.containerOffer {
  width: 100%;
  height: auto;
  background: white;
}

.containerOffer .headerOffer {
  height: 34px;
  padding: 48px 25px 28px 25px;
}

.containerOffer .headerOffer .titleOffer {
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  font-weight: bold;
  font-size: 28px;
  line-height: 34.13px;
  color: #cf0a2c;
  flex: none;
  order: 0;
  flex-grow: 0;
  width: 100%;
  text-align: center;
}

.containerOffer .contentOffer {
  margin: 0px auto;
  padding: 0 29px 43px 29px;
}

.containerOffer .contentOffer p {
  max-width: 320px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #969696;
  order: 0;
  flex-grow: 0;
  margin: 0px auto;
}

.containerOffer strong {
  color: black;
}
