.containerOffer{
    width: 100%;
    height: auto;
    background: white;
}

.containerOffer .headerOffer{
    height: 34px;
    padding: 48px 25px 20px 25px;
}

.titleOffer{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 34.13px;
    color: #CF0A2C;
    flex: none;
    order: 0;
    flex-grow: 0;
    width: 100%;
    text-align: center;
}

.contentOffer{
    margin:0px auto;
    padding: 8px 29px 10px 29px;
}

.contentOffer p{
    max-width: 320px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #969696;
    order: 0;
    flex-grow: 0;
    margin: 0px auto;
}

.containerOffer strong{
    color: black;
}