.button-recovery p {
	margin: 0 auto;
}
small {
	display: flex;
	justify-content: center;
	color: #cf0a2c;
}

.main-button {
    display: flex;
	justify-content: center;
}

.inputContainer {
    display: flex;
	align-content: center;
	align-items: center;
}

.inputContainer input{
    width: 200px !important;

}

.equalityConfirm {
	margin-left: 10px;
	color: #cf0a2c;
}
