/* @font-face {
    font-family: "Calibri";
    src: local("Calibri"),
      url(./fonts/calibri-font-family/calibri-regular.ttf) format("truetype");
  }
  @font-face {
    font-family: "Calibri";
    font-weight: bold;
    src: local("Calibri"),
      url(./fonts/calibri-font-family/calibri-bold.ttf) format("truetype");
  } */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: #034ea2;
  --secondary: #001aff;
  --dark: #282828;
  --light: rgba(255, 255, 255, 0.85);
  --soft: rgba(255, 255, 255, 0.75);
  --yellow: #fff200;
  --gray: #9e9e9e;
  --white: #fff;
  --spaceCentered: 90%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: Calibri;
  color: rgba(0, 0, 0, 0.75);
}

img {
  width: 100%;
  height: 100%;
}
p {
  line-height: 20px;
}
