.containerAbout header{
    position: relative;
    min-height: 53vh;
    width: 100%;
}

.containerAbout header img{
    width: 100%;
    max-width: 100%;
    height: auto !important;
    max-height: 100%! important;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    min-height: auto!important;
}

.containerAbout header .aboutText{
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.containerAbout header .aboutText p{
    text-align: center;
    letter-spacing: 5px;
    font-family: 'Montserrat';
    font-weight: 900;
    color: white;
    font-size: 4vw;
}

.containerAbout header .aboutText p:nth-child(2){
    font-size: 7vw;
}