::-webkit-scrollbar {
    display: none;
}
.hiddenChat{
    display:none !important
}
.showChat{
    display: block !important;
}
.buttonChat{
    position: fixed !important;
    background: #CF0A2C !important;
    right: 15px !important;
    bottom: 15px !important;
    color: white !important;
    font-size: 12px !important;
    font-family: 'Montserrat', sans-serif !important;
    /* display:none !important; */
}
.buttonChat svg{
    padding-right: 10px;
}
.containerChat{
    height: 450px;
    background: #CF0A2C;
    position: fixed;
    width: 320px;
    bottom: 5px;
    right: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 0px black;
    z-index: 10;
    display:none
}
.containerChat .headChat{
    height: 33px;
    background: #CF0A2C;
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    color:white;
}
.containerChat .headChat svg{
    position:absolute;
    color:white;
    right:15px;
    cursor: pointer;
}
.containerChat .sendMessage{
    position: absolute;
    bottom: 0;
    width: 100%;
    display:flex;
    align-items: center;
    padding: 5px;
    height: 50px;
}
.containerChat .sendMessage textarea{
    height: 64px;
    margin: 0px;
    resize: none;
    width: 85%;
    outline: none;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 15px;
    padding: 5px;
}
.containerChat .sendMessage svg{
    margin-left: 4px !important;
    color:white;
}
.containerChat .containerMessages{
    height:350px;
    background:white;
    max-height: 350px;
    overflow: scroll;
}
.containerChat .containerMessages .rightMessage{
    max-width: 80%;
    float: right;
    padding: 5px;
    border-radius: 10px;
    margin: 8px 10px 0px 0px;
    border: 1px inset;
    background: #00B2FF;
}
.containerChat .containerMessages .leftMessage{
    max-width: 80%;
    float: left;
    padding: 5px;
    border-radius: 10px;
    margin: 8px 0px 0px 10px;
    border-color: #CF0A2C;
    background: #F59D9D;
}
/* .rightMessage::after, .rightMessage::before{
    content: "";
    position: relative;
    top: 86px;
    width: 0px;
    height: 0px;
    border-top: 15px solid red;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    transform: rotate(45deg);
    right: 2px;
} */
