::-webkit-scrollbar {
    display: none;
}
.hiddenChat{
    display:none !important
}
.showChat{
    display: block !important;
}
.buttonChat{
    position: fixed !important;
    background: #CF0A2C !important;
    right: 15px !important;
    bottom: 15px !important;
    color: white !important;
    font-size: 12px !important;
    font-family: 'Montserrat', sans-serif !important;
    z-index:10;
    /* display:none !important; */
}
.buttonChat svg{
    padding-right: 10px;
}
.containerChats{
    height: 450px;
    background: #CF0A2C;
    position: fixed;
    width: 320px;
    bottom: 5px;
    right: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 0px black;
    z-index: 15;
    /* display:none */
}
.containerChats .headChat{
    height: 33px;
    background: #CF0A2C;
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    color:white;
}
.containerChats .headChat svg{
    position:absolute;
    color:white;
    right:15px;
    cursor: pointer;
}
.containerChats .sendMessage{
    position: absolute;
    bottom: 0;
    width: 100%;
    display:flex;
    align-items: center;
    padding: 5px;
    height: 50px;
}
.containerChats .sendMessage textarea{
    height: 64px;
    margin: 0px;
    resize: none;
    width: 85%;
    outline: none;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 15px;
    padding: 5px;
}
.containerChats .sendMessage svg{
    margin-left: 4px !important;
    color:white;
}
.containerChats .containerMessages{
    height:350px;
    background:white;
    max-height: 350px;
    overflow: scroll;
    flex-direction: column;
    display: flex;
}
.containerChats .containerMessages .rightMessage{
    max-width: 80%;
    float: right;
    padding: 5px;
    border-radius: 10px;
    margin: 8px 10px 5px 0px;
    border: 1px inset;
    background: #00B2FF;
    text-align: right;
    height: auto;
    word-break: break-word;
}
.containerChats .containerMessages .leftMessage{
    max-width: 80%;
    float: left;
    padding: 5px;
    border-radius: 10px;
    margin: 8px 0px 5px 10px;
    border-color: #CF0A2C;
    background: #F59D9D;
    height: auto;
    word-break: break-word;
}
.formOutLogin{
    width:94%;
    margin: 0 auto;
}
.formOutLogin textarea{
    height: 64px;
    margin: 0px;
    resize: none;
    width: 85%;
    outline: none;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 15px;
    padding: 5px;
    width:95% 
}
.formOutLogin .termsOutLogin{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top:50px;
}
.formOutLogin button{
   background:#CF0A2C;
   margin-top:10px;
}
.formLogin{
    width:94%;
    margin: 20px auto;
}
.formLogin textarea{
    height: 100px;
    margin: 0px;
    resize: none;
    width: 85%;
    outline: none;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 15px;
    padding: 5px;
    width:95% 
}
.formLogin .termsOutLogin{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top:70px;
}
.formLogin button{
   background:#CF0A2C;
   margin-top:30px;
}
.formValidate{
    position: absolute;
    background: #CF0A2C;
    width: 90%;
    font-size: 12px;
    border-radius: 15px;
    height: 25px;
    padding: 5px;
    display: flex;
    align-items: center;
    margin-top: 15px;
    color: white;
    font-weight: 500;
}
/* .rightMessage::after, .rightMessage::before{
    content: "";
    position: relative;
    top: 86px;
    width: 0px;
    height: 0px;
    border-top: 15px solid red;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    transform: rotate(45deg);
    right: 2px;
} */
