#InfoProductDetailMovil {
    border-top: 2px solid #e4e4e4;
    border-bottom: 2px solid #e4e4e4;
    background: #fff;
    display: grid;
    grid-template-areas:
    "header"
    "envios"
    "compras"
    "garantia";
    height: 282px;
}

/*Definiciones de los areas*/

#InfoProductDetailMovil .envios {
    grid-area: envios;
}

#InfoProductDetailMovil .compras {
    grid-area: compras;
}

#InfoProductDetailMovil .garantia {
    grid-area: garantia;
}

#InfoProductDetailMovil header {
    grid-area: header;
}

#InfoProductDetailMovil .info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    grid-template-columns: repeat(3, 1fr);
}

#InfoProductDetailMovil .info .icon {
    padding-left: 50px;
    align-items: center;
    margin-right: 20px;
}

.texte {
    margin-left: -10px;
}

#InfoProductDetailMovil .info .icon img {
    padding-right: 27px;
    padding-bottom: 12px;
    height: 38px;
}

#InfoProductDetailMovil .text {
    flex: 1;
    padding-right: 50px;
}

#InfoProductDetailMovil .text h3 {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 4px 0;
}

#InfoProductDetailMovil .text p {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #5d5d5d;
    text-align: left;
}

/*Modo tablet*/
@media (min-width: 750px) {
    #InfoProductDetailMovil {
        grid-template-areas:
                "header header header"
                "envios compras garantia";
        height: 150px;
        padding-top: 47px;
        padding-left: 47px;
    }

    #InfoProductDetailMovil .text {
        padding-right: 50px;
    }

    #InfoProductDetailMovil .info .icon {
        padding-left: 50px;
    }

    #InfoProductDetailMovil .info {
        display: inline-block;
        padding-bottom: 15px;
    }

    #InfoProductDetailMovil .info .icon img {
        padding-left: 0;
        padding-right: 110px;
    }
}

#InfoProductDetailMovil header {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 25px;
    padding-right: 25px;
}

#InfoProductDetailMovil header h4 {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.03em;
    color: #000000;
}

#InfoProductDetailMovil header h4 .company {
    color: #CF0A2C;
    display: inline-block;
}