#InfoProductDetailMovil {
  opacity: 1;
  border-top: 2px solid #e4e4e4;
  border-bottom: 2px solid #e4e4e4;
  width: 100%;
  background: #fff;
}

#InfoProductDetailMovil .info {
  display: flex;
  align-items: center;
  justify-items: center;
  padding-bottom: 15px;
}

#InfoProductDetailMovil .info .icon {
  flex: 0.3;
  padding-left: 50px;
}

#InfoProductDetailMovil .info .icon svg {
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
  color: #d00a2d;
  font-size: 47px !important;
}
#InfoProductDetailMovil .text {
  flex: 1;
  padding-right: 20px;
}
#InfoProductDetailMovil .text h3 {
  text-align: left;
  font: normal normal bold 14px/18px Montserrat;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
#InfoProductDetailMovil .text p {
  text-align: left;
  font: normal normal normal 12px/16px Montserrat;
  letter-spacing: 0px;
  color: #5f5f5f;
  opacity: 1;
}
