.profile-seller {
  display: inline-flex !important;
}

.profile-seller .info-profile-seller{
  position: relative;
  top: 10px;
  left: -15px;
}

.profile-seller .seller-leader{
  position: relative;
  top: 10px;
}


.profile-seller .info-profile-seller,.seller-leader p{
  font-size: 14px;
}

.seller-products{
  width: 100%;
  height: 80px;
  margin-bottom: 8px;
  padding-top: 1em;
  border: 0.5px solid #f3f3f3 !important;
  box-shadow: 0px 3px 3px #11111129 !important;
}

.seller-products img{
  float: left;
  width: 48px;
  margin-right: 10px;
  margin-left: 10px;
}

.seller-products p{
  font-size: 13px;
  width: 230px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.seller-products p span{
  font-weight: 500;
}

.seller-delivery{
  margin-left: 3em;
  margin-top: 6px;
  width: 100%;
}
.seller-delivery > span, .seller-delivery > p{
  color: #CF0A2C;
  float: left;
  margin-right: 5px;
}

.link-more-products{
  font-size: 14px;
}
.link-more-products:hover{
  opacity: 0.7;
}




.seller-movil .info-shops {
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
}

.seller-movil .info-shops a p {
  color: #111111;
}

.seller-movil .ubication {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60px 1fr;
      grid-template-columns: 60px 1fr;
  margin-top: 15px;
  color: #111111;
}

.seller-movil .ubication img {
  width: 45px;
  height: 45px;
  margin: auto;
}

.seller-movil .ubication .title {
  display: -ms-grid;
  display: grid;
  font-size: 14px;
  margin: auto;
  margin-left: 0;
  grid-gap: 5px;
}

.seller-movil .ubication .title span {
  font-size: 16px;
}

.seller-movil .name-seller {
  margin-top: 5px;
}

.seller-movil .name-seller img {
  width: 60px;
  height: 60px;
}

.seller-movil .name-seller .title span {
  color: #CF0A2C;
}

.seller-movil .reputations {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}

.seller-movil .reputations .item {
  width: 100%;
  height: 20px;
  opacity: 0.5;
}

.seller-movil .reputations .color1 {
  background: #FFE7E6;
}

.seller-movil .reputations .color2 {
  background: #FFF4E7;
}

.seller-movil .reputations .color3 {
  background: #FFFDE5;
}

.seller-movil .reputations .color4 {
  background: #F4FEE5;
}

.seller-movil .reputations .color5 {
  background: #00A650;
}

.seller-movil .statistics {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin-top: 30px;
}

.seller-movil .statistics .item {
  display: -ms-grid;
  display: grid;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.seller-movil .statistics .item .title {
  font-size: 18px;
}

.seller-movil .statistics .item .title svg {
  font-size: 18px;
}

.seller-movil .statistics .item .sub-title {
  font-size: 12px;
}
/*# sourceMappingURL=SellerMovil.css.map */