.seller-movil
    .info-shops
        grid-template-columns: 1fr auto;
        a p
            color: #111111
    .ubication
        display: grid
        grid-template-columns: 60px 1fr
        margin-top: 15px
        color: #111111
        img
            width: 45px
            height: 45px
            margin: auto
        .title
            display: grid
            font-size: 14px
            margin: auto
            margin-left: 0
            grid-gap: 5px
            span
                font-size: 16px
    .name-seller
        margin-top: 5px
        img
            width: 60px
            height: 60px
        .title
            span
                color: #CF0A2C
    .reputations
        display: grid
        grid-template-columns: repeat(5,1fr)
        grid-gap: 5px
        .item
            width: 100%
            height: 20px
            opacity: 0.5
        
        .color1 
            background: #FFE7E6
        .color2 
            background: #FFF4E7
        .color3 
            background: #FFFDE5
        .color4
            background: #F4FEE5
        .color5
            background: #00A650
    .statistics
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        margin-top: 30px
        .item
            display: grid
            text-align: center
            font-family: 'Montserrat', sans-serif;
            .title
                font-size: 18px
                svg
                   font-size: 18px
            .sub-title
                font-size: 12px

                