.account-store-input-search
    border: 0px
    border-bottom: 1px solid #4E4E4E
    border-radius: 0px
    background: transparent
    padding-left: 22px
    width: 100%
    box-sizing: border-box
    margin: 0px
.account-store-wrap-search
    display: flex
    justify-content: space-between
    align-items: center
.account-store-wrap-content
    padding: 0px 20px
.account-store-wrap-input-search
    position: relative
    margin: 30px 0px
    span
        position: absolute
        bottom: 8px
        left: 4px
        font-size: .8rem
        color: #6F6F6F
.account-store-sub-title
    font-size: .85rem
    color: #CF0A2C