.pay {
  padding: 20px 0px;
  background: white;
  border-bottom: 0.5px solid #9F9F9F;
  border-top: 0.5px solid #9F9F9F;
  border-right: 0.5px solid #9F9F9F;
}

.pay-img {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content auto;
      grid-template-columns: -webkit-min-content auto;
      grid-template-columns: min-content auto;
  position: relative;
  margin-bottom: 15px;
}

.pay-img img {
  height: 38px !important;
  margin: auto;
  margin-bottom: 4px;
}

.pay-img .pay-section-img {
  margin-left: 0 !important;
}

.pay-img a {
  position: absolute;
  bottom: -10px;
  left: 19px;
}

.pay-item {
  padding: 10px 20px;
  color: #565555;
  font-size: 14px;
}

.pay-item img {
  width: auto;
  height: 50px;
}

.pay-item button {
  margin-top: 20px;
  background: #CF0A2C;
  color: white;
  width: 80%;
}

@media (max-width: 700px) {
  .pay-item button {
    width: 100%;
  }
}

.pay-item select {
  padding: 10px;
  border-radius: 5px;
  outline: none !important;
}

.pay-item select:focus {
  outline: none !important;
}

.title-pay-product-detail {
  font-size: 20px;
  font-weight: 600;
  color: #565555;
}

.price-pay-product-detail {
  font-size: 36px;
  color: #404040;
  font-weight: lighter;
}

.info-pay-product-detail h3 {
  color: #CF0A2C;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.info-pay-product-detail p {
  font-size: 15px;
  margin-bottom: 5px;
  color: #434446;
}

.pay-section-img {
  width: 100%;
}

.section-pay-type {
  border-top: 0.5px solid #9F9F9F;
  padding: 20px;
}

.section-pay-type.pay-movil {
  background: #EAF0F0 !important;
}

.section-pay-type img {
  width: auto;
  height: 50px;
}

.section-pay-type .section-pay-type-title {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  grid-gap: 15px;
  margin: 10px 20px;
  text-align: left;
}

.section-pay-type .section-pay-type-title h4 {
  color: #434446;
  font-size: 17px;
  font-weight: 600;
}

.section-pay-type .section-pay-type-title svg {
  color: #CF0A2C;
}

.section-pay-type .main-button {
  width: 100%;
}

.section-pay-type .main-button p {
  margin: 0 !important;
  color: white !important;
}

.section-pay-type p {
  margin: 10px 0px;
  color: #7F8081;
  font-size: 16px;
}

.section-pay-type .section-pay-type-items {
  padding: 20px 10px;
}

.section-pay-send {
  padding: 20px;
  border-top: 0.5px solid #9F9F9F;
}

.section-pay-send .section-pay-send-title {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  grid-gap: 15px;
  margin: 20px 0px;
  color: #7F8081;
  font-size: 16px;
}

.section-pay-send .section-pay-send-title svg {
  color: #CF0A2C;
}

.section-pay-send .section-pay-send-subtitle {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  grid-gap: 15px;
  color: #CF0A2C;
  font-size: 15px;
}

.section-pay-send .section-pay-send-subtitle p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.section-pay-send .section-pay-send-subtitle svg {
  font-size: 20px;
}

.section-pay-send .section-pay-send-description {
  margin: 20px 0px;
  color: #545454;
  font-size: 15px;
}

.section-pay-wrap-seller {
  border-top: 0.5px solid #9F9F9F;
  padding: 20px;
}

@media (max-width: 768px) {
  .pay {
    border-right: 0px;
    border-bottom: 0px;
  }
}
/*# sourceMappingURL=PaySection.css.map */