.pay
    padding: 20px 0px
    background: white
    border-bottom: 0.5px solid #C6C6C6
    border-top: 0.5px solid #C6C6C6
    border-right: 0.5px solid #C6C6C6
.pay-img
    display: grid
    grid-template-columns: min-content auto
    position: relative
    margin-bottom: 15px;
    img
        height: 38px !important
        margin: auto
        margin-bottom: 4px
    .pay-section-img
        margin-left: 0 !important
    a
        position: absolute
        bottom: -10px
        left: 19px
.pay-item
    padding: 10px 20px
    color: #565555
    font-size: 14px
    img
        width: auto
        height: 50px
    button
        margin-top: 20px
        background: #CF0A2C
        color: white
        width: 80%
        @media (max-width: 700px)
            width: 100%
    .select-icon
        position: relative
        width: fit-content
        .icon-select
            position: absolute
            right: 15px
            top: 11px
            color: #CF0A2C
        select
            padding: 10px
            border-radius: 5px
            outline: none !important
            border: 0.3px solid #5A5A5A
            width: 195px !important
            &:focus
                outline: none !important
            option
                margin: 10px 0 !important
        select:focus 
            outline: none

.title-pay-product-detail
    font-size: 20px
    font-weight: 600
    color: #565555
.price-pay-product-detail
    font-size: 36px
    color: #565555
    @media (max-width: 700px)
        color: #5A5A5A
        font-weight: 600
        font-family: 'Open Sans', sans-serif;
.info-pay-product-detail
    h3
        color: #CF0A2C
        margin-bottom: 5px
        font-22px
        text-transform: capitalize
    p
        font-size: 15px
        margin-bottom: 5px
        color: #5A5A5A
    .no-web
        margin-right: 10px
    .icon-right
        margin-left: 12%
.pay-section-img
    width: 100%
.section-pay-type
    border-top: 0.5px solid #C6C6C6
    &.pay-movil
        background: white !important
    padding: 20px
    img
        width: auto
        height: 50px
    .section-pay-type-title
        display: grid
        grid-template-columns: 1fr auto
        grid-gap: 15px
        margin: 10px 0
        text-align: left
        h4
            color: #5A5A5A
            font-size: 17px
            font-weight: 600
        svg
            color: #CF0A2C
    .main-button
        width: 100%
        p
            margin: 0 !important
            color: white !important
    p
        margin: 10px 0px
        color: #5A5A5A
        font-size: 16px
    .section-pay-type-items
        padding: 20px 10px
.section-pay-send
    padding: 20px
    border-top: 0.5px solid #C6C6C6
    .section-pay-send-title
        display: grid
        grid-template-columns: auto 1fr
        grid-gap: 15px
        margin: 20px 0px
        color: #5A5A5A
        font-size: 16px
        svg
            color: #CF0A2C
    .section-pay-send-subtitle
        display: grid
        grid-template-columns: auto 1fr
        grid-gap: 15px
        color: #CF0A2C
        font-size: 15px
        p
            align-self: center
        svg
            font-size: 20px
    .section-pay-send-description
        margin: 20px 0px
        color: #5A5A5A
        font-size: 15px
.section-pay-wrap-seller
    border-top: 0.5px solid #C6C6C6
    padding: 20px
@media (max-width: 768px)
    .pay
        border-right: 0px
        border-bottom: 0px
        margin-bottom: 30px
        border-top: 0
    .section-pay-send
        background: white

