.principal-slider
    margin-bottom: 50px
    .slider
        height: 400px
        .previousButton
            left: 0px
            padding: 50px 20px
            background: #FFFFFF
            box-shadow: 0px 3px 6px #00000029
        .nextButton
            right: 0px
            padding: 50px 20px
            background: #FFFFFF
            box-shadow: 0px 3px 6px #00000029
        .slide
            height: auto
            overflow: hidden
            text-align: center